#supplier-details{
    z-index:10;
    position: absolute;
    background-color: white;
    width:84%;
    height: 65vh;
}

.info-label{
    width: 30%;
    font-size: 12px;
    font-weight: 500!important;
}

.info-value{
    font-size: 12px;
}

.scale-small{ 
    transform: translate(-80px,-60px) scale(0.9);
}

.email-app-content{
    margin-left:0!important;
}

.email-app-mail-content-detail{
    display: flex;
    flex-direction: column;
}

.email-app-mail-content-detail .info-header{
    background-color: #F5F5F5;
    height: auto;
}

.email-app-mail-content-detail .info-div{
    overflow-y:scroll; 
    overflow-x:hidden;
    height: calc(100% - auto);
}


.trigram::after{
    content: '\2630';
}

.bg-lightgrey{
    background-color: #E0E0E0;
}

.nav-item .nav-link.active{
    border-bottom:3px solid #2caeb0!important;
    color:#2caeb0;
}

@media (min-width: 992px){
    .email-app-list-mails {
        width:20%!important;
    }
    .email-application .email-app-mail-content{
        width:80%!important;
    }
}