.img{
    width: 55px;
    // height: 17%;
}
h5{
    font-weight: 600;
    font-size: 16px;
}
h5 span{
    color:rgb(216, 145, 145);
    margin-right: 10px;
}
.imgBox img{
    width: 50%;    
    -webkit-transition:.5s ease;-moz-transition:.5s ease;-ms-transition:.5s ease;-o-transition:.5s ease;transition:.5s ease;
}
.imgBox:hover{
    // position: static;
    cursor: pointer;
}
.imgBox:hover img{
    position: absolute;
    width: 150%;
    top: 20px;
    right: 10px;
}
h5 .form-control{
    display: inline-block;
    width: 50%;
    font-weight: 600;
}
h5 .form-control option{
    font-weight: 600;
}