.cc tr th{
    background-color: #000 !important;
    border-bottom: solid 1px #000 !important;
}
.required
{
    color: red;
}
.btn-primary{
     border: solid 1px #0069D9 !important;
     background-color: #0069D9 !important;
     margin-right: 25px;
}
.btn-Export{
    color: white;
    background-color: green;
}
.btn-zeroDiff{
    color: black;
    background-color: yellow;
}
.btn-reset{
    color: black;
    background-color: orangered;
}
.btn-search{
    color: white;
    background-color: palevioletred;
}
.btn-download
{
    color: white;
    background-color: green;
}
.tp{
    margin-top: 2em;
}
.approval_request
{
    color: Red;
    font-weight: 600;
}
.approved_request
{
    color: green;
    font-weight: 600;
}

.vl
{
    color: green;
    font-weight: 600;
}
.lbl
{
    color: rgb(0, 2, 128);
    font-weight: 600;
}