<form class="form paddingcard" #itemOfferForm="ngForm">
    <p>Are you sure you want to update offer current status Active/Deactive</p>

    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="chk-tp mt-4">
                        <label for="IsActive"> Status:</label><br>
                        <p-checkbox binary="true" id="IsActive" name="IsActive" [(ngModel)]="isConfirmActive"
                            label="Is Active" (ngModelChange)="onClickCustomer($event)">
                        </p-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions d-flex justify-content-end col-sm-12">
        <button type="button" class="btn btn-raised btn-primary mr-2" (click)="updateStatus()">
            Update
        </button>
        <button type="button" class="btn btn-raised btn-primary" (click)="onCancel()">
            Cancel
        </button>
    </div>
</form>