
#tax-details{
    z-index:10;
    position: absolute;
    background-color: white;
    width:75%;
    height: 75vh;
}

.scale-small{ 
    display: flex;
    transform:scale(0.9) translate(-80px,-60px);
}

.email-app-content{
    margin-left:0!important;
}

.email-app-mail-content-detail{
    display: flex;
    flex-direction: column;
}

.email-app-mail-content-detail .info-header{
    height: auto;
}

.email-app-mail-content-detail .info-div{
    overflow-y:auto; 
    overflow-x:hidden;
    height: calc(100% - auto);
}


.trigram::after{
    content: '\2630';
}

.bg-lightgrey{
    background-color: #E0E0E0;
}

.nav-item .nav-link.active{
    border-bottom:3px solid #2caeb0!important;
    color:#2caeb0;
}

@media (min-width: 992px){
    .email-app-list-mails {
        width:20%!important;
    }
    .email-application .email-app-mail-content{
        width:80%!important;
    }
}