h5{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    color: #0452a5;
  }
.fa-search{
  position: absolute;
    right: 24px;
    top: 40px;
    color: #ff5b1e;
}  
.searchBar{
  border-radius: 25px !important;
}
.btn-comment{
  background-color: #2b46d9;
  color: white;
}
.btn-comment-close{
  background-color: black;
  color: white;
}
.disabledBtn {
  cursor: not-allowed;  
}