.container {
    line-height: 24px;
}
h2, h4, strong {
    color: rgba(235, 90, 0, 1);
}
h3 {
    color: #666;
    padding: 5px 15px;
    margin: 100px 0px;
    text-align: center;
    font-size: 48px;
}
.panel-heading{
    margin: 15px 0px;
}
.imgBox {
    position: relative;
    width: 100%;
    height: 730px;
    overflow: hidden;
}
.imgBox img {
    width: 100%;
}
.imgBox h3 {
    background: none;
    color: rgba(235, 90, 0, 1);
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 60px;
    margin: 30px 0px;
}
.imgBox p {
    background: rgba(0,0,0,.7);
    position: absolute;
    left: 50px;
    top: 30%;
    color: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 20px;
    width: 435px;
    line-height: 38px;
}
.centerMission {
    width: 350px;
    display: inline-block;
    height: 350px;
    border: 2px solid #999;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    position: relative;
    padding-top: 130px;
}
.centerMission img {
    max-width: 98%;
}
.missionImg {
    position: absolute;
}

img.topLeft {
    top: 0px;
    left: -20px;
}

img.toprit {
    top: 0px;
    right: -20px;
}

img.botLeft {
    bottom: 0px;
    left: -20px;
}

img.botRit {
    bottom: -25px;
    right: -20px;
}

h4 {
    font-size: 36px;
}

.bottomSection {
    margin-top: 120px;
}

.value h5 {
    font-size: 22px;
    color: #000;
}

.smallContainer {
    max-width: 760px;
    margin: auto;
}

.valueImg {
    max-width: 780px;
    margin: 150px auto;
    display: block;
}

.mission p {
    font-size: 18px;
    display: inline-block;
    width: 70%;
}

@media (max-width:1400px){
    .centerMission{
        width: 280px;
        height: 280px;
        padding-top: 90px;
    }
    .bottomSection {
        margin-top: 55px;
    }
    h4{
        font-size: 28px;
    }
    .mission p {
        font-size: 14px;
    }
    .imgBox {
        height: 450px;
    }
    .mission p {
        width:100%;
    }
   
}

@media (max-width:1200px){
    .centerMission{
        width: 200px;
        height: 200px;
        padding-top: 70px;
    }
    .centerMission img.missionImg {
        width: 65px;
    }
    h4{
        font-size: 20px;
    }
    .mission p {
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width:767px){
    .imgBox{
        height: auto;
    }
    h3{
        margin: 50px 0px;
    }
    .centerMission{
        display: none;
    }
    .mission h4, .mission p{
        text-align: left;
    }
    .bottomSection{
        margin-top:0px;
    }
    .imgBox p{
        font-size: 20px;
        line-height: 28px;
    }
    .valueImg{
        margin-top: 50px;
        width: 100%;
    }
}