h5{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    color: #0452a5;
  }

.btn-print{
    color: white;
    background-color: #1337d4;
}  

.btn-export{
    color: white;
    background-color: green;
}  

tr:nth-child(even) {
    background-color: #fff !important;
}

.cc tr th{
    background-color: #000 !important;
}

.cc h5{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    color: #a5040a;
}
// .classId
// {
//     align-items: center;
// }