.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}


.wcr{
    widows: 100px;
    height: 100px;
}

.required{
 font-size: 16px;   
color: red;
}