.bx {
  border-radius: 5px;

  .bx-1 {
    border: solid 1px lightgray;
    display: block;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
  }
}

.img-square {
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.edt {
  padding: 12px;
  border: solid 2px rgb(99, 99, 236) !important;
}

img {
  width: 20%;
}

.btm {
  padding-bottom: 10em;
}

.abs {
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 2;
  height: 200%;
  vertical-align: middle;
  // background-image: url("assets/img/c1.png");
  background-repeat: no-repeat;
}

img {
  width: 20%;
}

.btm {
  padding-bottom: 10em;
}

.rem {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.btn {
  margin-right: 0.3em !important;
}

.nte {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.8em;
  color: red;
  text-align: right;
}

.lnk {
  color: blue !important;
  // font-size: 1.1rem;
  font-weight: 600;
  margin-right: 0.8em;
  border: none;
  background: white;
}

.bl {
  color: gray !important;
  // font-size: 1.1rem  ;
  font-weight: bold;
}

.hdd {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.lnkBl {
  color: blue !important;
  font-size: 1.1rem;
  font-weight: bold;
}
.lnkBl-cr{
  color: blue !important;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
.cr {
  color: #ffffff;
  background: #34a835;
}

// tr > th {
//   border-bottom: 2px solid #424242!important;
//   padding-right: 5em;
// }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

// tr:nth-child(even) {
//    background-color: #dddddd;
// }

.pull-rt {
  text-align: right;
}

.dngr {
  background-color: #ee2e2e;
  border: solid 1px #ee2e2e;
  border-radius: 0px 5px 5px 0px;
  color: white;
}

.bb {
  color: #ee2e2e !important;
  margin-right: 20px;
}
form .form-actions {
  border-top: none !important;
  
  margin-top: 0px !important;
}
.p-3 {
  padding: 1.1rem !important;
}
.pd {
  padding-left: 0.6em;
}
.pd1 {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

form {
  margin: 15px 0px 0px 0px;
}

