.add{
    background: #0CC27E;
    color: white;
}

.thClass{
    padding:5px 15px;
     text-align: center;
      margin: 0px;
       min-width:100px; 
       border:1px solid grey !important;
}

p-dialog .ui-dialog {
    overflow: scroll;
    max-height: 70%;
  }