<!-- <div class="row">
    <div class="col-sm-12">
        <div class="content-header">Add Packing Material </div>
    </div>
</div>
<br />

<div class="mt-2 ">
    <form class="form" name="infoForm" #infoForm="ngForm" autocomplete="off">
        <div class="row">
         
          
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Material Name<span style="color:red"> *</span></label>
                    <select id="Material" class="form-control" name="Material" [(ngModel)]="data.BagId" required="1"
                        #Material="ngModel">
                        <option value="">--Select--</option>
                        <option *ngFor="let s of BagList" [ngValue]="s.BagId">
                            {{ s.BagName }}
                        </option>
    
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name"> Item Base Name<span style="color:red"> *</span></label>
                    <span class="ui-fluid">
                    <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="groupedItemList1" (completeMethod)="getCentralItems($event)" tyleClass="wid100"
                    [minLength]="1" placeholder="enter at least 3 chars" field="itemname" name="itemname" (onSelect)="onSelect()" [multiple]="true">
                    </p-autoComplete>
                   
                </span>  
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="UOM">Unit Of Measurement:<span style="color:red;"></span></label><br />
                    <select class="form-control" id="site-name" name="unit" [(ngModel)]="data.UnitOfMeasurement" required="1"
                        #UOM="ngModel">
                        <option value="Kg">Kg</option>
                        <option value="Pc">Pc</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Select Buyer<span style="color:red"> *</span></label>
                    <select id="buyer" class="form-control" name="buyer" [(ngModel)]="data.buyerId" required="1"
                        #buyer="ngModel">
                        <option value="">--Select--</option>
                        <option *ngFor="let s of buyerList" [ngValue]="s.PeopleID">
                            {{ s.DisplayName }}
                        </option>
    
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="UOM">From Conversion:<span style="color:red;"></span></label><br />
                    <select class="form-control" id="FromC" name="FromC" [(ngModel)]="data.FromConversion" required="1"
                        #FromC="ngModel">
                        <option value="Kg">Kg</option>
                        <option value="Pc">Pc</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="UOM">To Conversion:<span style="color:red;"></span></label><br />
                    <select class="form-control" id="ToC" name="ToC" [(ngModel)]="data.ToConversion" required="1"
                        #ToC="ngModel">
                        <option value="Kg">Kg</option>
                        <option value="Pc">Pc</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">From Conversion Value<span style="color:red"> *</span></label>
                    <input type="number" id="FromV" class="form-control" name="FromV" [(ngModel)]="data.FromValue"
                        required="1" #FromV="ngModel" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">To Conversion Value<span style="color:red"> *</span></label>
                    <input type="number" id="ToV" class="form-control" name="ToV" [(ngModel)]="data.ToValue"
                        required="1" #ToV="ngModel" />
                </div>
            </div>
          
            <div class="form-actions right col-sm-12 p-3">
                <button type="submit" class="btn btn-raised btn-primary mr-1" (click)="onSave(infoForm)">
                  
                    Save
                </button>
                <button type="button" class="btn btn-raised btn-primary mr-1" (click)="back()">Back</button>
            </div>
        </div>
    </form>
    </div> -->




    <div class="ui-fluid">
        <div class="ui-g">
          <div class="ui-g-12">
            <p-toast [style]="{marginTop: '80px'}" appendTo="body"></p-toast>
          </div>
        </div>
      </div>
      
      <div class="row">
        <h4  style="padding-top: 20px; padding-left: 20px"><b>Add BOM</b></h4>
      </div>
      <div class="mt-2">
        <form class="form" name="infoForm" #infoForm="ngForm" autocomplete="off">
          <div class="row">
            <!-- <div class="form-group col-md-3">
                <label for="name">Outer Bag Name  <span style="color:red"> *</span></label> <!--(change)="onOuterBagCahnge(data.OuterBagId)"-->
                <!-- <input id="outer" class="form-control" name="outer" [(ngModel)]="outerBagname"  disabled>  -->
                    <!-- <option value="">--Select--</option>
                    <option *ngFor="let s of OuterBagList" [ngValue]="s.OuterBagId">
                        {{ s.BagName }}
                    </option>

                </select> -->
            <!-- </div> -->
        </div>
            <!-- <div class="row">
                <button class="btn btn-raised btn-primary" style="margin-left: 10px; margin-top: 10px;"  (click)="itemAdding()">Add Item</button>
              </div> -->
              <div class="row" ><!-- *ngIf="isItemAdding"-->
            <!-- <div class="form-group col-md-3">
                <label for="name">Inner Material<span style="color:red"> *</span></label>
                <select id="inner" class="form-control" name="inner" [(ngModel)]="data.BagDescId" required="1"
                    #Material="ngModel">
                    <option value="">--Select--</option>
                    <option *ngFor="let s of innerBagList" [ngValue]="s.BagDescId">
                        {{ s.BagName }}
                    </option>

                </select>
            </div> -->
            
            <div class="form-group col-md-3">
                <label for="name"> Item Name<span style="color:red"> *</span></label>
                <span class="ui-fluid">
                <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="groupedItemList1" (completeMethod)="getCentralItems($event)" tyleClass="wid100"
                [minLength]="1" placeholder="enter at least 3 chars" field="itemname" name="itemname" (onSelect)="onSelect()">
                </p-autoComplete>
                <!-- <p-autoComplete styleClass="wid100" [(ngModel)]="selectedItem" [suggestions]="groupedItemList1"
                    (completeMethod)="getCentralItems($event)" field="itemBaseName" [size]="30"
                    placeholder="enter at least 3 chars" [minLength]="1" (onSelect)="onSelect()"
                    (ngModelChange)="onmodelChange(selectedItem)" name="itemname" required="true" #itemBaseName="ngModel">
                        <p-multiSelect [style]="{minWidth:'55em'}"id ="role=" name="role" [options]="groupedItemList1" [(ngModel)]="selectedRole"  #role="ngModel" [panelStyle]="{minWidth:'25em'}" optionLabel="RoleName" ></p-multiSelect>
                   
                </p-autoComplete> -->
            </span>  
            </div>
            <!-- <div class="form-group col-md-3">
                <label for="UOM">Unit Of Measurement:<span style="color:red;"></span></label><br />
                <select class="form-control" id="site-name" name="unit" [(ngModel)]="data.UnitOfMeasurement" required="1"
                    #UOM="ngModel">
                    <option value="Kg">Kg</option>
                    <option value="Pc">Pc</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="name">Quantity<span style="color:red"> *</span></label>
                <input type="number" id="FromV" class="form-control" name="FromV" [(ngModel)]="data.Quantity"
                    required="1" #Quantity="ngModel" />
            </div> -->
            <div class="form-group col-md-1 float-right" >
                <button class="btn btn-raised btn-primary" style=" margin-top: 30px;"  (click)="Add(data)">Add</button>
                </div>
            <!-- <div class=" form-group col-md-12 " >
                <button class="btn btn-raised btn-primary  float-right" style=" margin-right: 20px;"  (click)="Add(data)">Add</button>
               </div> -->
              
          </div>
          <div class="row" style="float: right; margin-right: 20px;" *ngIf="getTableData.length > 0">
              <!-- <button class="btn btn-raised btn-warning" style="margin-right: 5px;" (click)="onCancel()">Cancel</button> -->
              <button class="btn btn-raised btn-primary"  (click)="onSave()">save</button>
          </div>
        </form>
      
      
      </div>
      
      
      <div class="row " style="margin-top:50px; margin-left: 10px;">
      
        <table>
          <thead>
            <tr style="background: lightgray">
              <!-- <th>Outer Bag Name</th> -->
              <!-- <th>Inner Bag Name</th> -->
              <th>Item Name</th>
              <!-- <th>UOM</th>
              <th>Quantity</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of getTableData"[ngStyle]="{'background-color':'#FFEBEE'}">
              <!-- <td>{{i.OuterBagName}}</td> -->
              <!-- <td>{{i.InnerBagName}}</td> -->
              <td>{{i.ItemName}}</td>
              <!-- <td>{{i.UnitOfMeasurement}}</td>
              <td>{{i.Quantity}}</td> -->
            </tr>
          </tbody>
        </table>
   
      
      </div>