.sd{
    display: inline;
}
.ml{
    padding-left: 38%;
}
.de{
    margin-right: 25px;
}
.ee{
    padding: 1% 7%;
}
.btn-danger{

    background-color: rgb(0, 180, 255);
    border-color: rgb(0, 180, 255);
}
.ww {
    color: #ffffff !important;
    background-color: #0cc27e !important;
    border: solid 1px #0cc27e !important;
    opacity: 1;
  }
