<div calss = row style="height: 40px ">
  <div class="row  float-right " style="height: 60px ; padding-right: 15px">
      <button type="button" class="btn btn-raised btn-primary float-right align-self-end" style="margin-top: auto;" (click) = "addAgentMaster()" >
          <i class="fa fa-plus-circle"></i> Add Agent Masterrr
        </button>
  </div>
  
  <!-- <div class="container h-100">
      <div class="d-flex justify-content-left ">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search..."  >
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div> -->
  </div>
 
  <p-confirmDialog #cd appendTo="body" header="Confirmation">
    <p-footer>
  
      <button type="button" class="btn btn-raised btn-primary mr-1" (click)="cd.reject()">No</button>
      <button type="button" class="btn btn-raised btn-danger mr-1" (click)="cd.accept()">Yes</button>
    </p-footer>
  </p-confirmDialog>
  
  <div class="ui-fluid shadow p-3 mb-5 bg-white rounded table table-hover">
    <div class="position-relative">
      <div class="position-absolute country-details" *ngIf="isDetails">
        <app-agent-details [details]="selectedRowDetails" [activeFields]="activeFields"
          (isdetailsclose)="isDetailsFalse($event)" (refreshParent)="ngOnInit()" (deleteSelected)="onDelete($event)"
          class="d-flex justify-content-end"></app-agent-details >
      </div>
  
          <div class="position-relative ">
              <p-table  #dt [globalFilterFields]="cols"  [value]="agentMasterList" [paginator]="true" [rows]="20" dataKey="PeopleID" [scrollable]="true" scrollHeight="70vh" text-align: center>
               
                <ng-template pTemplate="header" >
                    <div style="text-align: right">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                  <tr>
            
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" style="text-align: center" >
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <!-- <th style="text-align: center">Action</th> -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData  let-columns="columns"  let-expanded="expanded" >
                  <tr  (click)="openDetails(rowData,$event)">
                    <!-- <td>
                      <a href="javascript:void(0);" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                      </a>
                    </td>
                     -->
                    <td *ngFor="let col of cols" style="text-align: center">
                      {{rowData[col.field]}}
                    </td>
                    <!-- <td style="text-align:center">
                    
                        <i style="cursor: pointer;" class="ft-trash-2 danger font-medium-1 mr-2" (click)= "open(content)" data-toggle="modal" data-target="#exampleModal"></i>
            
                        <ng-template #content let-modal>
                          <div class="modal-header">
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body d-flex flex-column align-items-center">
                            <h2>Are You Sure?</h2>
                            <form class="col-12">
                                <div class="form-group col-12">
                                    <label for="DeleteComment">Add Comments</label>
                                    <textarea class="form-control" id="DeleteComment" rows="3"  name="DeleteComment" [(ngModel)] = "rowData.DeleteComment" ></textarea>
                                </div>
                            </form>
                          </div>
                          <div class="modal-footer d-flex p-0 justify-content-center">
                            <button type="button" class="btn btn-lg btn-raised btn-primary align-self-stretch col-6 rounded-0" (click)="modal.close('No click')">Cancel</button>
                            <button type="button" class="btn btn-lg btn-raised btn-danger ml-0 col-6 rounded-0" (click)="onDelete(rowData)">Delete</button>
                          </div>
                        </ng-template>
                    </td> -->
                  </tr>
                </ng-template>
                <!-- <ng-template pTemplate="rowexpansion" let-rowData  let-columns="columns" >
                  <tr>
                    <td colspan="7"> 
                      <app-add-tax-master [TaxID]="rowData.TaxID">
                      </app-add-tax-master>
                    </td>
                  </tr>
                </ng-template> -->
              </p-table>
          </div>
      </div>
  
    
  </div>