.container-fluid{
    padding-bottom: 50px;
}

.head-left select,input{
    width: 180px;
    height: 40px;
    margin-right: 20px;
    border: solid 1px #ddd;
    outline: none;
    border-radius: 5px;
    color:gray;
    padding-left: 10px;
}

.head-right button:nth-child(1){
    background-color: #EB5353;
    color: #fff;   
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    margin-left: 10px;
}
.head-righttt button:nth-child(1){
    background-color: #a31a1a;
  
    color: #fff;   
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    margin-left: 10px;
}
.head-right button:nth-child(2){
    background-color: #F9D923;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    margin-left: 10px;
}
.head-right button:nth-child(3){
    background-color: #4D96FF;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    margin-left: 10px;
}
table tr th{
    background-color: lightblue !important;
    color: #fff !important;
}
.progress{
    background-color:#32bd1c;//#A64B2A;
    color: #fff;
    border-radius: 50px;
}
.progress-bar{
    background-color:#ff5151;//#C69B7B ;
    color:#fff;
    border-radius: 50px;
}
.progress-greenbar{
    background-color:#32bd1c;//#A64B2A;
    color: #fff;
}
.table tr td:last-child{
    color:red;
    font-weight: bold;
} 
.table tr td{
   font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .d-flex{
        flex-direction: column !important;
        display: flex !important;
    }
    .head-left{
        width: 100%;
    }
    .head-left label{
        width: 100% !important;
        margin-right: 10px !important;       
    }
    .head-left label select,input{
        width: 100% !important;
        margin-bottom: 10px !important;       
    }
    .head-right button:nth-child(1){
        margin-left: 0px;
    }
    .last-val{
        position: absolute !important;
        right:20px !important;
        background-color:#32bd1c;//#A64B2A;
    }
}

@media screen and (max-width: 500px) {

    .head-right button:nth-child(1){
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .head-right button:nth-child(3){       
        margin-left: 0px !important;
    }

}
.bl{
    font-weight: bold;
}

