.ttl-sl{
    // max-width: 70% !important;
    background: #84e0a9;
    max-width: 50% !important;
}


.ttl-sl-2{
    // max-width: 70% !important;
    background: #f0bca5;
    max-width: 50% !important;
}


.vtnt{
    padding: 15px;
    text-align: center;
    width: 100%;
}


.bck{
    max-width: 25% !important;
}

.rghtt{
    border-left: solid 1px gray;
}