.menus-table-header {
    margin: 15px 0;

    nav {
        background-color: #f4f4f4;
        border-color: #f4f4f4;
    }   
}

.menus-table {
    border-collapse: separate;
  border-spacing: 10px;
    th, td {
        // background-color: transparent;
        // border: none;
        // background-color: red;
        padding: 12px 12px 12px 12px;
    }
}

.imgzoom:hover{
  height: 250px;
  width: 250px;
}

.menu-tr-header{
    background-color: white;
}