.searchField{
    position: relative;
  }
  .searchField input{
    border: none;
    box-shadow: 0px 1px 6px 0px #ccc;
    border-radius: 15px;
    padding: 5px;
    text-indent: 10px;
    margin-top: 15px;
  }
  .searchField i{
    position: absolute;
    top: 24px;
    right: 24px;
    color: #666;
  }
  