.m-2{
    font-weight: 400;
    margin-top: 25px !important;
    margin-left:-20px !important;
}
._success{
    background: #0CC27E;
    border: #0CC27E;
}
._info{
    background: #189fb6;
    border: #189fb6;
    color: white;
}
label{
    font-weight: 400;
}
// tr > td, tr > th{
//     padding-top: 0.8em!important;
//     padding-bottom: 0.8em!important;
//     // background-color: #E0E0E0;
//     border: 1 !important;
//     height: 3%;
//     // border-bottom: 1px solid #E0E0E0!important; 
//     border-bottom: 1px solid black!important; 
// }

// table, th, td {
//     border: 1px solid black !important;
//     border-collapse: collapse;
//     height: 3%;
//   }

