<!-- <div Class="row">
  <form class="form form-inline" name="form">
  <div class="col-md-4">
    <div class="form-group my-2">
      <label for="ware" class="col-md-6">Choose Warehouse:</label>
      <select id="ware" class="form-control col-md-6" name="ware" [(ngModel)]="Warehouseid" (change)="getOrders(Warehouseid)">
        <option value="">--Select--</option>
        <option *ngFor="let w of warehouseList" [ngValue]="w.WarehouseId">
          {{ w.WarehouseName }} {{w.CityName}}
        </option>
      </select>
    </div>
  </div>
    <div class="col-md-4">
    <div class="form-group my-2">
        <label for="active" class="col-md-6"> Tranfer To Hub</label>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input " id="customCheckboxInline1" name="customCheckboxInline1" type="checkbox" [(ngModel)]="Active">
          <label class="custom-control-label" for="customCheckboxInline1"></label>
        </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="Active">
        <div class="form-group my-2">
          <label for="ware" class="col-md-4">Choose Warehouse:</label>
          <select id="ware" class="form-control col-md-4" name="whouse"[(ngModel)]="Warehouseid1" >
            <option value="">--Select--</option>
            <option *ngFor="let w of warehouseList" [ngValue]="w.WarehouseId">
              {{ w.WarehouseName }} {{w.CityName}}
            </option>
          </select>
          <button type="button"  class="btn btn-raised btn-warning col-md-3 " (click) = "onTransfer(Warehouseid1)">
              <i class="ft-save"></i> Transfer
            </button>
        </div>
     
      </div>
      </form>
  </div> -->
<!-- <div class="row">
  <form class="form form-inline" name="form" #testForm="ngForm" autocomplete="off" ngNativeValidate>
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <div class="form-body">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label for="ware">Choose Warehouse:</label>
              <select id="ware" class="form-control " name="ware" [(ngModel)]="Warehouseid"
                (change)="getOrders(Warehouseid)">
                <option value="">--Select--</option>
                <option *ngFor="let w of warehouseList" [ngValue]="w.WarehouseId">
                  {{ w.WarehouseName }} {{w.CityName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label for="active" class="col-md-12"> Tranfer To Hub</label>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input " id="customCheckboxInline1" name="customCheckboxInline1"
                  type="checkbox" [(ngModel)]="Active">
                <label class="custom-control-label" for="customCheckboxInline1"></label>
              </div>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="form-group ">
              <label for="ware">Choose Warehouse:</label>
              <select id="ware" class="form-control" name="whouse" [(ngModel)]="Warehouseid1">
                <option value="">--Select--</option>
                <option *ngFor="let w of warehouseList" [ngValue]="w.WarehouseId">
                  {{ w.WarehouseName }} {{w.CityName}}
                </option>
              </select>
  
            </div>
           
          </div>
          </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-raised btn-warning  " (click)="onTransfer(Warehouseid1)">
                <i class="ft-save"></i> Transfer
              </button>
        </div>
      </div>
    </div>
  </form>
</div> -->


<div class="ui-fluid">
  <section id="basic-form-layouts">

    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="px-3">
              <form class="form form-inline" name="form" autocomplete="off">

                <div class="form-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group my-2">
                        <label for="ware" class="col-md-6"> From Warehouse:</label>
                        <select id="ware" class="form-control col-md-6" [disabled]="true" name="ware" [(ngModel)]="Warehouseid"
                          (change)="getOrders(Warehouseid)">
                          <option value="null">--Select Warehouse--</option>
                          <option *ngFor="let w of warehouseList" [ngValue]="w.WareHouseId">
                            {{ w.WareHouseName }} {{w.CityName}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                      <div class="form-group my-2">
                        <p style="margin-left: 295px;"> to </p>
                        <!-- <label for="active" class="col-md-6"> Tranfer To Hub</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                          <input class="custom-control-input " id="customCheckboxInline1" name="customCheckboxInline1"
                            type="checkbox" [(ngModel)]="Active" >
                          <label class="custom-control-label" for="customCheckboxInline1"></label>
                        </div> -->
                      </div>
                    </div>

                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                      <div class="form-group my-2">
                        <label for="ware" class="col-md-6"> To Warehouse:</label>
                        <select id="ware" class="form-control col-md-6" name="whouse" [(ngModel)]="Warehouseid1">
                          <option value="null">--Select Warehouse--</option>

                          <ng-container *ngFor="let w of warehouseList">

                            <option *ngIf="w.WareHouseId != Warehouseid" [ngValue]="w.WareHouseId">
                              {{ w.WareHouseName }} {{w.CityName}}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group my-2">
                        <button type="button" class="btn btn-raised btn-primary float-right align-self-end"
                          style="margin-bottom: 0;" (click)="onTransfer(Warehouseid1)">
                          <i class="ft-save"></i> Transfer </button>

                        <!-- <button [disabled]="!Warehouseid || !Warehouseid1" type="button"
                          class="btn btn-raised btn-warning" (click)="onTransfer(Warehouseid1)">
                          <i class="ft-save"></i> Transfer
                        </button> -->
                      </div>
                    </div>

                  </div>
                </div>



              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

</div>





<div class="row scroll" style="margin-left:50px">
  <!-- <div class="col-md-12"> -->
  <table>
    <thead>
      <tr style="background: grey">
        <th>OrderId</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of orderList">
        <td>{{i.OrderId}}</td>
        <td>{{i.Status}}</td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->

</div>

<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->