table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  .scroll{
    overflow: scroll;
    max-height: 60%
    
  }
  .buttoncss{
    margin-top: 10px;
    margin-right: 5px
  }

  .card{
    box-shadow: none!important;
}

.form-inline label{
    justify-content: flex-start;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.bg-grey50{
    background-color: #FAFAFA!important;
}