.Pending{
    color: red;
    font-weight: bold;
}

.Issued{
    font-weight: bold;
}

.Shipped{
    color: green;
    font-weight: bold;
}

.Delivery.Redispatch{
    color: #1976d2;
    font-weight: bold;
}

.Ready.to.Dispatch{
    color: #89a50b;
    font-weight: bold;
}

.label.BOLD {
    padding: 0.5em 0.8em !important;
    display: inline !important;
    padding: 0.2em 0.6em 0.3em !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: white !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.25em !important;
    background-color:#f90808 !important;
}

.label.Fail {
    padding: 0.5em 0.8em !important;
    display: inline !important;
    padding: 0.2em 0.6em 0.3em !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: white !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.25em !important;
    background-color:#eb5a00 !important;
}

.label.Miss {
    padding: 0.5em 0.8em !important;
    display: inline !important;
    padding: 0.2em 0.6em 0.3em !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: white !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.25em !important;
    background-color:#a58902 !important;
}

.label.Hit {
    padding: 0.5em 0.8em !important;
    display: inline !important;
    padding: 0.2em 0.6em 0.3em !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: white !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.25em !important;
    background-color:#033e15 !important;
}

