.test:hover{
    background:rgb(211, 235, 107);
    cursor: pointer;
}
.test1:hover{
    background:rgb(192, 214, 255);
    cursor: pointer;
}
.test2:hover{
    background:rgb(255, 192, 229);
    cursor: pointer;
}
.test3:hover{
    background:rgb(192, 255, 252);
    cursor: pointer;
}
.test4:hover{
    background:rgb(223, 96, 107);
    cursor: pointer;
}
.test5:hover{
    background:rgb(223, 96, 107);
    cursor: pointer;
}
.ui-datatable .ui-datatable-thead > tr > th {
    background: red;
}
tbody tr:nth-child(even){
    background: #d34ebd;
}
tr > td, tr > th{
    padding-top: 0.8em!important;
    padding-bottom: 0.8em!important;
    background-color: white;
    border: 0!important;
    border-bottom: 1px solid #E0E0E0!important; 
}
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
