.btn_tp
{
    margin-top: 2em;
    margin-left: 1em;
}
.btn-success {
    color: #fff !important;
    background-color: #0CC27E !important;
    border-color: #0CC27E;
}
.btn-info {
    color: #fff !important;
    background-color: #1CBCD8 !important;
    border-color: #1CBCD8;
}
.mr_left{margin-left: 1em;}
.header
{
    font-size: 2em;
    font-weight: bold;
    color: orangered;
    text-align: center;
    text-decoration: underline;
}