.input-color {
    position: relative;
}

    .input-color input {
        padding-left: 20px;
    }

    .input-color .color-box {
        width: 10px;
        height: 10px;
        display: inline-block;
        background-color: #ccc;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .orderType {
        position: absolute;
        top: 0px;
        z-index: 9;
        line-height: 19px;
        text-indent: -5px;
        color: red;
        font-size: 12px;
        font-weight: 600;
    }

        .orderType:after {
            content: '';
            background: yellow;
            width: 30px;
            height: 30px;
            position: absolute;
            left: -25px;
            transform: skew(-49deg);
            z-index: -1;
        }

    .ReebokorderType {
        position: absolute;
        top: 0px;
        z-index: 9;
        line-height: 166px;
        text-indent: -5px;
        color: red;
        font-size: 14px;
        font-weight: 600;
    }
    .modal-dialog {
        width: 70% !important;
    }

    .redispatch {
        color: blue;
    }

    .delivered {
        color: forestgreen;
    }

    .canceled {
        color: red;
    }

    td:first-child {
        position: relative;
        overflow: hidden;
        line-height: 18px;
        text-indent: 20px;
    }

    .orderType {
        position: absolute;
        top: 0px;
        z-index: 9;
        line-height: 19px;
        text-indent: -5px;
        color: red;
        font-size: 12px;
        font-weight: 600;
    }

        .orderType:after {
            content: '';
            background: yellow;
            width: 30px;
            height: 30px;
            position: absolute;
            left: -25px;
            transform: skew(-49deg);
            z-index: -1;
        }

    .ReebokorderType {
        position: absolute;
        top: 0px;
        z-index: 9;
        line-height: 166px;
        text-indent: -5px;
        color: red;
        font-size: 14px;
        font-weight: 600;
        display : block;
        width : 100%
    }



    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }

        #printThisElement {
            display: block !important;
        }

        #page-break {
            display: block;
            page-break-before: always;
        }
    }

    #printThisElement {
        display: none;
    }
    .contact-info span {
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }

    .contact-info hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .client-info {
        font-size: 15px;
    }

    .ttl-amts {
        text-align: right;
        padding-right: 70px;
    }

    .containers {
        padding-left: 45px;
        padding-right: 45px;
    }

    .box-size {
        font-size: 16px !important;
        height: 30px;
        width: 50%;
    }

    .capitalize {
        text-transform: capitalize;
    }

    .HIT {
        background-color: #033e15
    }

    .Miss {
        background-color: #a58902
    }

    .Fail {
        background-color: #eb5a00 !important;
    }
    .FailNew {
        background-color: rgb(255, 153, 153) !important;
    }

    .BOLD {
        background-color: #f90808 
    }
    .rebook {
        white-space: initial;
        text-align: center;;
    }
    // .txt{
        
    // }
   