.datascroll{
     overflow-x: scroll;
     overflow-y: scroll;
     width : 100%;
     max-height:600px;
}

td,th{
    padding: 10px!important;
    border: 1px solid black !important;
}
table {
    border-collapse: collapse!important;
  }

  .btn[class*="btn-"] {
     margin-bottom: 0rem!important;
}
  
  
// thead, tbody { display: inherit; }

// tbody {
//     height: 50px; 
//     width: 100%;      /* Just for the demo          */
//     overflow-y: auto;    /* Trigger vertical scroll    */
//     overflow-x: hidden;  /* Hide the horizontal scroll */
// }
