
<p-toast class="toast"></p-toast>
  <section id="basic-form-layouts">
    <div class="row text-left">
       
        <form class="form form-inline" name="form">
            <div class="form-body">
            <div class="header">
                <h3 class="m-2">Supplier Advance Payment</h3>
            </div>
      
       <!-- <div class="col-md-12"> -->

          <div class="row  col-md-12">
          <div class="col-md-6">
              <div class="form-group m-2">
              <label for="apayment" class="col-md-6"><b>Advance Amount:</b><span  style="color:red"> *</span></label>
              <!-- <div class="col-md-6"> -->
                <input type="text" id="apayment" class="form-control col-md-6" name="apayment"
                  [(ngModel)]="advancepayment.Amount" placeholder="enter the amount" required="1" maxlength="50" minlength="2"
                  />
              <!-- </div> -->
            </div>
          </div>
            <div class="col-md-6">
                <div class="form-group m-2">
                <label for="poId" class="col-md-6"><b>PO Id:</b></label>
                <!-- <div class="col-md-6"> -->
                <select id="poId" name="poId" class="form-control col-md-6"
                  [(ngModel)]="advancepayment.POId" placeholder="Select poId">
                  <option *ngFor="let poid of poidlist" [ngValue]="poid">
                    {{ poid }}
                  </option>
                </select>
              <!-- </div> -->
            </div>
            </div>
          </div>
            <div class="float-right mx-4">
                <button type="button" class="btn btn-raised btn-warning mr-1" >
                  Cancel
                </button>
                <button type="button" class="btn btn-raised btn-primary" (click)="addpayment(advancepayment)">
                  Save
                </button>
              </div>
              <!-- </div> -->
                </div>
            </form>
            </div>
       
  </section>

