  .card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.form-inline label{
    justify-content: flex-start;
}


.brand-details{
  width:100%;
  z-index: 5;
}
.ui-table table {
  border-collapse: collapse;
  width: 472% !important; 
  table-layout: fixed;
}
.table {
  width: 474% !important;
  margin-bottom: 1.5rem;
  color: #212529;
}