.btn-new{
    color: white !important;
    margin-top: 30px;
}

.rght{
    float: right;
}
.btn-success
{
    background-color: #0a9e67;
}

tr:hover{
    cursor: pointer;
}

.sel{
    background-color: cadetblue !important;
}


.rght-windw{
    z-index: 11;
    position: fixed;
    right: 0px;
    top: 10%;
    border: solid 1px darkgrey;
    width: 249px;
    margin-right: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 3px;
    opacity: 0.9;
    color:    black;   
}

.tt{
    table{    
        width: 100%;
    }
    td{
        border: solid 1px black !important;
        padding: 0px 0px 0px 8px ;
    }
    th{
        border: solid 1px black !important;
        background-color: rgb(99, 8, 8);
        color: white;
        padding: 4px 4px 4px 8px ;
    }
}

.bt-tb{
    margin: 10px 3px 10px 3px;
    text-align: center;
    background-color: currentColor;
    border: solid 2px black;
    border-radius: 5px;

    .cntn{
        color: white;
        padding: 10px 0px 10px 0px;
    }
}

.bt-tb:hover{
    cursor: pointer;
    background: rgb(99, 8, 8);
}

.a1
{
    margin-bottom: -65px !important;
}

.b1
{
    padding-left: 10px !important;
    margin-right: 10px !important;
}
.op
{
    opacity: .5;
    background-color: palevioletred;
}

.grp{
    border: solid 1px black;
    margin-bottom: 15px;

}

label{
    font-weight: bold;
}


.nt-alwd{
    background-color: aquamarine !important;
    color: black;
}
