<div class="ui-fluid">
  <section id="basic-form-layouts">

    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header pb-2">
          </div>
          <div class="card-content">
            <div class="px-3">
              <form class="form" name="form" #accgroupForm="ngForm">
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-user"></i> Add Account Group Info</h4>
                  <div class="row col-md-12" *ngIf="accountGroup">
                    <div class="col-md-6">
                      <div class="form-group m-2">
                        <label for="fname"class="col-md-6"> Name</label>
                        <div class="col-md-6">
                        <input type="text" id="fname" class="form-control" name="fname"
                          [(ngModel)]="accountGroup.Name" placeholder="Enter Name" required="1" maxlength="50" minlength="2"
                          #firstName="ngModel" />
                        <div *ngIf="isInvalid && !firstName.valid && firstName.errors.required">
                          <code>Name is required</code>
                        </div>
                        <div *ngIf="isInvalid && !firstName.valid && firstName.errors.minlength">
                            <code>Minlength 2</code>
                          </div>
                      </div>
                   </div>
                  </div>
                
                    <div class="col-md-6">
                      <div class="form-group m-2">
                        <label for="alias"class="col-md-6"> Alias</label>
                        <div class="col-md-6">
                        <input type="text" id="alias" class="form-control" name="alias"
                          [(ngModel)]="accountGroup.Alias" placeholder="Enter Alias" required="1" maxlength="50" minlength="2"
                          #aliasName="ngModel" />
                          <div *ngIf="isInvalid && !aliasName.valid && aliasName.errors.required">
                              <code>Alias Name is required</code>
                            </div>
                            <div *ngIf="isInvalid && !aliasName.valid && aliasName.errors.minlength">
                                <code>Minlength 2</code>
                              </div>
                              </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group m-2">
                        <label for="pgroup"class="col-md-6"> ParentGroupID</label>
                        <div class="col-md-6">
                        <input type="text" id="pgroup" class="form-control" name="pgroup"
                          [(ngModel)]="accountGroup.ParentGroupID" placeholder="Enter ParentGroup">
                      </div>
                      </div>
                    </div>
                    <!-- <div class="col-sm-6">
                      <div class="form-group">
                        <label for="fname"> </label>
                        <input type="text" id="fname" class="form-control" name="fname"
                          [(ngModel)]="accountType.Name" placeholder="Enter Name">
                      </div>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group m-2">
                        <label for="desg"class="col-md-6">AccountType</label>
                        <div class="col-md-6">
                        <select id="desg" name="desg"  class="form-control"  [(ngModel)]="accountGroup.AccountTypeID">
                          <option *ngFor="let at of accountTypeList" [ngValue]="at.ID">
                            {{ at.Name }}
                          </option>
                        </select>
                      </div>
                      </div>
                    </div>
                </div>
  
              
            </div>
                <div class="form-actions right col-sm-12 p-3">
                  <button type="button" class="btn btn-raised btn-warning mr-1" (click) = "onCancel()">
                    <!-- <i class="ft-x"></i>  -->
                    Cancel
                  </button>
                  <button type="button" class="btn btn-raised btn-primary" (click)="onclick(accgroupForm)">
                    <!-- <i class="fa fa-check-square-o"></i>  -->
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>