// @media screen and (min-width: 1340px) and (max-width:1450px) {
//     .mdi{
//         margin-left: -30px;
//     }
//     .mdi div{
//         margin-right: 20px;
//     }
// }
.cle{
    color:#fff;
    background-color: #2192FF;
    border: solid 1px #2192FF;
    margin-top:-10px !important;
}
.mdi{
    margin-left: -30px;
}
.mdi div{
    margin-right: 20px;
}
.abc
{
    margin-left: -10px;
}
.det{
    background-color: #0679e2;
    color: white;
    border: none;
    display:inline-flex;

}

.act{
    background-color: #e81d1f;
    color: white;
    border: none;
    display:inline-flex;

}

.actg{
    background-color: #33ad33;
    color: white;
    border: none;
    display:inline-flex;

}

.editbtn{
    background-color: #2b59e2;
    color: white;
    border: none;
    display:inline-flex;
}

.heading{
    font-family: 'Poppins','sans-serif'!important;
    font-weight: 500;
    color: #ff5b1e;
}

.addbtn{
    background-color:#ff5b1e;
    color: white;
    border: none;
}

// ::ng-deep body .ui-radiobutton .ui-radiobutton-box {
//     margin-right: 100px;
// }
