#tax-details{
    z-index:10;
    position: absolute;
    background-color: white;
    width:83.3%;
    height: 70vh;
}


// Default Active Tab
#details-images{
    display: flex;
}

.nav-item .nav-link.active{
    border-bottom:3px solid #2caeb0!important;
    color:#2caeb0;
}
.info-label{
    width: 30%;
    font-size: 12px;
    font-weight: 500!important;
}

.info-value{
    font-size: 12px;
}


.scale-small{ 
    display: flex;
    transform:scale(0.9) translate(-80px,-60px);
}

.email-app-content{
    margin-left:0!important;
}

.email-app-mail-content-detail{
    display: flex;
    flex-direction: column;
}

.email-app-mail-content-detail .info-header{
    background-color: #F5F5F5;
    height: auto;
}

.email-app-mail-content-detail .info-div{
    overflow-y:scroll; 
    overflow-x:hidden;
    height: calc(100% - auto);
    //background-color: white;
}


.trigram::after{
    content: '\2630';
}

.bg-lightgrey{
    background-color: #E0E0E0;
}

.bg-grey100{
    background-color: #f4f4f4!important;
}

.border-radius-20{
    border-radius: 20px;
}

.overview-tab-content{
    display:none;
}

#overview-left{
    display: flex;
}

.overflow-scroll{
    overflow-x: hidden; 
}


.detailsImg{
    height: 200px;
}

@media (min-width: 992px){
    .email-app-list-mails {
        width:20%!important;
    }
    .email-application .email-app-mail-content{
        width:80%!important;
    }
}

agm-map {
    height: 100%;
  }
//   #history{
//       height: 500px;
//   }

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}