.center{
    text-align: center;
}

.right{
    text-align: right;
}
.audiowidth{
    width: 210px;
    height: 40px !important;
}
.mar-top{
    margin-top:-25px !important;
}
.header h3{
    margin-top: 20px;
    margin-left: 7px;
}
.mar{
    margin-right: -10px;
}