// *{
//   font-family: 'Times New Roman', Times, serif;
// }


.main-content {
  padding-left: 0px;
}

.center {
     display: flex;
     margin-left: 50px;
   //justify-content: center;
}

.progresswidth{
  width: 300px;
  justify-content: center;
  margin-left: 30px;
  // padding-left: 40px;
  // padding-right: 40px;
}

.h11{
color: #e76b23;
font-family: monospace;
border-bottom: ridge;
font-size: xx-large;

}


.h12{
  color: #e76b23;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: initial;
  }

.h13{
  color: #e76b23;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: initial;
  margin-left: 10px;
  text-align: center;
}

.h122{
    color: #f5642a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bolder;
   // padding-left: 30px;

  }

  .queStyle{
   font-family: 'SegoeUI-Semibold',Tahoma, Geneva;
   text-align: center;
   size: 30.7sp;
   line-height: 40.7sp;
  }

  .ansStyle{
    color: #7b7878;
    font-family: 'SegoUI-Semibold',Tahoma;
    font-size: 16px;
    font-weight: 600;
    margin-left: 60px;
  }

  .btnStyle{
    width: 120px;
    height: 53.3dp;
    background-color: #ff5b1e;
    border-radius: 14px;   
  }

  .wcr{
    //widows: 100px !important;
    height: 70px;
    // padding-top: 10px;
    // padding-left: 94px;
}

.screen{
  font-family: 'SegoUI-Semibold',Tahoma;
  font-size: 18px;
  font-weight: 600;
  //margin-left: 100px;
  margin-top: 20px;
  text-align: center;
}
.submitform{
  margin-top: 100px;
  text-align: center;
}

