.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.form-inline label{
    justify-content: flex-start;
}


.padding{
    padding-left: 340px;
}