body{
    background-color: #f4f4f4;
}
.pointer{
    cursor: pointer;
}    	



:host::ng-deep{
    .ui-inputgroup input{
        width:  100%;
    }
}


.hdd{
    font-size: 1.2em;
    font-weight: bold;
}

// .add{

// }

.lnk{
        text-align: left;
        color: blue;
        font-size: 1.1em;
        margin-top: 1rem;
    font-weight: bold;
    
}

.nte{
    margin-top: 1rem;
    font-weight: bold;
    font-size: .8em;
    color: red;
    text-align: left;
}

.crd{
    padding: 15px;
    border: solid 1px rgb(241, 234, 234);
    border-radius: 10px;
    margin-bottom: 15px;
    opacity: 1;
}

.crd-sel{
    opacity: 1;
    background: white;
    padding: 12px;
    
    border: solid 2px rgb(79, 81, 241);
    
}

.crd-blr{
    background-color: #f4f4f4;
    opacity: .6;
}

.hdr{
    text-align: center;
}
.hdr-sub{
    font-size: .9rem;
    font-weight: 500;
    .wrn{
        color: red;
    }
}

.bld{
    font-weight: bold;
}

.err{
    color: red;
}

.lnk{
    color: blue !important;
    font-size: 1.1rem;
    font-weight: bold;
}
.wrn{
    color: red;
}

.mr{margin-top: 1em;}


.img-square{
    
    max-width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
  }


  .pull-rt{
    text-align: right;
  }

  .rd{
    color: red !important;
    margin-left: 10px;
  }

  .my-tbl{
    width: 100%;

    .hdd-1{
        font-weight: bold;
    }
  }

  p{
    margin-bottom: 0.1rem;
    margin-top: 0.3rem;
  }


  