<div id="Group">

  <div class="my-3 d-flex justify-content-between">
    <div class="header">
      <h4 class="m-2">
        <b>GULLAK</b>
      </h4>
    </div>
    <div>
      <button type="button" class="btn btn-raised btn-primary float-right align-self-end" style="margin-top: auto;"
        (click)="addgullak()">
        <i class="fa fa-plus-circle"></i> Add GULLAK
      </button>
      <!-- <button type="button" class="btn btn-raised btn-primary mr-1 shadow mr-24"
            (click)="exportCSV() ">Export ComboDetails</button> -->
    </div>
  </div>


  <div class="card shadow p-2">
    <form class="form " name="form" #groupForm="ngForm">

      <div class="row p-2">


        <div class="col-3 ">
          <label for="Warehouse"> Select Hub:</label> {{group.WarehouseId}}
          <select id="Warehouse" name="WarehouseName" class="form-control" [(ngModel)]="group.WarehouseId"
            #WarehouseId="ngModel" required="1">
            <option *ngFor="let WareHouse of warehouses" [ngValue]="WareHouse.WarehouseId">
              {{WareHouse.WarehouseName}}
            </option>
          </select>
          <div *ngIf="isInvalid && !WarehouseId.valid && WarehouseId.errors.required">
            <code>Warehouse Name is required</code>
          </div>
        </div>

        <div class="col-3 ">

          <label for="projectinput3">From Date</label> <br>
          <p-calendar name="startDateInput" [(ngModel)]="group.StartDate" [showIcon]="true" name="fromDate"
            #StartDate="ngModel" required="1"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
            ></p-calendar>
          <div *ngIf="isInvalid && !StartDate.valid && StartDate.errors.required">
            <code>Select START Date</code>
          </div>
        </div>



        <div class="col-3 ">
          <label for="projectinput4">To Date</label>
          <br>
          <p-calendar name="endDateInput" [(ngModel)]="group.EndDate" [showIcon]="true" name="toDate" #EndDate="ngModel"
            required="1"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
            ></p-calendar>
          <div *ngIf="isInvalid && !EndDate.valid && EndDate.errors.required">
            <code>Select END Date</code>
          </div>
        </div>

        <div class="col-3 ">

          <button type="button" class="btn btn-raised btn-primary " style="margin-top: 2em;"
            (click)="search(group,groupForm)">
            Search
          </button>

        </div>

      </div>
    </form>

  </div>





  <div class="card shadow">

    <div class="card-header pt-2">
      <h4 class="card-title" id="basic-layout-colored-form-control">Gullak List</h4>
    </div>

    <div class="position-absolute country-details" *ngIf="isDetails">
      <app-gullak-cash-back-details [details]="selectedRowDetails" [activeFields]="activeFields"
        (isdetailsclose)="isDetailsFalse($event)" (refreshParent)="ngOnInit()" (deleteSelected)="onDelete($event)"
        class="d-flex justify-content-end"></app-gullak-cash-back-details>
    </div>

    <!-- <div class="card-content"> -->

    <div class="p-2 text-center">
      <!-- <form class="form"> -->
        <p-table [value]="gullakList" [paginator]="true" [rows]="7" [scrollable]="true" scrollHeight="130vh" text-align:
          center>
          <ng-template pTemplate="header">
            <tr>
              <th>Warehouse Name </th>
              <th>start date</th>
              <th>End Date</th>
              <th>Amount From:</th>
              <th>Amount To:</th>
              <th>Max CashBack Amount</th>
              <th>CashBackPercent:</th>
              <th> Action </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td (click)="openDetails(rowData,$event)">{{rowData.WarehouseName}}</td>
              <td (click)="openDetails(rowData,$event)">{{rowData.StartDate | date}}</td>
              <td (click)="openDetails(rowData,$event)">{{rowData.EndDate | date}}</td>
              <td (click)="openDetails(rowData,$event)">{{rowData.AmountFrom}}</td>
              <td (click)="openDetails(rowData,$event)">{{rowData.AmountTo}}</td>
              <td (click)="openDetails(rowData,$event)">{{rowData.MaximumCashBackAmount}}</td>
              <td (click)="openDetails(rowData,$event)">{{rowData.CashBackPercent}}</td>
              <td>
                <p-inputSwitch name="IsActive" [(ngModel)]="rowData.IsActive"
                  (onChange)="GetActivegulak(rowData.Id,rowData.IsActive)"></p-inputSwitch>
              </td>
            </tr>
          </ng-template>
        </p-table>
      <!-- </form> -->

    </div>
    <!-- </div> -->
  </div>


</div>