.custombar1 .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}
    
.custombar1 .ui-scrollpanel-bar {
    background-color: #1976d2;
    opacity: 1;
    transition: background-color .3s;
}
    
.custombar1 .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}

.are{
    color: black;
}

.card-body {
    padding: 6px !important;
}




.container {
    justify-content: space-between;
    flex-direction: column;
    height: 5vh;
    display: flex;
    padding: 10px;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
  .container .btn-holder button {
    padding: 5px 10px;
    /* background: blue; */
    font-size: 16px;
    border: none;
    color: #135ba1;
    background: white;
    margin: 0px 5px 5px;
  }

  .container .btn-holder button:hover{
    color: #135ba1;
    background: wheat;
  }
 .bottom{
    position: absolute;
    right:    0;
    bottom:   0;
}