<div class="row">
    <div class="col-md-12">
      <div id="kick-start" class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <section id="shopping-cart">
                <div class="row text-left">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Item Bids</h4>
                      </div>

                      <div class="ui-fluid shadow p-3 m-2 bg-white rounded table table-hover">
                          <div class="position-relative">

                      <div class="card-content">
                        <div class="card-body">
                          <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custombar1">
                            <table class="table table-responsive-md text-center">
                              <thead>
                                <tr>
                                  <th>Image</th>
                                  <th>Name</th>
                                  <th>MRP</th>
                                  <th>Price</th>
                                  <th>Quantity</th>
                                  <th>OrderQty</th>

                                  <th>ImagePath</th>
                                  <!-- <th>SkCode</th>
                                  <th>CustomerName</th>
                                  <th>Volumn</th> -->
                                  <th>CreatedDate</th>                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let demand of demandList; let dindex = index;">
                                  <td>
                                    <!-- <a href="javascript:;" (click)="getAllData(demand)"> -->
                                        <a href="javascript:;">
                                      <img class="media-object round-media" [src]="demand.ImagePath"
                                        alt="Generic placeholder image" style="height: 75px;" />
                                    </a>
                                  </td>
                                  <td>
                                    <!-- <a class="are" href="javascript:;" (click)="getAllData(demand)"> -->
                                        <a class="are" href="javascript:;" >
                                      {{demand.ItemName}}
                                    </a>
                                  </td>
                                  <td>{{demand.MRP}}</td>
                                  <td>{{demand.Price? (demand.Price | number : '1.2-2') : '-'}}</td>
                                  <td>{{demand.Qty}}</td>
                                  <td>{{demand.OrderQty}}</td>

                                  <td>{{demand.ImagePath}}</td>
                                  <!-- <td>{{demand.SkCode}}</td>
                                  <td>{{demand.CustomerName}}</td>
                                  <td>{{demand.Volumn}}</td> -->
                                  <td>{{demand.CreatedDate}}</td>
                                </tr>
  
                              </tbody>
                            </table>
                          </p-scrollPanel>
  
  
                        </div>
                      </div>


                      <!-- <div class="position-relative">
                          <p-table #dt  [paginator]="true" [rows]="20" dataKey="Stateid" [scrollable]="true" scrollHeight="70vh" text-align: center>
                            
                          
                              <ng-template pTemplate="header" >
                                <tr>
                                  <th *ngFor="let col of cols" [pSortableColumn]="col.field" style="text-align: center">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                  </th>
                                
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                                <tr (click)="openDetails(rowData,$event)">
                                 
                                  <td *ngFor="let col of columns" style="text-align: center">
                                    {{rowData[col.field]}}
                                  </td>
                                 
                                </tr>
                              </ng-template>
                             
                            </p-table>
                  
              
                      </div>
                       -->
                  </div>
              
              
              </div>




                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
