.bl {
  font-size: large;
  font-weight: 500;
}
.tp {
  margin-top: 10px;
}
.sw {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.ar {
  border-radius: 6px 21px 21px 0px;
  padding-right: 40px;
}
.rd {
  border-radius: 24px;
}
.mr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bt {
  font-size: large;
  // text-decoration: underline;
  border-radius: 24px;
  border: 1px solid;
}
.btd {
  font-size: large;
  border-radius: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
  margin: 5px;
}
.rotateimg180 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.tow {
  border-bottom: solid 1px orangered;
  margin-bottom: 1em;
}
// table, td, th {
//     border: 2px solid black !important;
//     text-align: center;
//   }

table {
  border-collapse: collapse;
  width: 100%;
  font-size: large;
  font-weight: 400;
}

th {
  height: 30px;
}
.bt {
  float: right;
  margin: 5px;
}
.c25 {
  border: solid 1px rgb(233, 231, 227);
  border-radius: 1px;
  background: rgb(245, 244, 242);
  text-align: center;
  padding: 1.5em 0em 1.5em 0em;
  margin: 0em -10px;
  min-height: 15vh;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0em !important;
  }
  .p1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .p2 {
    font-size: 0.9rem;
    font-weight: 100;
    opacity: 0.8;
  }
}

.cnt {
  height: 80vh;
  overflow-y: auto;
  position: relative;
}

.tbbs {
  .bxx {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0.2em;

    border: solid 1px #e9e7e3;
    border-radius: 1px;
    background: #f5f4f2;
    text-align: center;
    min-height: 10vh;
    color: gray;
    font-size: 0.9em;
    // vertical-align: middle;
    // display: grid;
    // justify-content: center;
    // align-items: center;
  }

  .bxx:hover {
    cursor: pointer;
    background-color: orangered;
    color: white !important;
    p {
      color: black;
    }
  }

  td {
    padding: 0.4rem !important;
  }

  tr:hover {
    background-color: white !important;
  }

  p {
    font-size: 1.3em !important;
    padding-top: 0.4em;
    color: orangered;
    font-weight: bold;
  }
}

.aa {
  padding-left: 5px;
  padding-right: 5px;
}

.cnt {
  height: 98vh;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}

.cntr-w {
  width: 100%;
  min-height: 90vh;
  height: 90vh;
  overflow-y: auto;
  position: relative;
  border: solid 1px lightgray;
}

.mdll {
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-items: center;
}

.elem {
  // width: 100%;
  background-color: #f3e8e8;
  border: solid 1px lightgray;
  border-radius: 3px;
  opacity: 0.7;
  text-align: center;
  padding: 0.7rem;
  margin-bottom: 0.2rem;
  margin: 0.3em 0.2em;
  font-weight: bold;
}

.elem:hover {
  cursor: pointer;
}
.sel-w {
  background-color: rgb(211, 100, 59);
  opacity: 1;
  border: solid 2px rgb(121, 121, 245);
  color: white;
}

.mddd {
  justify-content: center;
  display: table-cell;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.tbbl {
  table {
    width: 100%;
    margin-top: 2rem;
    tr td:nth-child(1),
    tr td:nth-child(3) {
      width: 20%;
    }
    tr td:nth-child(2),
    tr td:nth-child(4) {
      width: 25%;
    }
    tr td:nth-child(2) {
      border-right: solid 1px gray !important;
    }
  }

  td {
    padding: 0.5em 0.4em;
    font-size: 1rem;
  }
  tr:hover {
    background-color: white !important;
  }
}

.gen {
  tr td:nth-child(1),
  tr td:nth-child(3) {
    color: coral;
  }
  tr td:nth-child(2),
  tr td:nth-child(4) {
    font-weight: bold;
  }
}

.agt {
  tr td:nth-child(1),
  tr td:nth-child(3) {
    color: rgb(74, 144, 250);
  }
  tr td:nth-child(2),
  tr td:nth-child(4) {
    font-weight: bold;
  }
}

.dby {
  tr td:nth-child(1),
  tr td:nth-child(3) {
    color: rgb(54, 170, 93);
  }
  tr td:nth-child(2),
  tr td:nth-child(4) {
    font-weight: bold;
  }
}

.drv {
  tr td:nth-child(1),
  tr td:nth-child(3) {
    color: rgb(180, 68, 156);
  }
  tr td:nth-child(2),
  tr td:nth-child(4) {
    font-weight: bold;
  }
}

.tta {
  
  td {
    font-size: .9rem;
    border: solid 1px lightgray !important;
    padding: .8em .3em;
  }

  .blue{
    color: rgb(16, 75, 95);
  }

  .green{
    color: rgb(47, 161, 47);
  }

  .purple{
    color: rgb(150, 30, 150);
  }

  .red{
    color: rgb(221, 54, 54);
  }

  .yellow{
    color: rgb(133, 133, 15);
  }  
}
.radio{
  padding: 25px 0px 10px 155px;
  font-size: x-large;
}
.gr{
  background: green !important;
  color: white;
}
.yl{
  background: rgb(228, 169, 6) !important;
  color: black !important;
}
