.add_btn{
    background: #2145ab;
    border: 1px solid;
    color: #fff;
    padding: 1.05rem 1.5rem;
    font-size: 1.095rem;
    line-height: 1.2;
    border-radius: 1.2rem;
}

.cancel_btn{
    background: #ed0e07;
    border: 1px solid;
    color: #fff;
    padding: 1.05rem 1.5rem;
    font-size: 1.095rem;
    line-height: 0.8;
    border-radius: 1.2rem;
}

.save_btn{
    background: #11a204;
    border: 1px solid;
    color: #fff;
    padding: 1.05rem 2.4rem;
    font-size: 1.095rem;
    line-height: 0.8;
    border-radius: 1.2rem;
}