.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

form-inline label{
    justify-content: flex-start;
}
.btn-a{
    width: 150px;
    padding: 10px;
    border: solid 1px cadetblue;
    border-radius: 7px;
    background: cadetblue;
    white-space: wheat;
    color: white;
    font-weight: 400;
    max-width: 150px;
    position: static;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.custombar1 .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}
.custombar1 .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}
.custombar1 .ui-scrollpanel-bar {
    background-color: #1976d2;
    opacity: 1;
    transition: background-color .3s;
}
    
.custombar1 .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}

// for table print


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    padding: 15px;
    border : 1px !important;
    border-color: black !important;

    
}
th{
  word-break: break-all;
}
.width11{
    width: 250px;
}
.ui-g-2 {
  width: 16.6667%;
  margin-right: 40px;
}
.font{
    font-size: inherit;
}

tr > td, tr > th {
  border: 1!important;
  border-bottom: 1px solid black;
}
.po{
    position: fixed;
    top: 30px;
}
