.btn-Success
{
    color: #ffffff;
    background-color: #34A835;
    border: 1px solid #34A835;
}
.offers {
    padding: 10px;
    margin-top: -20px;
    .sample-offer-box {
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 10px 10px 0px 10px;
      margin: 10px 0px;
      height: 95px !important;
      background-color: white;
      box-shadow: 0 8px 8px -4px lightgray;
      font-size: 18px;
      font-weight: 500;
    }
  
    .offer-box {
      border: 1px solid lightgray;
      border-radius: 42px;
      padding: 14px 13px 11px 12px;
      margin: 10px -10px;
      height: 81px !important;
      background-color: white;
      box-shadow: 0 8px 8px -4px lightgray;
      font-size: 15px;
      font-weight: 500;
      background-color: mistyrose;
  
      .f-right {
        font-size: 13px;
        font-weight: 700;
      }
    }
    
    .offer-boxx {
      border: 1px solid lightgray;
      border-radius: 42px;
      padding: 14px 9px 3px 21px;
      margin: 10px -10px;
      height: 146px !important;
      background-color: white;
      box-shadow: 0 8px 8px -4px lightgray;
      font-size: 18px;
      font-weight: 500;
      background-color: lightblue;
  
      .f-right {
        font-size: 20px;
        font-weight: 600;
      }
    }
  
    .offer-box-container:first-of-type {
      padding-left: 0 !important;
    }
  
    .offer-box-container:last-of-type {
      padding-right: 0 !important;
    }
  
    .btn_custom {
      background: #ff5722 !important;
      border: 1px solid #ff5722 !important;
      padding: 8px !important;
      color: white;
      height: 40px !important;
      margin-top: 20px;
    }
 
  }
  .col-md-12
  {
    font-size: smaller;
    font-weight: 600;
  }


  
  




  