.cc{
    background: beige;
}

.ac-kpp-clr{
    background: #f4e1f5;
}

.ac-cltr-clr{
    background: #c5edcf;
}

.vtnt{
    padding: 15px;
    text-align: center;
    width: 100%;
}


.bck{
    max-width: 25% !important;
}

.rghtt{
    border-left: solid 1px gray;
}