.topSearchbar, .statusField, .statusField label, .statusField select.form-control{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.statusField label{
    width: auto;
    margin: 5px 15px 5px 0px;
}