
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class=" header">
  <h3 class="m-2">Customer shopping Cart <i class="fa fa-shopping-bag" aria-hidden="true"></i></h3>
</div>
<div class="row ">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="city">city*</label>
          <select id="city" name="city" class="form-control" [(ngModel)]="customerFilterPage.City">
            <option value="">Select</option>
            <option *ngFor="let city of cityList" [ngValue]="city">
              {{ city }}
            </option>
          </select>
        </div>
      </div>
    
      <div class="col-md-1" style="padding-top: 30px">
        <div class="form-group">
          <button type="button" class="btn btn-raised btn-raised btn-primary" style="margin-left:10px"
            (click)="onSearch()">
            Search
          </button>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="orderType">Global Search</label>
          <input type="text" id="Search" [(ngModel)]="customerFilterPage.SearchKeyWords"
            (ngModelChange)="onGlobalSearch()" placeholder="Srarch SKcode or Customer name or mobile" name="orderType"
            class="form-control">
        </div>
      </div>
      <!-- <div class="col-md-1" style="padding-top: 30px">
        <div class="form-group">
          <button type="button" class="btn btn-raised btn-raised btn-warning" style="margin-left:10px"
            (click)="onReset()">
            Reset
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="ui-fluid shadow p-3 m-2 bg-white rounded table table-hover">
  <div class="position-relative">
    <section class="tableSection">
      <p-table #dt [value]="lstData" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="load($event)"
            [paginator]="true" [rows]="pageSize" dataKey="Id" [scrollable]="true" scrollHeight="65vh" text-align:
            center>
        <ng-template pTemplate="header">
          <tr style="text-align: center">
            <th>SkCode</th>
            <th>CustomerName</th>
            <th>City</th>
            <th>Mobile</th>
            <th>CreatedDate</th>
            <!-- <th>BuyerRating</th>
            <th>SellerRating</th> -->
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
          <tr style="text-align: center">
            <td>{{rowData.SkCode}}</td>
            <td>{{rowData.CustomerName}}</td>
            <td>{{rowData.City}}</td>
            <td>{{rowData.Mobile}}</td>
            <td>{{rowData.CreatedDate | date}}</td>
            <!-- <td>{{rowData.BuyerRating | number : '1.2-2'}}</td>
            <td>{{rowData.SellerRating | number : '1.2-2'}}</td> -->
            <td>
              <button style="color: #009DA0" class="btn" (click)="OpenCart(rowData)">Show Cart</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </section>
  </div>
</div>

<app-shopping-cart-details [CustomersCart]="details" (isdetailsclose)="CancelV1($event)" *ngIf="istrue">
</app-shopping-cart-details>

<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
  [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
  fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>