.btn-outline-primary {
    border: 1px solid;
    border-color: #ff5b1e !important;
    background-color: transparent;
    color: #ff5b1e !important;
    box-shadow: none;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #ff5b1e !important;
    border-color: #ff5b1e !important;
}