.btn-success
{
    background-color: #0a9e67;
}
:host ::ng-deep .ui-calendar {
    position: relative !important;
    display: flex !important;
}
:host ::ng-deep .my-2 {
    margin-bottom: -2.25rem !important;
}
:host ::ng-deep .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    width: 100% !important;
}
:host ::ng-deep  .ui-multiselect .ui-multiselect-label {
    padding: 0.429em;
    padding-right: 1em !important;
    color: #333333;
}