.abb
{
    font-weight: 600;
    color: #ff5b1e;
}

.one
{
    text-align: center;
    width: 800px;
    margin-left: 300px;
}

.out{
    margin-left: 300px;
}
.odd{
    margin-left: 600px;
}
th{
    margin-left: 120px;
}