.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}



// .drag-hint-border {
//     border: #3c763d dashed 2px;
// }

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

.drag-transit {
    border: #3500FF dashed 2px;
}

.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }

  .virtualStockHeader {
    padding: 5px;
    text-align: center;
    background: lightsalmon;
    color: white;
  }

  .borderDiv{

  border-style: solid;
  border-color: green;
}


#RTDStocks, #DeliveredStocks, #InReceivedStocks, #InTransitStocks {
    opacity: .8;
}

#DamagedStocks{
    z-index: 10;
}

.m-9-op{
    z-index: 9;
}

h4{
    font-size: 14px;
}

.mr-10{
    margin-right: 10px;
}


