


body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }

    .searchbar{
   // margin-bottom: auto;
   // margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 35px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    .container{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }



   


    .min-height-80{
        min-height: 80vh;
    }
    
    section{
        font-size: 12px!important;
        font-weight: normal!important;
    }
    
    .modal-body{
        input{
            border:none;
            border-bottom: 1px solid black;
            border-radius: 0;
        }
    }
    
    .region-details{
        width:100%;
        z-index: 5;
    }
    
    .modal-header{
        border-bottom:0;
    }
    
    button:focus{
        outline: none!important;
    }
    
    
    tr > td, tr > th{
        padding-top: 0.8em!important;
        padding-bottom: 0.8em!important;
        background-color: white;
        border: 0!important;
        border-bottom: 1px solid #E0E0E0!important; 
    }
    
    
    
    tr.selected > td{
        background-color: #B3E2E3!important;
        border-bottom: 1px solid #008184!important; 
    }
    tr > th{
        border-bottom: 2px solid #424242!important;
    }
    
    tr{
        background-color: white!important;
        font-size: 12px;
        font-weight: normal;
    }
    
    
    
    tr:hover{
        // transform: scale(1.01)!important;
        // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
         td{
             background-color: #F5F5F5!important;
         }
    }
    
    tr.selected:hover td{
        background-color: #B3E2E3!important;   
    }
    
    .edit{
        display: none;
    }
    
    .edit:hover{
            box-shadow: none!important;
            transform: scale(1)!important;
    }
    
    // #supplier-table{
    //     position: relative;
    // }
    
    
    .buttons{
        display: relative;
        float: right;
    }
    
    .btn{
        border:0!important;
        background-color: transparent;
        color: white;
        box-shadow: none;
    }
    
    .btn.btn-sm{
        font-size: 12px!important;
    }
    
    .btn-rounded{
        border-radius: 50px;
    }
    
    #DivToShow{
        width: 30%;
    }
    
    .bg-grey300{
        background-color: #E0E0E0!important;
    }

    .hg-40{
        height: 40px 
    }


    


body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }

    .searchbar{
   // margin-bottom: auto;
   // margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 35px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    .container{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }



   


    .min-height-80{
        min-height: 80vh;
    }
    
    section{
        font-size: 12px!important;
        font-weight: normal!important;
    }
    
    .modal-body{
        input{
            border:none;
            border-bottom: 1px solid black;
            border-radius: 0;
        }
    }
    
    .ladger-details{
        width:100%;
        z-index: 5;
    }
    
    .modal-header{
        border-bottom:0;
    }
    
    button:focus{
        outline: none!important;
    }
    
    
    tr > td, tr > th{
        padding-top: 0.8em!important;
        padding-bottom: 0.8em!important;
        background-color: white;
        border: 0!important;
        border-bottom: 1px solid #E0E0E0!important; 
        // text-align: center;
        text-align: initial;
    }
    
    
    
    tr.selected > td{
        background-color: #B3E2E3!important;
        border-bottom: 1px solid #008184!important; 
    }
    tr > th{
        border-bottom: 2px solid #424242!important;
    }
    
    tr{
        background-color: white!important;
        font-size: 12px;
        font-weight: normal;
    }
    
    
    
    tr:hover{
        // transform: scale(1.01)!important;
        // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
         td{
             background-color: #F5F5F5!important;
         }
    }
    
    tr.selected:hover td{
        background-color: #B3E2E3!important;   
    }
    
    .edit{
        display: none;
    }
    
    .edit:hover{
            box-shadow: none!important;
            transform: scale(1)!important;
    }
    
    // #supplier-table{
    //     position: relative;
    // }
    
    
    .buttons{
        display: relative;
        float: right;
    }
    
    .btn{
        border:0!important;
        background-color: transparent;
        color: white;
        box-shadow: none;
    }
    
    .btn.btn-sm{
        font-size: 12px!important;
    }
    
    .btn-rounded{
        border-radius: 50px;
    }
    
    #DivToShow{
        width: 30%;
    }
    
    .bg-grey300{
        background-color: #E0E0E0!important;
    }

    .hg-40{
        height: 40px 
    }



    

    @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


section{
    font-size: 12px!important;
    font-weight: normal!important;
}

.modal-body{
    input{
        border:none;
        border-bottom: 1px solid black;
        border-radius: 0;
    }
}

.header h3{
    font-family:'Poppins','sans-serif'!important;
    font-weight: 500;
}

.tax-details{
    width:100%;
    z-index: 5;
}

.modal-header{
    border-bottom:0;
}

button:focus{
    outline: none!important;
}


tr > td, tr > th{
    padding-top: 0.8em!important;
    padding-bottom: 0.8em!important;
    background-color: white;
    border: 0!important;
    border-bottom: 1px solid #E0E0E0!important; 
}



tr.selected > td{
    background-color: #B3E2E3!important;
    border-bottom: 1px solid #008184!important; 
}
tr > th{
    border-bottom: 2px solid #424242!important;
}

tr{
    background-color: white!important;
    font-size: 12px;
    font-weight: normal;
}



tr:hover{
    // transform: scale(1.01)!important;
    // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
     td{
         background-color: #F5F5F5!important;
     }
}

tr.selected:hover td{
    background-color: #B3E2E3!important;   
}

.edit{
    display: none;
}

.edit:hover{
        box-shadow: none!important; 
        transform: scale(1)!important;
}

// #supplier-table{
//     position: relative;
// }


.buttons{
    display: relative;
    float: right;
}

.btn{
    border:0!important;
    background-color: transparent;
    color: white;
    box-shadow: none;
}

.btn.btn-sm{
    font-size: 12px!important;
}

.btn-rounded{
    border-radius: 50px;
}

#DivToShow{
    width: 30%;
}

.bg-grey300{
    background-color: #E0E0E0!important;
}

.bg-grey200{
    background-color: #EEEEEE!important;
}
.mt-4, .my-4 {
    margin-top: 0rem !important;
}
.m-2 {
 margin: 0rem !important;
}