<!-- <h4 style="font-weight: 500px"><b>{{customername}}</b></h4> -->

<section id="Item" >
    <div class="my-2 d-flex justify-content-between">
        <div class="header">
            <h3 class="m-2">{{customername}}</h3>
        </div>
      </div>
</section>

<div class="row">
    <div class="col-md-4">
      <!-- Kick start -->
      <div id="kick-start" class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <section id="shopping-cart">
                <div class="row text-left">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Demand</h4>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <nvd3 #nvd3 [options]="demandOptions" [data]="demandData"></nvd3>
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!--/ Kick start -->
    </div>
    <div class="col-md-4">
      <!-- Kick start -->
      <div id="kick-start" class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <section id="shopping-cart">
                <div class="row text-left">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Stock</h4>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <nvd3 #nvd3 [options]="demandOptions" [data]="stockData"></nvd3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>      
      </div>
      <!--/ Kick start -->
    </div>
    <div class="col-md-4">
      <!-- Kick start -->
      <div id="kick-start" class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <section id="shopping-cart">
                <div class="row text-left">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Order</h4>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <nvd3 #nvd3 [options]="orderOptions" [data]="orderData"></nvd3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>   
      </div>
      <!--/ Kick start -->
    

    </div>
  </div>



<div class="row">
<!-- <div class="col-6"> -->
    <div class="col-md-4">
  <div id="kick-start" class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="card-text">
          <section id="shopping-cart">
            <div class="row text-left">
              <div class="col-sm-12">
                <div class="card">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-raised btn-raised btn-primary pull-right" >
                          Save
                        </button>
                      </div>
                  <div class="card-header">
                    <h4 class="card-title">Demand</h4>
                  </div>
                  <div class="card-content">
                    <div class="card-body">
                      <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custombar1">
                        <table class="table table-responsive-md text-center">
                          <thead>
                            <tr>
                              <!-- <th>Name</th> -->
                              <th>CustomerName</th>
                              <th>SkCode</th>
                              <th>MRP</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Volumn</th> 
                              <th>OrderQty</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let demand of demandList; let dindex = index;">
                              <!-- <td><img class="media-object round-media" [src]="demand.ImagePath"
                                  alt="Generic placeholder image" style="height: 75px;" /></td> -->
                              <!-- <td>{{demand.ItemName}}</td> -->
                              <td>{{demand.CustomerName}}</td>
                              <td>{{demand.SkCode}}</td>
                              <td>{{demand.MRP}}</td>
                              <td>{{demand.Price}}</td>
                              <td>{{demand.Qty}}</td>
                              <td>{{demand.Volumn}}</td>
                              <td>{{demand.OrderQty}}</td>
                            </tr>
                          
                          </tbody>
                        </table>
                      </p-scrollPanel>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="col-6"> -->
    <div class="col-md-4">
  <!-- Kick start -->
  <div id="kick-start" class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="card-text">
          <section id="shopping-cart">
            <div class="row text-left">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Stock</h4>
                  </div>
                  <div class="card-content">
                    <div class="card-body">
                      <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custombar1">
                          <table class="table table-responsive-md text-center">
                              <thead>
                                <tr>
                                  <!-- <th>Name</th> -->
                                  <th>CustomerName</th>
                                  <th>SkCode</th>
                                  <th>MRP</th>
                                  <th>Price</th>
                                  <th>Quantity</th>
                                  <th>Volumn</th> 
                                  <th>OrderQty</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let stock of stockList; let sindex = index;">
                                  <!-- <td><img class="media-object round-media" [src]="stock.ImagePath"
                                      alt="Generic placeholder image" style="height: 75px;" /></td> -->
                                  <!-- <td>{{stock.ItemName}}</td> -->
                                  <td>{{stock.CustomerName}}</td>
                                  <td>{{stock.SkCode}}</td>
                                  <td>{{stock.MRP}}</td>
                                  <td>{{stock.Price}}</td>
                                  <td>{{stock.Qty}}</td>
                                  <td>{{stock.Volumn}}</td>
                                  <td>{{stock.OrderQty}}</td>
                                </tr>
                              
                              </tbody>
                            </table>
                      </p-scrollPanel>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!--/ Kick start -->
</div>

<div class="col-md-4">

    <div id="kick-start" class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <section id="shopping-cart">
              <div class="row text-left">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Order</h4>
                    </div>
                    <div class="card-content">
                      <div class="card-body">
                        <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custombar1">
                          <table class="table table-responsive-md text-center">
                            <thead>
                              <tr>
                                <th>Image</th>
                                <th>Name</th>

                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Volume</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let order of orderList; let sindex = index;">
                                <td><img class="media-object round-media" [src]="order.ImagePath"
                                    alt="Generic placeholder image" style="height: 75px;" /></td>
                                <td>{{order.ItemName}}</td>
                                <td>{{order.AveragePrice}}</td>
                                <td>{{order.TotalQty}}</td>
                                <td>{{order.Volume}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </p-scrollPanel>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

