li{
    font-size: medium;
  }
  ul {
    list-style-type: none;
  }
  tr > td, tr > th{
    padding-top: 0.8em!important;
    padding-bottom: 0.8em!important;
    background-color: white;
    border: 0!important;
    border-bottom: 1px solid #E0E0E0!important; 
  }
  tr{
    background-color: white!important;
    font-size: 12px;
    font-weight: normal;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle,
  .btn-primary:hover{
    background: none;
    outline: none;
  }
  .icongreen {
    color: #58a521;
  }
  .icon {
    color: #f40404;
  }
  