.abb
{
 color: orangered;
}
.btn-ss
{
    background-color: rgb(14, 131, 233);
    color: white;
    font-size: 24px;
    height: 37px;
    width: 30px;
    padding-top: 1px;
    padding-right: 27px;
    border-radius: 0px 7px 7px 0px
}
