:host ::ng-deep .year-calendar__header {
    display: none;
    align-items: center;
    padding: 14px 32px;
    border-bottom: 2px solid #e8ecef;
}

// :host ::ng-deep .year-calendar__body__month__inner .year-calendar__body__month__inner__week {
//     .year-calendar__body__month__inner__week__day:nth-child(1) {
//         background: gray !important;
//     }

//     .year-calendar__body__month__inner__week__day:nth-child(6) {
//         background: gray !important;
//     }
// }

 :host ::ng-deep input:disabled .year-calendar__body__month__inner__week__day year-calendar__body__month__inner__week__day 
 {
    font-size: 150%;
 }

:host ::ng-deep  .year-calendar__header__year-name{
    margin-left: 34%;
    font-size: 150%;
    font-weight: bold;
}
:host ::ng-deep .year-calendar__body__month__inner__title{
    font-weight: 400;
}

:host ::ng-deep .year-calendar__body__month__inner__week__day__text{
    font-weight: 400;
}
:host ::ng-deep .year-calendar__body__month__inner__week__day{
    font-weight: 500;
}

// .btn:hover{
//         background-color:lightseagreen!important;
// }
