.btn-search{
    color: white;
    background-color: palevioletred;
    margin-top: 2em;
}
.tp{
    margin-top: 2em;
}
a{
    color: #009DA0;//#007ad9
    text-decoration: underline;
}
b{
    font-size: 1.2em;
}
.lbl{
    color: #009DA0;//#007ad9
    font-size: 1.6em;
    font-weight: 600;
    // margin-bottom: .5em;  
}
.er
{
    color: mediumblue !important;
    font-weight: 600;
    text-decoration: underline;
}
.brdr1{
    border: solid 1px goldenrod !important;
}
.brdr2{
    border: solid 1px lightpink !important;
}
.wdth{
    width: 100%;
}
.inputRow{
    width: 65% !important;
    height: 35px !important;
    border-radius: 5px !important;
    float: right !important;
}
.btn-info
{
    font-weight: 600;
    color: #fff !important;
    background-color: #1CBCD8 !important;
}
// rgb(255, 153, 153)
.bld{
    font-weight: 600;
}
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  