.online_payment{
    color: #fff;
    border-radius: 13px;
    border: 1px solid;
    line-height: 2;
    padding: 0.55rem 0.7rem;
    font-size: .975rem;
    background: #12addd;
}

.order_details{
    color: #fff;
    border-radius: 13px;
    border: 1px solid;
    line-height: 2;
    padding: 0.55rem 0.7rem;
    font-size: .975rem;
    background: #10ba2d;
}

.history_details{
    color: #fff;
    border-radius: 13px;
    border: 1px solid;
    line-height: 2;
    padding: 0.55rem 0.7rem;
    font-size: .975rem;
    background: #bfc929;
}

input[type="number"] {
    width:50px;

 }

