@font-face {
  font-family: 'arcade';
  src: url('../../../../assets/fonts/arcade/ARCADE.eot');
  src: url('../../../../assets/fonts/arcade/ARCADE.eot?#iefix') format('embedded-opentype'),
       url('../../../../assets/fonts/arcade/ARCADE.woff') format('woff'),
       url('../../../../assets/fonts/arcade/ARCADE.ttf') format('truetype'),
       url('../../../../assets/fonts/arcade/ARCADE.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 
 *{
    font-family: monospace;
  }
.main-content {
  padding-left: 0px;
}
.h111{
  color: #fff;
  font-family: monospace;
  padding-top: 10px;
  font-size: xx-large;
}
.centerBox{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.topRightfix{
  position: absolute;
  top: 30px;
  right: 50px;
}
.wuduHeader{
  background: #0697E9;
  display: inline-block;
  width: 100%;
  text-align: center;
}
h1{
  font-family: 'arcade';
  font-size: 350px;
  margin: 30px 0px;
}
.reLoadBtn{
  background: none;
  border: none;
}

@media (max-width:991px){
  h1{
    font-size: 35rem;
  }
}

@media (max-width:767px){
  h1{
    font-size: 30rem;
  }
}