<div class="my-2 d-flex justify-content-between align-items-center">
    <div class="wuduHeader header">
        <div class="col-12">
            <img class="text" src="assets/img/logo/wuduLogoTag.png" >
        </div>
      
    </div> 
    <!-- <button type="button" class="btn btn-raised btn-raised btn-primary c1" style="margin-left:50px"
        (click)="exportWUDUCust()">
        Export WUDU Customer
    </button> -->
</div>


<a class="h111 topRightfix" href="javascript:void(0)" (click)="ngOnInit()"><i class="icon-refresh"></i></a>
<div class="row">
    <div class="col-md-12 text-center" *ngIf="!istodayCust">
        <h1 class="wuduCustomerCount">{{totalwuduCustomer}}</h1>             
    </div>
    <div class="col-md-12 text-center" *ngIf="istodayCust">   
        <h1 class="wuduCustomerCount">{{WuduCustomerToday}}</h1>  
    </div>
    <div class="col-md-12 text-center">
        <button class="reLoadBtn" type="button" (click)="TodayCust(1)"><img src="../../../../assets/img/WUDUall.png"></button>
        <button class="reLoadBtn" type="button" (click)="TodayCust(2)"><img src="../../../../assets/img/WUDUtoday.png"></button>
    </div>
</div>




<p-progressSpinner *ngIf="blocked" [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>