<div class="row btm">
  <div class="col-md-6">
    <p-chart class="center-pp"
      type="doughnut"
      [data]="data"
      [responsive]="true"
      [options]="chartOptions"
    ></p-chart>
    </div>
    <div class="col-md-6" *ngIf="pieOrderChart">      
      <div class="row">
        <div class="col-md-7">
          <span [ngStyle]="{'color': pieOrderChart.datasets[0].backgroundColor[0]}">
            <i class="fa fa-circle"></i>
          </span>
        <!-- <p-radioButton name="group2" value="Option 2" [(ngModel)]="val2" inputId="preopt2"></p-radioButton> -->
        {{pieOrderChart.labels[0] }}
      </div>
        <div class="col-md-5">
        {{pieOrderChart.datasets[0].data[0]}}
        </div>
        <div class="col-md-7">
          <span [ngStyle]="{'color': pieOrderChart.datasets[0].backgroundColor[1]}">
            <i class="fa fa-circle"></i>
          </span>
          <!-- <p-radioButton name="group2" value="Option 2" [(ngModel)]="val2" inputId="preopt2"></p-radioButton> -->
          {{pieOrderChart.labels[1] }}
          </div>
          <div class="col-md-5">
            {{pieOrderChart.datasets[0].data[1]}}
            </div>
            <div class="col-md-7">
              <span [ngStyle]="{'color': pieOrderChart.datasets[0].backgroundColor[2]}">
                <i class="fa fa-circle"></i>
              </span>
              <!-- <p-radioButton name="group2" value="Option 2" [(ngModel)]="val2" inputId="preopt2"></p-radioButton> -->
              {{pieOrderChart.labels[2] }}
              </div>
              <div class="col-md-5">
                {{pieOrderChart.datasets[0].data[2]}}
                </div>
                <div class="col-md-7" *ngIf="pieOrderChart.labels[3] != null">
                  <span [ngStyle]="{'color': pieOrderChart.datasets[0].backgroundColor[3]}">
                    <i class="fa fa-circle"></i>
                  </span>
                  <!-- <p-radioButton name="group2" value="Option 2" [(ngModel)]="val2" inputId="preopt2"></p-radioButton> -->
                  {{pieOrderChart.labels[3] }}
                  </div>
                  <div class="col-md-5">
                    {{pieOrderChart.datasets[0].data[3]}}
                    </div>
    </div>
    </div>
    <!-- <p-chart type="doughnut" [data]="data"></p-chart> -->
  </div>
  