:host::ng-deep.center-pp{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    margin: auto;
    
}
.col-md-7
{
    font-size: 1.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
}
.col-md-5
{
    font-size: 1.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
}
.btm
{
    margin-bottom: 1em;
}