.rpt-body {
  background: lightgray;
  border: solid 1px lightgray;
}

.rpt-innerbody {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border: solid 1px lightcyan;
  padding: 30px;
}

.lr-head {
  text-align: center;
}

.lr-head h3 {
  font-family: fantasy;
}

.sd-head {
  font-weight: 500;
  color: gray;
}

.lr-brd{
    border-top: solid 1px lightgray;
    margin: 10px 0px 10px 0px;
}

.lr-tbl{

}

.tr-hd{
    background: gray;
    color: white;
    font-family: monospace;
}

.tr-ttl{
    font-weight: bold;
    color: gray;
}

.mr-l-10{
  margin-left: 10px;
}

.tr2{
  text-align: center
}

.hdr{
  border-bottom: solid 1px gray;
}

hr{
  margin-top: 0px;
  margin-bottom: 10px;
}

.pl{
  margin-top: 10px;
}

.mr-10{
  margin-right: 10px;
}

.rd{
  td{
    background: indianred !important; 
    color: white !important;  
  }
  background: indianred;
  color: white;
}
.red{
  color: indianred !important; 

}

.totsum{
  color:indianred;
  //margin-left: 58px;
  font-size: 15px;

}
.totcredit{
  font-size: 16px;
  font-weight: bold;

}

.br-btm{
  td{
    border-bottom: solid 1px black !important;
  }
  
}


