.mrp-label {
    margin: 20px 5% 0px 0px !important;
    /* text-align: right; */
    display: inline-block;
    vertical-align: top;
    width: 20%;
    // word-break: break-all;
}
.mrp-value{
    margin: 20px 5% 0px 0px !important;
    display: inline-block;
    vertical-align: top;
    // width: 15%;
    // word-break: break-all;
}
.mrp-font-weight-bold {
    font-weight: 700 !important;
}