.btn-secondary {
    background-color: lightgray;
}


:host ::ng-deep .ui-dialog-content {
    border: 1px solid #c8c8c8 !important;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
}

label {
    font-weight: bold;
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

:host ::ng-deep body .ui-dropdown{
    width: 100%;
}

.sel{
    background: bisque;
    border: solid 1px orangered;
}