.filterBar{
    background: #ccc;
    padding: 10px;
    margin-bottom: 15px;
}
.filterBar label{
    color: #fff;
}
.filterBar select{
    border: none;
    border-radius: 15px;
}
.filterBar .btn{
    margin-top: 30px;
    margin-bottom: 0px;
}
.rideCardSection .card{
    margin-top: 0px;
    padding: 15px;
    color: #fff;
}
.rideCardSection .card h2, .rideCardSection .card h5{
    margin: 0px;
    font-weight: 600;
}
.rideCardSection .card h2{
    font-size: 50px;
}
.redCard{
    background: #ff3f3f;
}

.greenCard{
    background: lime;
}


.orgCard{
    background: #ff5b1e;
}
.table-responsive{
    margin-bottom: 15px;
}
.yellowCard{
    background: #ffd051;
}
table > tr > th {
    border: none;
    background-color: #000 ;
    color: #fff ;
}
tr td, tr th {
    font-size: 14px;
    padding: 15px;
}
tr:hover td {
    background-color: #ffeae2;
}
 tr:nth-child(odd) td {
    background-color: #fffbf9;
}

@media (max-width:1200px){
    .rideCardSection .card h5{
        font-size: 14px;
    }
    .rideCardSection .card h2{
        font-size: 30px;
    }
}