.height-300{
    height: 300px!important;
}

tr > td, tr > th{
    padding: 4px 10px 4px 10px!important;
    padding-top:4px!important;
    padding-bottom:4px!important;
    border: 0!important;
    border-bottom: 1px solid #E0E0E0!important; 
}






tr{
    background-color: white!important;
    font-size: 12px;
    font-weight: normal;
}
