.example-spacer {
    flex: 1 1 auto;
}

a:visited{
    color:  #007ad9;
        }
        a:hover{
    color: rgb(46, 174, 129);
        }
        a:active{
    color: red;
        }
        p{
        font-size: 20px;
        }


.clor{
    color: white;
    background-color: rgb(46, 174, 129);
    border: none;
}