.carousel-img-wrapper{
    width: 25vw;
    height: 40vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img-wrapper img{
    max-height: 100%;
}