::ng-deep body .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 95%;
}

.heading{
    font-family: 'Poppins','sans-serif'!important;
    font-weight: 500;
    color: #ff5b1e;
}