.btn-r{
    float: right;
}
.exp{
    margin-right: 1em;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
    border: solid 1px gray !important;
}
.tt-th{
    text-align: center;
}


:host ::ng-deep  {
    .ui-table td, .ui-table th {
    
        border: solid 1px gray !important;
    }

    .ui-table th {
    
        text-align: center;
    }

    .ui-table td{
        text-align: right;
    }
}

.th-sub{
    th{
        background-color: aquamarine;
        font-size: 12px;
    }

    td{
        font-size: 12px;
        color: rgb(10, 126, 87);
    }
}