.rtl{
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
    font-size: 1.5em;
    text-transform: uppercase;
//     width: 100px;
//     height: 100px;
//     background: red; 
  }
  
  .headerSK{
    font-family: Poppins,sans-serif!important;
    font-weight: 500;
    color: #ff5b1e !important;
  }

  

  @keyframes mymovelft {
    from {left: 400px;}
    to {left: 0px;}
  }
  @keyframes mymovert {
    from {right: 400px;}
    to {right: 0px;}
  }
  @keyframes mymovetop {
    from {top: 500px;}
    to {top: 0px;}
  }
  @keyframes mymovebtm {
    from {bottom: 500px;}
    to {bottom: 0px;}
  }
.boxx{
   border-radius: 5px;
   position: relative;
   animation-iteration-count: 1;
    .lb{
      text-align: center;
      margin-bottom: 20px;
      color: white;
      font-weight: 500;
      padding: 10px;
      text-transform: uppercase;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .txt{
      text-align: center;
      margin-bottom: 20px;
      color: white;
      font-weight: 500;
      margin-left: 50px;
      margin-right: 50px;
      border-radius: 50px;
      padding: 5px;
    }
}
.lft{
    animation: mymovelft 5s;
    border : solid 1px #d0f2f7;
    .lb{
        background: #eef8fc;
        color: #26929c;
        border-bottom: #26929c;
    }
    .txt{ background: #00a4e9;}
}
.rt{
    animation: mymovert 5s;
    border : solid 1px #00a4e9;
    .lb{
        background: #00a4e9;
        color: white;
        border-bottom: #26929c;
    }
    .txt{ background: #00a4e9;}
}
.tp{
    animation: mymovetop 5s;
    border : solid 1px #b13d31;//#d0f2f7;
    .lb{
        background: #fdefee;//#eef8fc;
        color: #b13d31;//#26929c;
        // border-bottom: #26929c;
        border: #fad7db;
    }
    .txt{ background: #fdefee;//#00a4e9;
        color: #b13d31;
        border: solid 1px;
    }
}
.btm{
    animation: mymovebtm 5s;
    border : solid 1px #00a4e9;
    .lb{
        background: #00a4e9;
        color: white;
        border-bottom: #26929c;
    }
    .txt{ background: #00a4e9;}
}
.header{
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: underline;
}
.mb{margin-bottom: 2em;}
img{
    // height: 16vh;
    width: 5vh;
    // margin-top: -1em;
    // height: 5vh;
    // margin-left: -.8em;
}
.card-stats{
  // padding-bottom: 32px;
  .card-stats .card-header.card-header-icon {
    text-align: right;
}
.card-icon {
  border-radius: 3px;
  background-color: #999;
  // padding: 36px;
  margin-top: -6vh;
  margin-right: 15px;
  float: left;
  width: 38%;
  text-align: center;
  height: 13vh;
  padding-top: 3.5vh;
}
.card-stats .card-header.card-header-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}
.card-icon{
  background: linear-gradient(
    60deg,#66bb6a,#43a047);
}
.card-month{
  background: #00bcd4;
}
.sf{
  background: linear-gradient(
    60deg,#ffa726,#fb8c00);
}
.td{
  background: linear-gradient(
60deg,#ef5350,#e53935);
}
.card-category {
  color: #999;
  font-size: 14px;
  text-align: right;
}
.card-title{
  text-align: right;
  font-size: 1.1rem;
}
.card-footer {
  margin-top: 14px;
.stats {
  // color: #999;
  font-size: 15px;
  line-height: 22px;
  display: inline-flex;
  font-weight: 500;
}
}
// .h3{
//   font-size: 1.1rem;
// }
}
label{
  // color: black;
  font-weight: 500;
}
.cl{padding-top: 1.8vh;}
//   .box{
//       border : solid 1px #00a4e9;
//       border-radius: 3px;
//       position: relative;
//      animation: mymovert 5s;
//      animation-iteration-count: 1;
//       .lb{
//         text-align: center;
//         margin-bottom: 20px;
//         background: #00a4e9;
//         color: white;
//         font-weight: 500;
//         padding: 10px;
//       }
//       .txt{
//         text-align: center;
//         margin-bottom: 20px;
//         background: #00a4e9;
//         color: white;
//         font-weight: 500;
//         margin-left: 50px;
//         margin-right: 50px;
//         border-radius: 50px;
//         padding: 5px;
//       }
//   }
//   .box1{
//       border : solid 1px #d0f2f7;
//       border-radius: 3px;
//       position: relative;
//      animation: mymovelft 5s;
//      animation-iteration-count: 1;
//       .lb1{
//         text-align: center;
//         margin-bottom: 20px;
//         background: #eef8fc;
//         color: #26929c;
//         font-weight: 500;
//         padding: 10px;
//         border-bottom: #26929c;
//       }
//       .txt1{
//         text-align: center;
//         margin-bottom: 20px;
//         background: #2ec1cc;
//         color: white;
//         font-weight: 500;
//         margin-left: 50px;
//         margin-right: 50px;
//         border-radius: 50px;
//         padding: 5px;
//       }
//   }
//   .box2{
//     border : solid 1px #d0f2f7;
//     border-radius: 3px;
//     position: relative;
//    animation: mymovetop 5s;
//    animation-iteration-count: 1;
//     .lb2{
//       text-align: center;
//       margin-bottom: 20px;
//       background: #eef8fc;
//       color: #26929c;
//       font-weight: 500;
//       padding: 10px;
//       border-bottom: #26929c;
//     }
//     .txt2{
//       text-align: center;
//       margin-bottom: 20px;
//       background: #2ec1cc;
//       color: white;
//       font-weight: 500;
//       margin-left: 50px;
//       margin-right: 50px;
//       border-radius: 50px;
//       padding: 5px;
//     }
// }
.label {
  padding: 0.4em 1.0em;
}

.label-primary {
  background-color: #00a4e9;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 5px !important;
}