.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.button {background-color: #df9319;}

.ngb-tabset {
height: 40px;
width: 800px;
}

*{box-sizing: border-box !important;
}


// .btn{
//     margin-left: 750px;
// }

.ngb-tab {
    border-radius: 20px;
    padding: 5px;
    border: 2px;
}

.img-square{
    width: 100px;
    height: 100px;
}

