.Pending{
    color: red;
    font-weight: bold;
}

.Canceled{
    font-weight: bold;
}

.Delivered{
    color: green;
    font-weight: bold;
}

.Dispatched{
    color: #1976d2;
    font-weight: bold;
}

