h5{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    color: #0452a5;
  }
  .over{
    overflow-x: scroll;
  }
.btn-size{
  border: 1px solid transparent;
  padding: 0.175rem 0.43rem;
  border-radius: 0.48rem;
}  

.btn-comment{
  background-color: #2b46d9;
  color: white;
}
.btn-comment-close{
  background-color: #b31010;
  color: white;
}
.tp
{
  margin-top: 1em;
}
.export
{
  background-color: darkgreen !important; color:white;
  border: solid 1px darkgreen !important;
  margin-left: 1em;
}

// <th>WH-Name</th>
// <th>ItemName</th>
// <th style="width: 5%;">Multi <br>MRP ID</th>
// <th style="width: 4%;">MRP</th>
// <th>Batch Code</th>
// <th style="width: 7%;">MFG Date</th>
// <th style="width: 7%;">Exp Date</th>
// <th style="width: 6%;">Available<br>Qty</th>
// <th style="width: 5%;">Request<br>Qty</th>
// <th style="width: 7%;">Stock Type</th>
// <th>Request By</th>
// <th>Status</th>
// <th>Comment</th>
// <th style="width: 8%;">Image</th>
// <th style="width: 8%;">Action</th>
