.btn-Success
{
    color: #ffffff;
    background-color: #34A835;
    border: 1px solid #34A835;
}
.btn-Warning
{
    color: #333333;
    background-color: #ffba01;
    border: 1px solid #ffba01;
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0.571em 2em !important;
}
