// .btn{
//     background-color: pink;
// }
// .ShopName.btn{
//     background-color:yellow;
// }
// .btn-primary {
//     border:none;
//     width: 100%;
//     height: 47px;
// }

.nu-mt-30{
    margin-top: 30px;
    
}
.btn-primary1 {
    color: #FFFFFF;
    background-color: orangered ;
    border: solid 1px orangered ;
    border:none;
    width: 100%;
    height: 47px;
    }