#subcategory-details{
    z-index:10;
    position: absolute;
    background-color: white;
    width:80%;
    height: 75vh;
}
@media (min-width: 992px){
    .email-app-list-mails {
        width:20%!important;
    }
    .email-application .email-app-mail-content{
        width:80%!important;
    }
}