.c-1{
    margin-top: 20px !important;
    margin-right: 60px !important;
    margin-left: 620px !important;
}

.clk{
    width: 80px;
    color: blue;
}

.clk:hover{
    cursor: pointer;
    color: hue($color: #000000);
}
.d1{

    margin: 0px 0px 0px 19px;
}