label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
    color: black;
    font-weight: 600;
}
span{
    font-size: 1.3em;
    font-weight: 500;
}
.tp
{
    margin-top: 1em;
    margin-bottom: 1em;
}
.bx
{
    border: solid 1px black;
    margin-left: 0.5em;
    margin-top: 1em;
}
.lbl
{
    font-size: 1.3em;
    font-weight: 600;
    color: crimson;
}
.hdr
{
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: underline;
}
.tp_mr
{
    margin-top: 0.5em;
}