.ui-table table {
    border-collapse: collapse;
    width: 160%!important;
    table-layout: fixed;
}

.Text{
width:50%;
height:50%;
}
.Text2{
    width:50%;
    height:50%;  
}

.checkbox
{
    border-color: #009da0 !important;
    background-color: #0cc27e !important
}