.chrt{
    min-width: 60%;
}
.rt{
    background: #f2f5f0;
}

.lft-or-fill-rate{
    background: #8ED59D;
}

.rght-po-fill-rate{
    background: #E2C279;
}

.hd-br{
    text-align: center;
    h4{
        padding-top: 15px; font-weight: bold;
    }
}

.rght-inv {
    color:#FF9064;
    min-height: 480px;
}

.clr-inv{
    background:  #bce3c4;
}

.inv-rght{
    .card-title, th{
        color: #E88750;
    }

    td{
        color: #13d13b;
    }
}

.vtnt{
    padding: 15px;
    text-align: center;
    width: 100%;
}