.marginbtn {
    margin-top: 1.8em;    
}
.mt{
    margin-top: .9em;
}
.bl{
    font-weight: 600;
}
.mr-sp{
    margin-top: .5em;
}
.rec-green{
    border: solid 1px;
    padding: 10px;
    background: green;
    color: white;
    border-radius: 5px;
}
.rec-red{
    border: solid 1px;
    padding: 10px;
    background: rgba(250, 52, 17, 0.8);//red;
    color: white;
    border-radius: 5px;
}
.resetBtn{
    background: #FF8D60;
    color: white;
    cursor: pointer;
}
a {
    color: #007ad9 !important;
    text-decoration: underline;
}
.pending{
    color: red;
}
.in_progress{
    color: rgb(44, 44, 247);
}
.resolved{
    color: green;
}
tr td, tr th {
    font-size: 14px;
    padding: 15px;
}
.container-fluid {
    width: 115%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
// :host::ng-deep 
h5 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
}