<!-- <p-toast position="top-left" key="tl"></p-toast> -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmation" [baseZIndex]="201" appendTo="body" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
<div class="ui-fluid">
  <div class="my-2 justify-content-between align-items-center">
    <div class="header">
      <h3 class="mt-3">Inventory Cycle Approval For HQ List</h3>
    </div>
  </div>
  <div class="card container-fluid ui-fluid shadow p-3 mb-3 bg-white rounded">
    <div class="card-content">
      <div class="col-12">
        <div class="row">
          <div class="col-md-2">
            <select [(ngModel)]="Type" class="form-control" name="type">
              <option *ngFor="let s of stList" [value]="s.value">
                {{s.label}} </option>
            </select>
          </div>
          <div class="col-md-2">
            <!-- <p-dropdown [options]="wareHousList" [(ngModel)]="selWhId" optionLabel="WarehouseName"
            placeholder="Select Warehouse"></p-dropdown> -->
            <select [(ngModel)]="warehouseId" class="form-control" name="warehouse"
              (ngModelChange)="onChangeWarehouse(warehouseId)">
              <option [value]="null">select </option>
              <option *ngFor="let warehouse of warehouses" [value]="warehouse.WarehouseId">
                {{warehouse.WarehouseName}} </option>
            </select>
          </div>
          <!-- <div class="col-md-1">
            <button class="btn" style="background-color: red; color:white" (click)="clearData()">Clear</button>
          </div> -->
       
          <div class="col-md-2">
            <select [(ngModel)]="status" class="form-control" name="status">
              <!-- <option [value]="null">select </option> -->
              <option *ngFor="let st of statusList" [value]="st.value">
                {{st.label}} </option>
            </select>
          </div>
          <div class="col-md-3 text-right">
            <input id="searchKeyword" name="searchKeyword" [(ngModel)]="keyword" class="form-control">
          </div>
          <div class="col-md-3">
            <p-calendar name="startDateInputExport" appendTo="body" [showIcon]="true" [(ngModel)]="rangeDates"
               selectionMode="range"  [readonlyInput]="true" inputId="range" name="startDate"
              required [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRangeForCalender">
             </p-calendar>
          </div>
          <div class="col-md-4 text-right"></div>
          <div class="col-md-8 text-right tp">
            <button type="button" class="btn btn-search ml-1" style="margin-right: 0px !important;"
            (click)="onSearch()">Search</button>
            <button type="button" class="btn btn-primary ml-1" style="margin-right: 0px !important;"
              (click)="ShowDialogForAdd()">Add</button>
              <button type="button" class="btn btn-Export ml-1" (click)="showDialog()">BatchWiseExport</button>
              <button type="button" class="btn btn-Export ml-1" (click)="showDialogItemWise()">ItemWiseExport</button>
              <button type="button" class="btn btn-reset ml-1" style="background-color: red; color:white" (click)="clearData()">Clear</button>
              <button type="button" class="btn btn-zeroDiff ml-1" (click)="onClickZeroDifferenceRecords()">Zero Difference Records</button>
              <button type="button" class="btn btn-Export ml-1" (click)="onExportZeroDifference()">Zero Difference Export</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui-fluid shadow mb-2 bg-white rounded">
    <div class="search-head rounded d-flex p-2 px-4 text-primary justify-content-between align-items-center"
        (click)="toggleSearch()">
        <h5 class="m-0">Statistics</h5>
        <div><i class="fa fa-lg fa-angle-double-right"></i></div>
    </div>
    <div id="search-content p-2" *ngIf="isSearch">
        <div class="row p-2 px-5">
            <div class="col-md-6 border-right border-right-1">
                <!-- <div class="form-group m-2 form-inline"> -->
                    <label for="totalLineItem" class="lbl">Total Line Items</label>
                    <div class="vl">{{statisticsdata.TotalLineItems}}</div>
                    <!-- <input id="totalLineItem" name="totalLineItem" class="form-control" [(ngModel)]="statisticsdata.TotalLineItems" disabled> -->
                <!-- </div> -->
            </div>
            
            <div class="col-md-6 border-right border-right-1">
              <!-- <div class="form-group m-2 form-inline"> -->
                  <label for="countedLineItem" class="lbl">Counted Line Items</label>
                  <div class="vl">{{statisticsdata.CountedLineItem}}</div>
                  <!-- <input id="countedLineItem" name="countedLineItem" class="form-control" [(ngModel)]="statisticsdata.CountedLineItem" disabled> -->
              <!-- </div> -->
          </div>

          <div class="col-md-6 border-right border-right-1">
            <!-- <div class="form-group m-2 form-inline"> -->
                <label for="pendingLineItem" class="lbl">Pending Line Items</label>
                <div class="vl">{{statisticsdata.PendingLineItem}}</div>
                <!-- <input id="pendingLineItem" name="pendingLineItem" class="form-control" [(ngModel)]="statisticsdata.PendingLineItem" disabled> -->
            <!-- </div> -->
        </div>

        <div class="col-md-6 border-right border-right-1">
          <!-- <div class="form-group m-2 form-inline"> -->
              <label for="excessLineItem" class="lbl">Approved Excess Items</label>
              <div class="vl">{{statisticsdata.ApprovedExcessItems | number : '1.2-2'}}</div>
              <!-- <input id="excessLineItem" name="excessLineItem" class="form-control" [(ngModel)]="statisticsdata.ApprovedExcessItems" disabled> -->
          <!-- </div> -->
      </div>

      <div class="col-md-6 border-right border-right-1">
        <!-- <div class="form-group m-2 form-inline"> -->
            <label for="shortLineItem" class="lbl">Approved Short Items</label>
            <div class="vl">{{statisticsdata.ApprovedShortItems  | number : '1.2-2'}}</div>
            <!-- <input id="shortLineItem" name="shortLineItem" class="form-control" [(ngModel)]="statisticsdata.ApprovedShortItems" disabled> -->
        <!-- </div> -->
    </div>
    <div class="col-md-6 border-right border-right-1">
      <!-- <div class="form-group m-2 form-inline"> -->
          <label for="shortLineItem" class="lbl">Total Diff Value</label>
          <div class="vl">{{statisticsdata.ApprovedItemsDifference  | number : '1.2-2'}}</div>
          <!-- <input id="shortLineItem" name="shortLineItem" class="form-control" [(ngModel)]="statisticsdata.ApprovedItemsDifference" disabled> -->
      <!-- </div> -->
  </div>

        </div>
    </div>
</div>


  <div class="widt">
    <div class="wwi table table-striped shadow p-3 mb-3 bg-white rounded text-center">
      <p-table #dt [value]="approvalList" selectionMode="single" [paginator]="true" [lazy]="true" [rows]="25"
        [scrollable]="true" [totalRecords]="totalRecords" (onLazyLoad)="load($event)" scrollHeight="130vh" text-align:
        center dataKey="Id" [(selection)]="selectedList"  [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first">
        <ng-template pTemplate="header">
            <tr>
                <th class="wix"> &nbsp; </th>            
                <th class="wix">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <!-- <th class="wix" >Id </th> -->
                <!-- <th class="wix" >Type </th> -->
                <th class="wix" >Item </th>
                <!-- <th class="wix" >Hub</th> -->
                <th class="wix" >Inv-Count:</th>
                <th class="wix" >Cur-Inv</th>
                <th class="wix" >Past-Inv</th>
                <th class="wix" >RTD</th>
                <th class="wix" > RTP</th>
                <!-- <th>DamagedQty</th>
                <th>NonSellable<br>Qty</th> -->
                <!-- <th>Comment</th> -->
                <th class="wix">Diff</th>
                <th class="wix">App</th>
                <th class="wix">Total Amt</th>
                <!-- <th>Updated Date</th>
                <th>UpdatedBy</th>
                <th>ABC Classification</th> -->
                <th class="wix">Remarks Of Verifier</th>
                <th class="wix">Comment</th>
                <th class="wix">HQComment</th>
                <th class="wix">Status Of Verifier</th>
                <th class="wix" >History</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-expanded="expanded">
          <tr>
            <td class="wix">
              <i [pRowToggler]="rowData" [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" (click)="isResponse=false;"></i>
            </td>
            <td class="wix" >
              <!-- <p-checkbox name="IsChecked" value="rowData.IsChecked" [(ngModel)]="rowData.IsChecked"
                (click)="check(i)" (onChange)="onChange(rowData)" binary="true"></p-checkbox> -->
              <!-- <p-checkbox (onChange)="onChange()" (click)="check(i)" [(ngModel)]="choosenCustomer" [value]="rowData.Id">
              </p-checkbox> -->
              <i [pRowToggler]="rowData" [ngClass]="expanded ? '' : ''" *ngIf="rowData.IsApproved == false && !rowData.IsDeleted && !isZeroDifference">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </i>
              <!-- <p-tableCheckbox  [value]="rowData"></p-tableCheckbox> -->
            </td>
            <!-- <td class="wix" >{{rowData.Id}}</td> -->
            <!-- <td class="wix" >{{rowData.IsPV == false ? 'Inventory' : 'PV'}}</td> -->
            <td class="wix" >{{rowData.ItemName}}</td>
            <!-- <td class="wix" >{{rowData.WarehouseName}}</td> -->
            <td class="wix" >{{rowData.InventoryCount}}</td>
            <td class="wix" >{{rowData.CurrentInventory}}</td>
            <td class="wix" >{{rowData.PastInventory}}</td>
            <td class="wix" >{{rowData.RtdCount}}</td>
            <td class="wix" >{{rowData.RtpCount}}</td>
            <!-- <td>{{rowData.DamagedQty}}</td>
            <td>{{rowData.NonSellableQty}}</td> -->
            <!-- <td>{{rowData.Comment}}</td> -->
            <td class="wix" >{{rowData.diff}}</td>
            <td class="wix" >{{rowData.APP | number : '1.2-2'}}</td>
            <td class="wix" >{{(rowData.APP | number : '1.2-2') * rowData.diff | number : '1.2-2'}}</td>
            <td class="wix" >
              <select [(ngModel)]="rowData.VerifierStatus" class="form-control" name="verifierLst" *ngIf="rowData.VerifierStatus != 5 && !rowData.IsDeleted && (rowData.IsWarehouseApproved == 0 || rowData.IsWarehouseApproved == 1) && !isZeroDifference" >
                <option value="null">Remarks By Verifier </option>
                <option *ngFor="let vl of verifierList" [value]="vl.value">
                  {{vl.label}} </option>
              </select>
              <input id="otherComment" name="otherComment" class="form-control" [(ngModel)]="rowData.Comment" *ngIf="rowData.VerifierStatus == 5 && !rowData.IsDeleted && !isZeroDifference">
              <span *ngIf="rowData.InventoryCount == rowData.PastInventory">-</span>
            </td>
  <!--      <td>{{rowData.UpdatedDate | date:'yyyy-MM-dd'}}</td>
            <td>{{rowData.Updatedby}}</td>
            <td>{{rowData.ABCClassification}}</td>
            <td style="width:8%;">
              <ng-container *ngIf="rowData.IsApproved == true else second">
                <span style="color: green; font-weight: bold;">Submitted</span>
              </ng-container>
              <ng-template #second>
                <ng-container *ngIf="rowData.IsApproved == false">
                  <span style="color: red; font-weight: bold;">Pending</span>
                  <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 0 && rowData.IsWarehouseApproved == 1 ">Warehouse Approved</span>
                </ng-container>
              </ng-template>
            </td> -->
            <td class="wix">{{rowData.Comment}}</td>
            <td class="wix">{{rowData.HQComment}}</td>            
            <td class="wix">
                    <div *ngIf="rowData.IsWarehouseApproved == 1 && !rowData.IsDeleted && rowData.IsApproved == false && !isZeroDifference">
                      <i [pRowToggler]="rowData" [ngClass]="expanded ? '' : ''">
                        <button type="button" class="btn btn-raised btn-success mr-1" (click)="onSelectApproved()"
                        [disabled]="isResponse">
                        <i class="fa fa-check-circle"></i>
                        </button>
                        <button type="button" class="btn btn-raised btn-danger mr-1" (click)="onSelectRejected()">
                          <i class="fa fa-times-circle" ></i>
                        </button>
                      </i>
                  </div>
                  <ng-container *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsDeleted == false && rowData.IsApproved == true else second">
                    <span style="color: green; font-weight: bold;" *ngIf="rowData.PastInventory != rowData.InventoryCount && rowData.HQComment!= null">Approved By L&P</span>
                    <span style="color: green; font-weight: bold;" *ngIf="rowData.PastInventory != rowData.InventoryCount && rowData.HQComment== null && rowData.zeroDiff == 0">Approved By Warehouse</span>
                    <span style="color: green; font-weight: bold;" *ngIf="rowData.PastInventory == rowData.InventoryCount && rowData.zeroDiff == 0">Approved By Warehouse</span>
                    <span style="color: green; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.PastInventory == rowData.InventoryCount && rowData.zeroDiff == 1">Auto Approved</span>
                  </ng-container>
                  <ng-template #second>
                      <ng-container *ngIf="rowData.IsApproved == false">
                          <!-- <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == -1">Pending</span> -->
                        <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsDeleted == 0">Pending For L&P</span>                
                        <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsApproved == false && rowData.IsDeleted == true">Rejected By L&P</span>              
                      </ng-container>
                      <ng-container *ngIf="rowData.IsApproved == true">
                      <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsDeleted == 0">Pending For L&P</span>                
                      <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsApproved == false && rowData.IsDeleted == true">Rejected By L&P</span>              
                    </ng-container>
                    <ng-container *ngIf="rowData.IsApproved == true && rowData.IsDeleted == true">
                      <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsApproved == true && rowData.IsDeleted == true">Rejected By L&P</span>              
                    </ng-container>
                  </ng-template>
                  <!-- <div *ngIf="rowData.IsWarehouseApproved == -1">
                    <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsApproved == false">Pending For L&P</span>
                    <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsApproved == true">Approved By L&P</span>  
                    <span style="color: red; font-weight: bold;" *ngIf="rowData.IsWarehouseApproved == 1 && rowData.IsDeleted == true">Rejected By L&P</span>              
                  </div> -->
            </td>
            <td class="wix">
                 <button type="button" class="btn btn-raised btn-success mr-1" (click)="onClickInventCycleHistory(rowData)">
                  <i class="fa fa-history" ></i> <!-- History -->
                 </button>
                 <button type="button" class="btn btn-raised btn-success mr-1" (click)="onClickInventoryItemWiseHistory(rowData)">
                  Inventory <i class="fa fa-history" ></i><!-- History -->
                 </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData>
          <tr>
            <td colspan="33">
              <div class="p-3 cc">
                <p-table [value]="rowData.InventoryCycleItemBatchDcs" dataKey="BatchCode">
                  <ng-template pTemplate="header">
                      <tr>
                        <th colspan="2">BatchCode</th>
                        <th colspan="2" >MFGDate</th>
                        <th colspan="2" >ExpiryDate</th>
                        <th colspan="2" >InventoryCount</th>
                        <th colspan="2" >PastInventory</th>
                        <th colspan="2" >Difference</th>
                        <th colspan="2" >Settled/Unsettled</th>
                        <!-- <th>FromToTransfer</th> -->
                        <th colspan="2">History</th>
                        <!-- <th>DamagedQty</th>
                                            <th>NonSellableQty</th>
                                            <th>DamagedImageUrl</th>
                                            <th>NonSellableImageUrl</th> -->
                      </tr>
                  </ng-template>
                    <ng-template pTemplate="body" let-order>
                      <tr>
                        <td colspan="2" >{{order.BatchCode}}</td>
                        <td colspan="2" >{{order.MFGDate | date:'yyyy-MM-dd'}}</td>
                        <td colspan="2" >{{order.ExpiryDate | date:'yyyy-MM-dd'}}</td>
                        <td colspan="2" >{{order.InventoryCount}}</td>
                        <td colspan="2" >{{order.PastInventory}}</td>
                        <td colspan="2" >{{order.DiffInventory}}</td>
                        <td colspan="2" >
                          <!-- {{order.IsStockUpdated == true ? 'Settled' : 'UnSettled'}} -->
                          <span class="approved_request"  *ngIf="order.IsStockUpdated == true && rowData.IsDeleted == false">Settled</span>
                          <span class="approval_request" *ngIf="order.IsStockUpdated == false && rowData.IsWarehouseApproved == 1 && rowData.IsDeleted == true">Settled</span>
                          <span class="approval_request" *ngIf="order.IsStockUpdated == false && rowData.IsWarehouseApproved != 2 && rowData.IsDeleted == false">UnSettled</span>
                          <span class="approval_request" *ngIf="order.IsStockUpdated == false && rowData.IsWarehouseApproved == 2">Rejected Settled</span>
                          <span *ngIf="order.InventCycleBatchId == order.Id && order.IsStockUpdated == true && rowData.PastInventory != rowData.InventoryCount">{{order.Qty}} Qty Request Approved By L&P</span>
                          <span *ngIf="order.InventCycleBatchId == order.Id && order.IsStockUpdated == false">{{order.Qty}} Qty Request For Approval</span>
                          <span *ngIf="order.InventCycleBatchId == order.Id && order.IsStockUpdated == true && rowData.IsApproved == true && rowData.PastInventory == rowData.InventoryCount">{{order.Qty}} Qty Approved By Warehouse</span>
                        </td>
                        <!-- <td>{{order.Qty > 0 ? 'IR to Virtual' : 'IR to Current' }}</td> -->
                        <td colspan="2">
                          <button type="button" class="btn btn-raised btn-danger mr-1" (click)="onClickHistory(order)">
                            History
                          </button>
                        </td>
                        <!-- <td>{{order.DamagedQty}}</td>
                                              <td>{{order.NonSellableQty}}</td>
                                              <td><img src={{order.DamagedImageUrl}} style="width:35%;" (click)='ShowImg(order.DamagedImageUrl)'></td>
                                              <!-- <td>{{order.NonSellableImageUrl}}</td> -->
                        <!-- <td><img src={{order.NonSellableImageUrl}} style="width:35%;" (click)='ShowImg1(order.NonSellableImageUrl)'></td> -->
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <h5>Data Not Found</h5>
                    </ng-template>
                </p-table>
              </div>
            </td>
        </tr>

        </ng-template>
    </p-table>
    <!-- <div class="form-actions right col-sm-12 p-3">
      <button type="button" class="btn btn-raised btn-warning mr-1" (click)="onCancel()">
        Cancel
      </button>
      [disabled]="choosenCustomer.length==0 ||  choosenCustomer[0]==undefined"
      <button type="button" class="btn btn-raised btn-success mr-1" (click)="onSelectApproved()" [disabled]="isResponse">
        Approved
      </button>
      <button type="button" class="btn btn-raised btn-danger mr-1" (click)="onSelectRejected()">
        Rejected
      </button>
    </div> -->
    </div>
  </div>
<!-- [style]="{width: '65vw',height: '55vh'}" [baseZIndex]="10000" style="height: 50vh;z-index: 1;"-->
<p-dialog header="ExportApprovedReject" appendTo="body" [modal]="true" [(visible)]="display">
  <div class="row" style="margin-top:5%;margin-bottom: 14%;">
    <div class="col-md-3">
      <label><span class="required">*</span>Select Warehouse</label>
      <select [(ngModel)]="selectedwarehouseIdPOP" class="form-control" name="warehouse">
        <option [value]="null">Select Warehouse </option>
        <option *ngFor="let warehouse of warehouses" [value]="warehouse.WarehouseId">
          {{warehouse.WarehouseName}} </option>
      </select>
    </div>
    <div class="col-md-3">
      <label><span class="required">*</span>Select Status</label>
      <select [(ngModel)]="selectedstatus" class="form-control" name="warehouse">
        <option [value]="-1">All</option>
        <option [value]="1">Export Approved</option>
        <option [value]="2">Export Rejected</option>
      </select>
    </div>
    <div class="col-md-3">
      <label><span class="required">*</span>Select DateRange</label><br>
      <p-calendar [(ngModel)]="rangeDatesPOP" appendTo="body" selectionMode="range" inputId="range"></p-calendar>
    </div>
    <!-- export button clickable --start -->
    <div class="col-md-2 ml-2" *ngIf="exportBtn == true">
      <button class="btn btn-Export" style="margin-top: 32% !important;" (click)="ExportApproved()">Export</button>
    </div>
    <!-- export button clickable --end -->
    <!-- export button loader --start -->
    <div class="col-md-2 ml-2" *ngIf="exportLoader == true">
      <button class="btn" type="button" style="background-color: green;color: white;margin-top: 32% !important;width: 70px;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Loading...</span>
      </button>
    </div>
    <!-- export button loader --end -->
  </div>
</p-dialog>
<!-- itemwisedisplay -->
<p-dialog header="ExportItemWise" appendTo="body" [modal]="true" [(visible)]="itemwisedisplay">
  <div class="row" style="margin-top:5%;margin-bottom: 14%;">
    <div class="col-md-3">
      <label><span class="required">*</span>Select Warehouse</label>
      <select [(ngModel)]="selectedwarehouseIdPOP" class="form-control" name="warehouse">
        <option [value]="null">Select Warehouse </option>
        <option *ngFor="let warehouse of warehouses" [value]="warehouse.WarehouseId">
          {{warehouse.WarehouseName}} </option>
      </select>
    </div>
    <div class="col-md-3">
      <label><span class="required">*</span>Select Status</label>
      <select [(ngModel)]="selectedstatus" class="form-control" name="warehouse">
        <option [value]="3">All</option>
        <option [value]="0">Warehouse Pending</option>
        <option [value]="1">Warehouse Approved</option>
        <option [value]="2">Warehouse Rejected</option>
        <option [value]="4">L&P Pending</option>
        <option [value]="5">L&P Approved</option>
        <option [value]="6">L&P Rejected</option>
      </select>
    </div>
    <div class="col-md-3">
      <label><span class="required">*</span>Select DateRange</label><br>
      <p-calendar [(ngModel)]="rangeDatesPOP" appendTo="body" selectionMode="range" inputId="range"></p-calendar>
    </div>
    <!-- export button clickable --start -->
    <div class="col-md-2 ml-2" *ngIf="exportBtn == true">
      <button class="btn btn-Export" style="margin-top: 32% !important;" (click)="ExportItemWise()">Export</button>
    </div>
    <!-- <div class="col-md-3"></div> -->
    <!-- export button clickable --end -->
    <!-- export button loader --start -->
    <div class="col-md-2 ml-2" *ngIf="exportLoader == true">
      <button class="btn" type="button" style="background-color: green;color: white;margin-top: 32% !important;width: 70px;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Loading...</span>
      </button>
    </div>
    <!-- export button loader --end -->
  </div>
</p-dialog>
<div class="container" style="overflow: hidden  !important;">
  <p-dialog header="Add" appendTo="body" [modal]="true" [(visible)]="Displayadd" [style]="{width:'80vw',height:'40vh'}">
    <div class="row" style="height:35vh;">
      <div class="col-md-2">
        <label>Select Warehouse</label>
        <p-dropdown [options]="warehouses" placeholder="Select Warehouse" [(ngModel)]="warehouseIdAdd"
        autoWidth="false" [style]="{'width':'100%'}" optionLabel="WarehouseName">
        </p-dropdown>
      </div>
      <div class="col-md-3">
        <label>Select Item</label><br>
        <p-autoComplete [(ngModel)]="Selecteditem" [suggestions]="ItemList" (completeMethod)="GetItemList($event)"
          field="itemname" [size]="30" placeholder="Search Items (min 3 letters)" [minLength]="1" name="BatchCode"
          required="true" #ledgerName="ngModel">
        </p-autoComplete>
      </div>
      <div class="col-md-1" style="margin-top: 30px">
        <button class="btn btn-primary ml-2" (click)="AddItems()">Add</button>
      </div>
      <div class="col-md-4" style="margin-top: 30px">
        <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="Upload($event, uploadCustom)"
          accept="xls,.xlsx" #uploadCustom>"
          <!-- <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template> -->
        </p-fileUpload>
      </div>
      <div class="col-md-2 mt-4">
        <button class="btn btn-download" (click)="DownLoadSample()">Download Sample</button>
      </div>
      <p-blockUI [blocked]="blockedPop"></p-blockUI>
      <p-progressSpinner *ngIf="blockedPop"
        [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
        fill="#EEEEEE" animationDuration=".5s">
      </p-progressSpinner>
    </div>
  </p-dialog>
</div>
<!-- //InventCycleBatchHistory// -->
<p-dialog header="InventCycleBatchHistory" appendTo="body" [modal]="true" [(visible)]="isOpenHistoryPopup">
  <p-table #dt [value]="inventCylceBatchHistoryList" [paginator]="false" [rows]="25"
  [scrollable]="true" scrollHeight="130vh" text-align:center>
  <ng-template pTemplate="header">
    <tr>
      <th>BatchCode</th>
      <th>Qty</th>
      <th>UpdatedDate</th>
      <th>UpdatedBy</th>
      <th>Difference</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{order.BatchCode}}</td>
      <td>{{order.Qty}}</td>
      <td>{{order.UpdatedDate | date:'yyyy-MM-dd'}}</td>
      <td>{{order.UpdatedBy}}</td>
      <td>{{order.DiffInventory}}</td>
    </tr>
  </ng-template>
  </p-table>
</p-dialog>
<!-- //InventCycleHistory// -->
<p-dialog header="InventCycleHistory" appendTo="body" [modal]="true" [(visible)]="isOpenInventCycleHistoryPopup">
  <p-table #dt [value]="inventCylceHistoryList" [paginator]="false" [rows]="25"
  [scrollable]="true" scrollHeight="130vh" text-align:center>
  <ng-template pTemplate="header">
    <tr>
      <th>CreatedBy</th>
      <th>CreatedDate</th>
      <th>VerifiedBy</th>
      <th>VerifiedTimestamp</th>
      <th>ApprovedBy</th>
      <th>ApprovedTimestamp</th>
      <th>Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{order.CreatedBy}}</td>
      <td>{{order.CreatedDate | date:'medium'}}</td>
      <td>{{order.VerifiedBy}}</td>
      <td>{{order.VerifiedTimestamp | date:'medium'}}</td>
      <td>{{order.ApprovedBy}}</td>
      <td>{{order.ApprovedTimestamp | date:'medium'}}</td>
      <td>{{order.Status}}</td>
    </tr>
  </ng-template>
  </p-table>
</p-dialog>

<div *ngIf="isHistoryOpen">
  <p-dialog header="History" [(visible)]="isHistoryOpen" [blockScroll]="true" appendTo="body"
      [style]="{width: '75vw', height:'75vh'}" [modal]="true" [positionTop]="0" appendTo="body">
      <div class="cnt">
          <app-history [entity]="entity" [id]="selectedItemRowData.Id"></app-history>
      </div>
  </p-dialog>
</div>

<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
  [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
  fill="#EEEEEE" animationDuration=".5s">
</p-progressSpinner>
</div>

<!-- <p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
    [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
    fill="#EEEEEE" animationDuration=".5s">
</p-progressSpinner> -->