.vl{
    font-weight: 600;
}
.mr{
    margin-left: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.bl{
    color: blue;
}
.rl
{
    color: red;
}
.ul
{
    text-decoration: underline;
}

 :host ::ng-deep  .pi-check:before {
    /* color: green; */
    background-color: 	#088F8F!important;
    border-radius: 110px !important;
    color: white;
}
:host ::ng-deep  .pi-times:before {
    /* color: green; */
    background-color: 	#f83333!important;
    border-radius: 110px !important;
    color: white;
}