// Login Page

#login {
  // background-image: url('../../assets/img/login_bg.jpg');
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .login-img {
    padding: 0;
    background: #f0f0f0;
  }

  .login-btn {
    .btn.btn-outline-primary {
      &:hover {
        a {
          background-color: #fff ;
          color: white;
        }
      }
    }
  }

  .recover-pass {
    button.btn.btn-primary {
      background-color: #fff ;
      color: white;
     // text:white;
    }
  }

  .forgot-password-option,
  .remember-me {

    a.text-decoration-none,
    .custom-control-label {
      font-size: 14px;
    }
  }

  .col-12{
    padding:0!important;
  }

  .left-img{
    padding-left: 0;
  }

  .logo{
    width: 30vw;
    transform: translateX(-20px);
    border-top-right-radius: 30vw;
    border-bottom-right-radius: 30vw;
    animation-name: slidein-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .logo img{
    width: 20vw;
  }

  .right h1{
    color: #e74623;
    font-weight: 700;
  }

  .right input{
    border:0;
    padding: 30px 30px;
    border-radius: 30px;
    background-color: #EEEEEE;
    transition: ease-in;
  }

  .right input:focus{
    background-color: #FAFAFA;
    color: #e74623;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  }

  .right{
    background-color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation-name: slidein-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  a{
    color: #e74623;
  }

  .recover-pass button{
    padding: 10px 50px;
    background-color: #e74623;
    border-radius: 30px;
  }

  .recover-pass button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .login-btn button{
    padding: 10px 50px;
    border: 2px solid #e74623;
    border-radius: 30px;
    color: #e74623;
  }

  .login-btn button:hover{
    background-color: #e74623!important;
    color: white;
  }

  .custom-control-input:checked ~ .custom-control-label::before{
    border-color: #e74623;
    background-color: #e74623;
  }

  .svg{
    margin-left: 5vh;
  }
  
  .svg svg{
    width: 40vw;
    height: auto;
  }
}

@media screen and (max-width: 1706px) {
  #login .svg svg{
    width: 40vw;
    height: auto
  }
}

@media screen and (max-width: 1600px) {
  #login .right{
    background: transparent;
    box-shadow: 0 0 0 rgba(0,0,0,0)!important;
    .form{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .logo{
    padding-left: 20px!important;
  }
}

@media screen and (max-width: 650px) {
  #login{
    height: 150vh;
    .sm-flex-column{
      flex-direction: column;
    }
    .svg{
      transform: scale(0);
    }
    .left-img{
      height: inherit!important;
      padding: 0;
    }
    .col-6{
      flex: none;
      max-width: 100%;
    }
    .logo{
      box-shadow: none!important;
      background-color: transparent!important;
      border-radius: 0;
      padding: 0!important;
      margin: 0!important;
      width: 100%!important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .logo img{
      margin:0!important;
      margin-top: 10vh!important; 
      width: 70vw;
    }
  }
}

@keyframes slidein-right{
  0%{
    transform: translateX(100vh);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes slidein-left{
  0%{
    transform: translateX(-100vh);
  }
  100%{
    transform: translateX(0);
  }
}


@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #d62d20;
  }
  40% {
      stroke: #0057e7;
  }
  66% {
      stroke: #008744;
  }
  80%,
  90% {
      stroke: #ffa700;
  }
}
