<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="ui-fluid">
  <section id="basic-form-layouts">
    <div class="row text-left">
      <div class="col-md-12" >
        <div class="card">
          <div class="card-header pb-2"></div>
          <div class="card-content">
            <div class="px-3">
                <form class="form form-inline" name="form" #r="ngForm">        
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-user"></i><b>Add Role</b> </h4>
                  <div class="row col-md-12">              
                    <div class="col-md-12">
                      <div class="form-group m-2">
                        <label for="RoleTitle"class="col-md-6"><b>Role Title: </b> <span  style="color:red"> *</span></label>
                        <!-- <div class="col-md-6"> -->
                        <input type="text" id="RoleTitle" class="form-control col-md-6" name="name" [(ngModel)]="RoleData.RoleTitle" (input)="inputValidator($event)"
                          placeholder="Enter the Role"  #firstName="ngModel" required="1" minlength="3" maxlength="30" #name="ngModel"/>
                          <div class="col-md-6"></div>
                        <div *ngIf="isInvalid && !name.valid && name.errors.required">
                              <!-- <div *ngIf="isInvalid || !firstName.valid && firstName.errors.required"> -->
                              <code>Role Title is required</code>
                            </div>
                             <div *ngIf="isInvalid && !name.valid && name.errors.minlength"> 
                                <!-- <div *ngIf="isInvalid || !firstName.valid && firstName.errors.minlength"> -->
                                <code>Minlength 3</code>
                              </div>             
                              <div *ngIf="isInvalid && !name.valid && name.errors.maxlength"> 
                                  <!-- <div *ngIf="isInvalid || !firstName.valid && firstName.errors.maxlength"> -->
                                  <code> Maxlength 30</code>
                                </div>     
                      <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions  right col-sm-12 p-3">
                    <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()">
                        Cancel
                      </button>
                      <button type="button" class="btn btn-raised btn-primary" (click)="Addrole(r)">
                        Save
                      </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>