
@media (min-width: 992px){
    .email-app-list-mails {
        width:20%!important;
    }
    .email-application .email-app-mail-content{
        width:80%!important;
    }
}

.info-value-change, .info-label-change{
    display: inline-block;
    vertical-align: top;
    width: 26%;
    word-break: break-all;
}
.info-label-change{
    margin: 12px 0% 3px 89px !important;
    /* text-align: right; */
}