th {
    padding: 7px !important;
    word-break: break-word !important;
    width: 136px !important;
}


td {
    padding: 7px !important;
    word-break: break-word !important;
    width: 136px !important;
}


