.btn1{
    margin-top: 27px;
    height: 40px;
    width: 80px;
    border-radius: 5px; 
    
}

.btn3{
    margin-top: 27px;
    height: 40px;
    
    border-radius: 5px; 
   
    background-color: #00a4e9;
    color: white;;
}
.btn4{
    height: 32px;
    background-color: #00a4e9;
    color: white;
    border-radius: 3px; 

}
table, th, td,tr {
    border: 1px solid black !important; 
    border-collapse: collapse !important;
  }

td, th {
    border: 1px solid black !important;
   padding: 12px;
}
td{
    font-weight:700;
    color: black;
    text-align: center;
}