.trash{

    font-size: 1.80em;
}
// .c-1{

//     margin-right: 562px !important;
// }

.mr1{

    margin-right: 34.375rem !important;
}
.btn[class*="btn-"] {
    margin-bottom: 0rem;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
form .form-actions {
    border-top: 0px solid #d3dce9;
    padding: 20px 0;
    margin-top: 20px;
}


.mr-5{
    margin-right: 5px !important;
}

.ts{
    text-align: center;
}
.totalamt{

    margin: 0px 0px 0px 12px;
}
.export{
margin-top: 31px;
}

:host {
    .ui-table-wrapper{
        width: auto !important;
    }

   
    
}
.m2{
    padding: 10px 0px 3px 10px;
}

.dis{
    opacity: .7;
    cursor: no-drop;
}