.card{
    box-shadow: none!important;
}

.form-inline label{
    justify-content: flex-start;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.bg-grey50{
    background-color: #FAFAFA!important;
}

.img-square{
    width: 100px;
    height: 100px;
}

.uploadImage{
    background-color: #1CBCD8;
    color: #fff;
    border-color: #1CBCD8;
    max-width: 79%;
}

.custom-table {
    border: 1px solid rgb(48, 21, 21);
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid rgb(48, 21, 21);
    padding: 8px;
    text-align: left;
}