<div class="my-2 d-flex justify-content-between align-items-center">
    <div class="header">
        <h3 class="m-2">Add Promotion</h3>
    </div>         
</div>    
<div class="row">
    <div class="col-md-1 "></div>

    <div class="col-md-2 ">
    <label>Section</label>
    <p-dropdown placeholder="Select" ></p-dropdown>

    </div>
    <div class="col-md-1 " ></div>
    <div class="col-md-2 ">
        <label>Item For</label>
        <p-dropdown placeholder="Select"  [(ngModel)]="SelectedItem"  [options]="itemFor" optionLabel="name" (onChange)="OnSelect()"></p-dropdown>
    </div>
    <div class="col-md-1 " ></div>
    <div class="col-md-2 " *ngIf="showUrl">
        <label>URL:</label>
        <input type="text" class="form-control">
    </div>
</div>  
<div class="row mt-4"  *ngIf="showUrl" >
    <div class="col-12" >
        <button class="btn btn-primary" style="margin-left: 45%;">Save</button>
    </div>

</div>
