.a1{
    margin-bottom: -38px !important;
}


.gr{
    background-color: rgb(80, 155, 80);
}
.rd{
    background-color: rgba(148, 38, 38, 0.747);
}

.tc{
    cursor: pointer !important;
}

.tc:hover{
    cursor: pointer !important;
    background-color: brown;
    color: white;
}

.one
{
    font-size: 9px;
}
