.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}




.button {background-color: #df9319;}

.ngb-tabset {
height: 40px;
width: 800px;
}

*{box-sizing: border-box !important;
}


.btnn{
    //margin-left: 750px;
    
   margin-left: 380px;
   background-color: yellow;

}

.ngb-tab {
    border-radius: 20px;
    padding: 5px;
    border: 2px;
}

.colour{
    background-color:yellow;
}

