  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <div class="m-1 d-flex justify-content-between align-items-center">
    <div class="card" style="width: 150rem;">
        <div id="AddAgent-table" class="ui-fluid  bg-white rounded">
            <div class="position-relative">
                <div class="row">
                <div class="col-md-4">
                    <div class="form-group m-2">
                        <label for="ware"><b>Agent:</b></label>
                        <p-multiSelect [options]="dataselect" name="label" [(ngModel)]="selectedAgentList" [panelStyle]="{minWidth:'25em'}" optionLabel="label">
                          
                        </p-multiSelect>
   
                    </div>
                </div>
 

              
                      <div class="form-actions right col-sm-12 p-3">
                         <!-- <button type="button" class="btn btn-raised btn-primary float-right" (click)="Save(objRequest)"> -->
                                <button type="button" class="btn btn-raised btn-primary float-right" (click)="Save()">
                           Save
                            </button>
                           <button type="button" class="btn btn-raised btn-warning mr-1 float-right" (click)="goToPage()">
                           Back
                            </button>
                    </div>
            
            </div>
            <hr/>
                <!-- <div class="col-md-6">
                   <div class="card">
                    <div class="pr-dv" *ngFor="let role of  rolePageList; let pindex = index;">
                        <a href="javascript:void(0);" (click)="collapseParent(role)" *ngIf="role.ChildRolePagePermissionDcs && role.ChildRolePagePermissionDcs.length >0">
                            <i *ngIf="!role.IsVisible" class="fa fa-caret-right fa-lg mr-10" aria-hidden="true"></i>
                            <i  *ngIf="role.IsVisible" class="fa fa-caret-down fa-lg mr-10" aria-hidden="true"></i>
                        </a>
                        <p-checkbox  [ngClass]="{'nt-pr': !(role.ChildRolePagePermissionDcs && role.ChildRolePagePermissionDcs.length >0) }" name="pchk{{pindex}}" [label]="role.PageName" [(ngModel)]="role.IsChecked"
                            binary="true"  (click)="onParentPageClick(role)" ></p-checkbox>
                        <div *ngIf="role.IsVisible && role.ChildRolePagePermissionDcs && role.ChildRolePagePermissionDcs.length >0;">
                            <div class="ch-div" *ngFor="let page of  role.ChildRolePagePermissionDcs; let cindex = index;">
                                <p-checkbox (click)="onChildPageClick(role)" name="cchk{{cindex}}" [label]="page.PageName" [(ngModel)]="page.IsChecked"
                                    binary="true"></p-checkbox>
                            </div>                       
                          </div>                    
                    </div>                                                          
                </div>                          
                </div> -->
              
            </div>
        </div>
    </div>
  </div>

  
<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
  [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
  fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
  