.OTPInput {
    margin-top: -29px;
}


@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}


.pad-top-botm {
    padding-bottom: 40px;
    padding-top: 22px;
}

h4 {
    text-transform: uppercase;
}
.contact-info span {
    font-size: 14px;
    padding: 0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.client-info {
    font-size: 15px;
}

.ttl-amts {
    text-align: right;
    padding-right: 50px;
}

.containers {
    padding-left: 45px;
    padding-right: 45px;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}
.accordion {
    background-color: #03A9F4;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/*Here I will add some css for looks good*/
.tabContainer {
    max-height: 400px;
    overflow: auto;
    width: 80%;
}

.tableData {
    border-left: solid 1px #D8C3C3;
    border-top: solid 1px #D8C3C3;
    width: 100%;
}

    .tableData td, .tableData th {
        border-right: solid 1px #D8C3C3;
        border-bottom: solid 1px #D8C3C3;
        text-align: left;
        padding: 5px;
    }


    .tableData th {
        background-color: #FAFAFA;
        padding: 7px 5px;
        border-bottom-color: #9C9C9C;
    }

.odd {
    background-color: #f3f3f3;
}

.even {
    background-color: #ffffff;
}

tr.sub {
    display: none;
}

.CX {
    width: 35px;
}

    .CX span {
        font-family: fantasy;
        font-size: 15px;
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
    }
.imgWth {
    width: 80px;
    height: 80px;
}

.invoiceImg img {
    max-width: 100%;
}

.modal-body {
    max-height: 750px;
    overflow-y: auto;
}
