.card {
  box-shadow: none !important;
}

.custom-control-label::before {
  height: 1.5rem;
  width: 1.5rem;
}

.custom-control-label::after {
  height: 1.5rem;
  width: 1.5rem;
}

.form-inline label {
  justify-content: flex-start;
}

agm-map {
  // height: 300px;
  height: 600px;
  border-width: 0px;
  margin: 5px;
}
.hr-nt {
  text-align: center;
  margin: 10px 0px 30px 0px;
}
