.searchField{
    position: relative;
  }
  .searchField input{
    // border: none;
    // box-shadow: 0px 1px 6px 0px #ccc;
    // border-radius: 15px;
    padding: 5px;
    text-indent: 10px;
    margin-top: 11px;
    padding-right: 24px;
  }
  .searchField i{
    position: absolute;
    top: 25px;
    right: 20px;
    color: #666;
  }
  .searchMrpField{
    position: relative;
  }
  .searchMrpField input{
    // border: none;
    // box-shadow: 0px 1px 6px 0px #ccc;
    // border-radius: 15px;
    padding: 5px;
    text-indent: 10px;
    margin-top: 11px;
  }
  .searchMrpField i{
    position: absolute;
    top: 44px;
    right: 186px;
    color: #666;
  }

  .view, .inf {
    display: none;
    z-index: 89;
    position: relative;
    float: right;
    i{
      background: black;
      padding: 6px 9px;
      opacity: .7;
      margin-top: -11px;
      // margin-right: -20px; 
      position: absolute;
      right: -12px;
    }
      
  }
  
  tr:hover .view, tr:hover .inf{
    display: inline;
  }
  
  .view:hover, .inf:hover{
    opacity: 1 !important;
    z-index: 199;
    i{
      opacity: 1 !important;
      z-index: 199;
      color: wheat;
    }
  }