.h11{
    color: #e76b23;
    font-family: monospace;
    border-bottom: ridge;
  
    font-size: -webkit-xxx-large;
  
  
  }

  .c1{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }


  body .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.500em;
    border: 2px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}