.supp-name{
    font-size: 10px;
    color: grey;
}
.message-time{
    font-size: 10px;
    color: grey;
}
section.chat{
    width: 100%;
    height: 780px;
}
.messageChat{
    font-size: 14px;
    width: 100px;
    word-break: break-all;
}
#input{
    z-index: 10;
}
.chats-height{
    height:90%;
}
.bg-grey100{
    background-color: #F5F5F5;
}
.scr{
    height: 700px;
    width: 300px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px gray;
}
.scrs{
    height: 700px;
    // width: 1300px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px gray;
}
.mainBox{
    padding: 0px 30px;
    overflow: auto;
    max-width: 80%;
}
.bg-primary.messageChat  {
    background-color: #ff7a49 !important;
    border-radius: 25px 15px 15px 0px !important;
}
.messageChat{    
    border-radius:15px 0px 25px 15px !important;
}
.bg-blue-grey.bg-lighten-5{
    background: none !important;
}
.btn-danger:hover {
    color: #fff !important;
    background-color: #ff7a49 ;
    border-color: #ff7a49 ;
}
.cdk-virtual-scroll-viewport{
    max-height: 70%;
}
@media (max-width:1570px){
    .mainBox{
        max-width: 70%;
    }
}

@media (max-width:1200px){
    .mainBox{
        max-width: 60%;
    }
}
@media (max-width:767px){

}