@media print {
                    body * {
                        visibility: hidden;
                        font-size: 70px;
                    }

                    #printSection,
                    #printSection * {
                        visibility: visible;
                    }

                    #printSection {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    table {
                        border: solid #000 !important;
                        border-width: 1px 0 0 1px !important;
                    }
                    th,
                    td {
                        border: solid #000 !important;
                        border-width: 0 1px 1px 0 !important;
                    }
img{
   display: none !important;
}
                    .no-print {
                        display: none !important;
                    }

                    .border {
                        border: 1px solid #000 !important;
                    }

                    btn-sm.btn-primary.no-print {
                        display: none !important;
                    }
                }