<p-tabView>   
    <p-tabPanel header="Eway Bill Order" ><br>
        <app-order-page></app-order-page>
    </p-tabPanel>
    <p-tabPanel header="Internal Transfers" *ngIf="roleListarry" ><br>
        <app-internal-transfer></app-internal-transfer>
    </p-tabPanel>
    <p-tabPanel  header="Near Expiry Eway bills" ><br>
        <app-near-expiry-ewaybills></app-near-expiry-ewaybills>
    </p-tabPanel>
    <p-tabPanel header="Failed Eway-bills"><br>
        <app-failed-ewaybills></app-failed-ewaybills>
    </p-tabPanel>
</p-tabView>
