.div1
{
    display: inline;
    border-color: black;
    border: 5px;
    border-radius: 2px;
}
.cont
{
    border-radius:2px;
    border-color: black;
    background-color:whitesmoke;
    
    
}
.required
{
    color: red;
}