<div class="row">
   
<ng-container *ngFor="let mainimage of section; let j = index">
    <ng-container *ngIf="!mainimage.Deleted || mainimage.Deleted == 'false'">
        <div [ngClass]="{'col-md-12': ColumnCount == 1, 'col-md-6' : ColumnCount == 2, 'col-md-4' : ColumnCount == 3}">
            <img class="imageShow" style="width: 100%;margin-right: 50px;" *ngIf="mainimage && mainimage.TileImage"
                [src]=photoURL(mainimage.TileImage) alt="text">
        </div>
    </ng-container>
    <br />
</ng-container>

</div>
<p style=" text-align: center;  font-weight: bold;" >Tile - {{tileType}}</p>
<hr>