h6{
    text-align: center;
}
// .radio{
//     padding: 17px 2px 0px 2px;
//     // font-size: x-large;
//   }
  .gr{
    background: green !important;
    color: white;
  }
  .yl{
    background: rgb(228, 169, 6) !important;
    color: black !important;
  }
  .sp_label{
    padding: 8px;
  }
  .mr{
    text-align: center;
    margin-top: 3em;
  }