.btn-success
{
    background-color: #0a9e67;
}
:host::ng-deep .p-3 {
    padding: 0.5rem !important;
}
:host ::ng-deep  .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tbody > tr > td {
    padding: 10px;
}
:host ::ng-deep .ml-2, .mx-2 {
    margin-left: 4.75rem !important;
}
:host ::ng-deep .ml-1, .mx-1 {
    margin-left: 2.375rem !important;
}
.ccc{
        height: fit-content;
        margin-top: 28px;
        margin-left: 6px;
    }
    :host ::ng-deep .mb-2, .my-2 {
        margin-bottom: -3.25rem !important;
    }
    :host ::ng-deep .ml-4, .mx-4 {
        margin-left: 3.25rem !important;
    }
    :host ::ng-deep .mr-4, .mx-4 {
        margin-right: 3.25rem !important;
    }
