

td,th{
    word-break: break-all;
    word-wrap: break-word;
}



.mr-1{
    margin-top: 10px;
}

.pmnt-blr{
    opacity: .4;
    background: chocolate !important;
    color: white !important;
}
.largerCheckbox { 
    width: 26px;
    height: 40px; 
} 