.det{
    background-color: #0679e2;
    color: white;
    border: none;
}

.act{
    background-color: #e81d1f;
    color: white;
    border: none;
}

.actg{
    background-color: #33ad33;
    color: white;
    border: none;
}

.editbtn{
    background-color: #2b59e2;
    color: white;
    border: none;
}

.delbtn{
    background-color: #c92813;
    color: white;
    border: none;
}

.heading{
    font-family: 'Poppins','sans-serif'!important;
    font-weight: 500;
    color: #ff5b1e;
}
.container{
    height:565px !important;
}

h5{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    color: #0452a5;
  }