.sp{margin-left: 0em;margin-top: 1em;margin-right: 0em;margin-bottom: 1em;}
.brdr{border: solid 1px lightgray;}
.hub-charge{color: blue;}
.brdr-st{border: solid 1px White; color: black;}
.brdr-pd{ padding : 5px;border-radius: 4px;border: solid 1px black;}
.brdr-pd1{ padding : 5px;border-radius: 4px;border: solid 1px black;color: white;}
.listDetails{
    cursor: pointer;
      border: 1px solid #a2a2a2;
      padding: 15px 10px;
      height: 95px;
      text-align: center;
      border-radius: 5px;
      margin: 8px 0px;
      box-shadow: none !important;
      & strong{
      font-weight: 500;
      font-size: 10px;
      color: red;
      } & span {
          font-size: 1.1em;
          display: block;
      font-weight: 500;
      }
      & small {
        font-size: 9px;
        display: block;
    font-weight: 500;
    }
  }
.bl{
    font-weight: 500;
    font-size: 1.3em;
    text-decoration: underline;
    color: #495057;
}
:host ::ng-deep .p-datatable table {
  border-collapse: collapse;
  width: 103%;// 140%;
  table-layout: fixed;
}
.br-wthit{
    border: solid 1px black;
    // background: rowData.Backgroundcolor;
    // color: white;
    padding : 5px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}
.br-wellowhit{
    border: solid 1px yellow;
    // background: yellow;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding : 5px;
    text-transform: uppercase;
}
.br-redhit{
    border: solid 1px red;
    // background: red;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding : 5px;
    text-transform: uppercase;
}
tr > th{
    text-transform: uppercase;
}
tr > td{
    font-size: 11px;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th {
    border: none !important;
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
    font-size: 10px;
}
:host ::ng-deep .ui-widget-header input {
    max-width: 36%;
}
:host ::ng-deep .ui-table .ui-table-caption.ui-widget-header {
    border: none;
    background: none;
    margin-bottom: 0px;
}