tr > td, tr > th{
    padding-top: 0.8em!important;
    padding-bottom: 0.8em!important;
    background-color: white;
    border: 0!important;
    border-bottom: 1px solid #E0E0E0!important; 
}
div.a{   
position: center;
width: 400px;
height: 200px;
background-color: solid red;
}
