tr > td, tr > th{
    padding-top: 0.8em!important;
    padding-bottom: 0.8em!important;
    background-color: white;
    border: 0!important;
    border-bottom: 1px solid #E0E0E0!important; 
}


tr > th{
    border-bottom: 2px solid #424242!important;
}

tr{
    background-color: white!important;
    font-size: 12px;
    font-weight: normal;
}



tr:hover{
    // transform: scale(1.01)!important;
    // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
     td{
         background-color: #F5F5F5!important;
     }
}
// body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
//     background-color: transparent!important;
//     color: inherit!important;
//     border: 0!important;
//     padding: 0.571em 1em!important;
//     text-align: center!important;
// }

.ui-table.ui-table-caption{
    background-color: transparent!important;
    color: inherit!important;
    border: 0!important;
    padding: 0.571em 1em!important;
    text-align: center!important;
}

// body .ui-table .ui-table-summary{
//     background-color: transparent!important;
//     color: inherit!important;
//     border: 0!important;
//     padding: 0.571em 1em!important;
//     text-align: center!important;
// }