.btn-success{
    background-color: green;
}
.a{
    width: 61% !important;
}
:host ::ng-deep .ui-dialog-resizable .ui-dialog-content {
     overflow: hidden !important;
}

// ::ng-deep .pi-times:before {
//     content: "\e90b";
//     display: none !important;
// }
// .e90b{
//     display: none !important;
// }
::ng-deep .ui-dialog-resizable .ui-dialog-content {
     overflow: hidden !important; 
}
.btn-warning{
    background-color: rgb(209, 50, 50);
    border: rgb(209, 50, 50);
    color: white;
}
.btn-Info{
    background-color: rgb(11, 133, 182);
    border: rgb(11, 133, 182);
    color: white;
}
.btn-inform{
    background-color: rgb(112, 163, 100);
    border: rgb(112, 163, 100);
    color: white;
}
.btn-infor{
    background-color: #092d00;
    border: #092d00;
    color: white;
}
::ng-deep  .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-close {
    color: rebeccapurple !important;
    font-size: 1px !important;
}