.ctr{
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}
.sp{
    margin-left: 1em;
}
.tp{
    margin-top: 1em;
}
.btn-info
{
    color: #1cbcd8 !important;
    background-color: white !important;
}
h5{
font-weight: 600;
color: gray;
}
.success-msg{
    color: dodgerblue;
}