.header-navbar.navbar.navbar-expand-lg.navbar-light.bg-faded{
    padding-top: 0;
    padding-bottom: 0;
    // background-color: #f5f7fa!important;
    // box-shadow: none;
}
.photo-circle{
    min-height: 35px;
    min-width: 35px;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    overflow: hidden;
    .photo{
        min-width: 35px;
        height: auto;
        width: 3.5vh;
        border-radius: 50%;
    }
    transition: 0.2s ease-in;
}
#dropdownBasic3::after{
    content: none!important;
}
.photo-circle:hover{
    transform: scale(1.1);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.ob{
    background-color: orange;
}