.btn{
    margin-top: 17px;
}
.color{
    color: rgb(0, 4, 255);

}
.color:hover{
    cursor: pointer;
}

.Bg-Colour-Yellow{
    background-color: yellow !important;
}

.Bg-Colour-Red{
    background-color: #cf1f13 !important;
    color: white !important;
    u{
        color: #13b6cf !important;
    }
}