#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 10px;
  z-index: 5;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

agm-map {
  height: 300px;
}
.card {
  box-shadow: none !important;
}

.custom-control-label::before {
  height: 1.5rem;
  width: 1.5rem;
}

.custom-control-label::after {
  height: 1.5rem;
  width: 1.5rem;
}

.form-inline label {
  justify-content: flex-start;
}

.mr-10 {
  margin: 10px;
}

.ovr-lay {
  position: absolute;
  margin: 0px 0px 0px 15px;

  padding: 15px;
}

.ovr-lay-hght {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border: solid 1px black;
  background: #999;
}

.mp-op {
  opacity: 1;
}

.ovr-lay-op {
  opacity: 0.7;
  max-height: 500px;
  overflow: auto;
}

.tbl-new td,
.tbl-new th {
  border: solid 1px whitesmoke;
  padding: 2px;
  color: #fff;
}

.tbl-new .thea {
  background: brown;
}

.tbl-new .bdy {
  background: black;
}

.ovrr {
  margin: -15px;
  margin-bottom: 10px;
}

.tooltip-a {
  position: absolute;
  right: 0;
  width: 250px;
  background: black;
  opacity: 0.6;
  padding: 10px;
  color: whitesmoke;
}
.nse {
  width: 90%;
}

.clu {
  color: brown !important;
  font-weight: bold !important;
  font-size: 14px;
  padding: 5px;
}

.btn-mr {
  margin-top: 7px !important;
}

.div-123 {
  padding: 15px;
  text-align: center;
  font-size: 26px;
  margin-top: 32px;
  border: solid 1px;
}
