agm-map {
    height: 500px;
    border-width: 0px;
    margin: 5px;
  }
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
  

  .sk{
    margin: 10px;
    border: solid 2px lightgray;
  }

  .cll{
    padding-left: 8px;
    padding-top: 10px;
  }

  .bln{
    border: solid 2px lightgray;
    margin-right: -42px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
  }

  .mk{
    padding: 4px;
  }

  .tp
{
    margin-top: 30px;
}
.mt
{
    margin-top: -34px;
}