.header
{
    font-size: 2em;
    font-weight: bold;
    color: orangered;
    text-align: center;
    text-decoration: underline;
}
.mr_left{margin-left: 1em;margin-right: 1em;}
:host::ng-deep .ui-accordion .ui-accordion-header a {
    padding: 1.571em 1em;
    border: 1px solid #c8c8c8;
    color: #333333;
    background-color: #fff;
    color: #333333;
    font-weight: 700;
    transition: background-color 0.2s;
}
:host::ng-deep .ui-widget {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    text-decoration: none;
}
