.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.form-inline label{
    justify-content: flex-start;
}
// :host::ng-deep{
//     .ui-inputgroup input{
//         width:  100% !important;
//     }
// }
.ui-fluid p-autocomplete, .ui-fluid .ui-autocomplete, .ui-fluid .ui-autocomplete-input {
    width: 84% !important;
}
// :host::ng-deep body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
//     color: #ffffff;
//     background-color: #34A835;
//     border: 1px solid #34A835;
//     margin-left: 11.2em;
// }
.button-success{
    margin-left: 14.2em; 
    padding: 2px;
}
.edt{
    // margin-left: 9em;
    padding: 2px;
}
// .ui-button {
//     display: inline-block;
//     position: relative;
//     padding: 2px;
//     text-decoration: none !important;
//     cursor: pointer;
//     text-align: center;
//     zoom: 1;
//     overflow: visible;
// }