.cc{
    // max-width: 70% !important;
    background: #8dd49c;
    max-width: 50% !important;
}

.dd{
    // max-width: 70% !important;
    max-width: 50% !important;
    background:#d4c5d0;
}

.ttl-sl{
    // max-width: 70% !important;
    max-width: 50% !important;
    background:#d2f7d3;
}

.on-kk{
    // max-width: 70% !important;
    max-width: 50% !important;
    background:#e39898;
}

.tt-or{
    // max-width: 70% !important;
    max-width: 50% !important;
    background:#87d4e0;
}

.ttbr{
    // max-width: 70% !important;
    max-width: 50% !important;
    background:#c4c4c4;
}

.vtnt{
    padding: 15px;
    text-align: center;
    width: 100%;
}


.bck{
    max-width: 25% !important;
}

.rghtt{
    border-left: solid 1px gray;
}