
.sumbtn
{
    background-color: rgb(33, 108, 33);
}
p-dialog .ui-dialog {
    overflow: scroll;
    max-height: 70%;
  }
  .marg1
  {
     margin-left: 50%;
  }
.marg
{
   margin-left: 60%;
}
.back
{
    background-color: black;
}
.bord
{
  border-radius: 1px;
}
.margbtn
{
    margin-left: 80px;
}
.th
{
    width: 50px;
}
.tr1
{
    position: sticky;
}
.header
{
    display: inline-block;
    margin-top:-2px;
}
.bnt
{
    margin-left: 15px;
}


@media only screen and (max-width: 600px) and (min-width: 320px)  {
    h3{
        margin-left: 0 !important;
        padding-top: 10px !important;
        font-size: 20px;
    }
    .mob{
        margin-top:-35px !important;
    }
    :host {
        ::ng-deep .customDialog {
            background-color: white !important;
            width: 2vw !important;
            box-shadow: 0px 20px 20px #D8DDE680;
            border: 1px solid rgb(231, 231, 231);
        }
    }
    .export{
        margin-top: -185px;
        margin-left: 130px !important;
    }
    .mmt{
        margin-top:-108px !important;
    }
    .col-6{
        flex: 0 0 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        max-width: 100% !important;
    }
   ::ng-deep body .ui-dialog .ui-dialog-titlebar {
        border: 1px solid #c8c8c8;
        background-color: #f4f4f4;
        color: #333333;
        padding: 1em 3em !important; 
        font-weight: 700;
        border-bottom: 0 none;
    }
}

@media only screen and (max-width: 360px) and (min-width: 320px)  {
    .col-6{
        flex: 0 0 90%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90%;
        max-width: 90% !important;
    }
    :host {
        ::ng-deep .customDialog {
           padding: 0px 15px;
        }
    }
    ::ng-deep .ui-dialog .ui-dialog-titlebar{
        padding: 13px 35px !important;
    }
    ::ng-deep body .ui-dialog .ui-dialog-titlebar {
        border: 1px solid #c8c8c8;
        background-color: #f4f4f4;
        color: #333333;
        padding: 1em 3em !important; 
        font-weight: 700;
        border-bottom: 0 none;
    }
}