.abs {
    //  width: 40%;//80%;
    // position: fixed;//absolute;
    // opacity: 0;
    // z-index: 2;
    // height: 75px;
    // max-height: 23%;
    // height: 23%;
    // right: 2.3em;
    // right: 6.9em;
    // margin-top: -1em;   
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 2;
    height: 100%;
    vertical-align: middle;
   
  }
  
  
  .box {
    z-index: 1;
    height: 75px;
    max-height: 75px;
    border: solid 1px lightgray;
    background: lightblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  
    p {
      padding-top: 24px;
    }
  }
  
  .img-w {
    margin: 0px 5px 5px 0px !important;
  }
  
  .my-div {
    display: inline-block;
    position: relative;
  }
  
  
  .sv-btn-pr {
    padding: 0.5em 2em;
  
    margin-left: auto;
    margin-right: auto;
    margin: auto;
  
    border-radius: 8px;
    width: 90%;
    margin: 1em 0em 0em 0em;
  }
  
  
  .prr {
    color: #58CCC1;
    background: #343553;
    border: solid 1px #343553;
  }
  
  .scc {
    color: #343553 ;
    background: #58CCC1;
    border: solid 1px #58CCC1;
  }
  
  .crop-btn{
    display: block;
    text-align: center;
    & button{
      border: 1px solid coral;
      background: none !important;
      color: coral;
      font-weight: 500;
      border-radius: 5px;
      padding: 4px 12px;
      width: 250px;      
      margin-top: 9px;
    }
  }
  :host ::ng-deep image-cropper {
    max-height: 62vh !important;
  }