:host ::ng-deep .ui-table .ui-table-thead > tr > th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
:host ::ng-deep .ui-table-scrollable-header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.wrapp
{
    word-break: inherit;
    text-overflow: initial;
    height: 80vh;
}