<div class="my-2 d-flex justify-content-between align-items-center">
    <div class="header">
        <h3 class="m-2">Indent Performance Dashboard</h3>
    </div>
</div>

<div class="container-fluid ui-fluid shadow p-3 mb-3 bg-white rounded table table-hover">
    <div class="row">
        <div class="col-sm-2 mt-2">
            <!-- <p-multiSelect [options]="selectedCities"  optionLabel="name" defaultLabel="Warehouse"></p-multiSelect> -->
            <p-dropdown [options]="hubList" placeholder="Select Hub" [(ngModel)]="selectedHub" [filter]="true"
                [panelStyle]="{minWidth:'100%'}" optionLabel="WarehouseName">
            </p-dropdown>
        </div>
        <div class="col-sm-2 mt-2">
            <p-multiSelect [options]="brandList" optionLabel="BrandName" defaultLabel="Select Brand" [filter]="true"
                filterBy="label" [(ngModel)]="BrandData"></p-multiSelect>

        </div>
        <div class="col-md-3 mt-2">
            <p-calendar [(ngModel)]="selectDate" view="month" dateFormat="yy/mm/01" [showIcon]="true"
                placeholder="Select Month"></p-calendar>
        </div>
        <!-- <div class="col-md-1 mt-2">
        </div> -->

        <div class="col-md-4 mt-2" style="margin-left: 105px;">
            <button type="button" class="btn btn-primary" (click)="searchData()">
                Search
            </button> &nbsp;
            <button type="button" class="btn btn-primary" (click)="removeData()">
                Clear
            </button> &nbsp;
            <button type="button" class="btn btn-success" (click)="ExportData()" [disabled]="!isShow"
                style=" background-color: #119150;color: white;">
                Export
            </button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="exportYtdData()" [disabled]="!isShow" style=" background-color: #de2d2d;color: white;">
                Export YTD
            </button>
        </div>
    </div>

</div>

<div class="container-fluid ui-fluid shadow p-3 mb-3 table table-hover">
    <div class="row">
        <div class="col-sm-2" style="margin-left: 0px;">
           <h4><b>BRAND</b></h4> 
        </div>
        <div class="col-sm-4" style="text-align: center;">
            <h4><b>MTD</b></h4> 
        </div>
        <div class="col-sm-6"  style="text-align: center;" >
            <h4><b>YTD</b></h4> 
        </div>
    </div>
    <div class="row">

        <div class="card col-12">
            <!-- <h4 class="m-2" style="text-align: center;"><b>Brand</b></h4> -->
            <!-- [scrollable]="true" scrollHeight="40vh" -->
            <!-- [lazy]="true" [totalRecords]="totalRecords"  (onLazyLoad)="load($event)" -->
            <p-table [value]="data" [paginator]="true" [rows]="10" [(first)]="first" styleClass="p-datatable-gridlines" 
            [tableStyle]="{'min-width': '100%'}" >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 12%;">Brand List</th>
                       
                        <th style="text-align: center;width: 12%;">Indent Value</th>
                        <th>GR Value</th>
                        <th>Sale Value</th>
                        <th style="width: 18%;">Performance %</th>
                        <th>Indent Value</th>
                        <th>GR Value</th>
                        <th>Sale Value</th>
                        <th style="width: 12%;">Performance %</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-yr>
                    <tr>
                        <td style="width: 12%;">{{yr.SubsubcategoryName}}</td>
                        <td style="text-align: center;width: 12%;">{{yr.m_IndentPrice | number : '1.0-2'}}</td>
                        <td >{{yr.m_GRQtyPrice | number : '1.0-2'}}</td>
                        <td>{{yr.m_SalePrice| number : '1.0-2'}}</td>
                        <td *ngIf="yr.y_Performance>100" style="width: 12%;">100</td>
                        <td *ngIf="yr.y_Performance<100" style="width: 12%;">{{yr.m_Performance ? (yr.m_Performance | number :'1.0-2') : 0}}</td>
                        <td>{{yr.y_IndentPrice | number : '1.0-2'}}</td>
                        <td>{{yr.y_GRQtyPrice | number : '1.0-2'}}</td>
                        <td>{{yr.y_SalePrice | number : '1.0-2'}}</td>
                        <td *ngIf="yr.y_Performance>100" style="width: 12%;">100</td>
                        <td *ngIf="yr.y_Performance<100" style="width: 12%;">{{yr.y_Performance ? (yr.y_Performance | number :'1.0-2') : 0}}</td>
                        <!-- <td style="width: 18%;">{{yr.m_Performance ? (yr.m_Performance | number :'1.0-2') : 0}}</td> -->
                        <!-- <td style="width: 12%;">{{yr.y_Performance ? (yr.y_Performance | number :'1.0-2') : 0}}</td> -->
                    </tr>
                </ng-template>
           
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="9">
                        <br>
                        <h3 style="text-align: center;color: red;">No Data Found</h3>
                      </td>
                    </tr>
                </ng-template>
              
      
            </p-table>

        </div>

        <!-- [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="load($event)"  -->
        <!-- <div class="card col-md-4">
            <h4 class="m-2" style="text-align: center;"><b>MTD</b></h4>
            <p-table [value]="data" [paginator]="true" [rows]="10" [(first)]="first">
               
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center;">Indent Value</th>
                        <th style="text-align: center;">GR Value</th>
                        <th style="text-align: center;">Sale Value</th>
                        <th style="text-align: center;">Performance %</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ir>
                    <tr>
                        <td style="text-align: center;">{{ir.m_IndentPrice | number : '1.0-2'}}</td>
                        <td style="text-align: center;">{{ir.m_GRQtyPrice | number : '1.0-2'}}</td>
                        <td style="text-align: center;">{{ir.m_SalePrice| number : '1.0-2'}}</td>
                        <td style="text-align: center;">{{ir.m_Performance ? (ir.m_Performance | number :'1.0-2') : 0}}</td>
                        

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <td><h2 style="width: 350px;color: red;"><b>Data Not Found</b></h2></td>
                  </ng-template>
            </p-table>
        </div>
        <div class="card col-md-4">
            <h4 class="m-2" style="text-align: center;"><b>YTD</b></h4>
            <p-table [value]="data" [paginator]="true" [rows]="10" text-align: center [(first)]="first">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center;">Indent Value</th>
                        <th style="text-align: center;">GR Value</th>
                        <th style="text-align: center;">Sale Value</th>
                        <th style="text-align: center;">Performance %</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-yr>
                    <tr>
                        <td style="text-align: center;">{{yr.y_IndentPrice | number : '1.0-2'}}</td>
                        <td style="text-align: center;">{{yr.y_GRQtyPrice | number : '1.0-2'}}</td>
                        <td style="text-align: center;">{{yr.y_SalePrice | number : '1.0-2'}}</td>
                        <td style="text-align: center;" >{{yr.y_Performance ? (yr.y_Performance | number :'1.0-2') : 0}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <td><h2 style="width: 350px;color: red;"><b>Data Not Found</b></h2></td>
                  </ng-template>
            </p-table>
        </div> -->
    </div>
</div>

<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
    [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>


    