.heading{
    font-family: 'Poppins','sans-serif'!important;
    font-weight: 500;
    color: #ff5b1e;
    align-items: center;
}

::ng-deep .ui-dialog-resizable .ui-dialog-content {
    overflow: hidden; 
}