:host ::ng-deep .ui-table-scrollable-header,
.ui-table-scrollable-footer {
    overflow: auto;
    border: 0 none;
}

.my-lnk {
    display: block;
    float: right;
    color: orangered !important;
    font-size: 1.2em;
    position: absolute;
    right: 5px;
    top: 5px;
}

.m-brdr {
    border: solid 1px orangered;
}

.my-bx {
    display: inline-block;
    width: 33%;


    .my-bx-brdr {
        position: relative;
        margin: 5px;
        border: solid 1px rgb(255, 255, 255);
        padding: 5px;
        text-align: center;
        height: 100px;
        // background-color: red;

        div:first-child {
            color: white;
            font-size: 17px;
            font-weight: bold;
        }

        div:nth-child(2) {
            padding-top: 10px;
            color: rgb(34, 34, 34);
            font-size: 25px;
            font-weight: bold;
        }

        div:nth-child(3) {
            padding-top: 10px;
            color: rgb(107, 107, 107);
            font-size: 27px;
            font-weight: bold;
        }

        img {
            position: absolute;
            size: 50px;
            width: 50px;
            right: 6px;
            bottom: 5px;
        }

        .sze {
            size: 65px;
            width: 65px;

        }

        .sze-a {
            size: 41px;
            width: 41px;
        }
    }

    .thrs-clr {
        background-color: rgb(107, 100, 243);
    }

    .exe-clr {
        background-color: rgb(172, 91, 151);
    }

    .dlvr-clr {
        background-color: #a3eb15;
    }

    .cncl-clr {
        background-color: #e62d20;
    }

    .dr-clr {
        background-color: #ffb514;
    }

    .rat-clr {
        background-color: #f2f22e;

    }
}

.trck {
    position: absolute;
    z-index: 2;
    /* height: 100vh; */
    width: 300px;
    left: 201px;
}


#pot {
    top: 35%;
    position: absolute;
    -webkit-animation: linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 4s;

    .nk {
        position: absolute;
        top: 0px;
        width: 80%;
        height: 100vh;
        background-color: rgb(200, 200, 49);
        z-index: 1;
    }

}

@-webkit-keyframes run {
    0% {
        left: 80%;
    }

    100% {
        left: 0;
    }
}

.my-ftl-tbl {
    width: 100%;
    margin-bottom: 10px;
    tr>th {
        border-bottom: none !important;
        border: solid 1px rgb(11, 10, 10) !important;
        padding: 5px;
        background:  rgb(240, 234, 234);
        color:rgb(33, 28, 28);
    }

    tr>td {
        padding: 5px;
        border: solid 1px rgb(11, 10, 10)  !important;
    }

    .m-success{
        background-color: rgb(118, 236, 118);
    }

    .m-red{
        background-color: rgb(238, 101, 101);
    }

    .m-yellow{
        background-color: rgb(233, 235, 113);
    }
}