<!-- <h4>Rating Master List Page</h4> -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<section>

    <!-- header -->
    <div class="mt-2 d-flex justify-content-between align-items-center">
        <div class="header">
            <h3 class="m-2">Rating Master List</h3>
        </div>
        <div>
            <button id="add" name="add" type="button"
                class="btn btn-raised float-right align-self-end btn-primary add-btn" (click)="addRating()"><i
                    class="fa fa-plus-circle"></i>  Add Rating</button>
        </div>
    </div>

    <!-- <div class="container h-100">
        <div class="d-flex justify-content-left ">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search..."  >
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div> -->
    <!-- </div> -->

    <div class="card shadow">
        <div class="card-content p-3">
            <div class="">
                <div class="row rt">


                    <div class=" col-sm-12 col-md-6 col-lg-6">
                        <label> Type</label>
                        <select id="app_type" name="app_type" class="form-control" [(ngModel)]="AppType"
                            (change)="Search()" >
                            <option value="">Select Type</option>
                            <option value="3">Retailer Rating</option>
                            <option value="2">Delivery Rating</option>
                            <option value="1">Sales Rating</option>
                        </select>
                    </div>


                    <!-- <div class="col-md-3"> -->
                    <!-- <button id="add" name="add" type="button" class="btn btn-raised btn-primary bt" (click)="Search()">Search</button> -->
                    <!-- </div> -->

                    <!-- <div class="col-md-3"></div> -->

                    


                </div>
            </div>
        </div>
    </div>

    <div class="card shadow" *ngIf="ratingList">
        <div class="card-content p-0 text-center">
            <p-table #dt [value]="ratingList" [paginator]="true" [rows]="20" [scrollable]="true" scrollHeight="130vh"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th>S.No.</th>
                        <th>Type</th>
                        <th>Rating</th>
                        <th>Created Date</th>
                        <th>Detail</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ir let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{ir.AppTypeName}}</td>
                        <td>{{ir.Rating}}</td>
                        <td>{{ir.CreatedDate | date : 'dd/MM/yyyy hh:mm a'}}</td>
                        <td>
                            <button id="open" name="open" type="button" class="btn btn-raised btn-primary bt"
                                (click)="openDetail(ir)">Detail</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</section>

<div *ngIf="isOpenRatingDetail">
    <p-dialog [(visible)]="isOpenRatingDetail" [resizable]="false" positionTop="top" [modal]="true" appendTo="body"
        [style]="{width: '90%',height: '90%', overflow:'auto'}">
        <!-- <p-header> -->
        <!-- <h2>Edit List</h2> -->
        <!-- <div class="header">
                <h3 class="m-2">Add Rating</h3>
            </div> -->
        <!-- </p-header> -->

        <app-add-rating [selectedDetailId]="selectedDetail.Id" [isDetail]="true" (close)="closeRatingDetailPopup()">
        </app-add-rating>


    </p-dialog>
</div>
<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
    [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>