


<div style="margin:50px;">
        <div class="alert alert-info"><b>Level Color</b></div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Level ID</th>
                <th>Level Name</th>
                <th>Level Color</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let level of levelList">
                <td>{{level.LevelId}}</td>
                <td>{{level.LevelName}}</td>
                <td>

                                <div class="form-group m-2">
                                                <input type="text" id="cname" class="form-control col-md-6" name="cname" 
                                                [(ngModel)]="level.LevelColor" placeholder="LevelColor" [ngStyle] ="{'background-color': level.LevelColor}"/>

                                </div>
                                <!-- <div class="form-group m-2">
                                        <select class="form-control col-md-6" [(ngModel)]="level.LevelColor">
                                                <option value="">Highlight</option>
                                                <option value="#000000" style="background-color: Black;color: #FFFFFF;">#000000</option>
                                                <option value="#808080" style="background-color: Gray;">#808080</option>
                                                <option value="#A9A9A9" style="background-color: DarkGray;">#A9A9A9</option>
                                                <option value="#D3D3D3" style="background-color: LightGrey;">#D3D3D3</option>
                                                <option value="#FFFFFF" style="background-color: White;">#FFFFFF</option>
                                                <option value="#7FFFD4" style="background-color: Aquamarine;">#7FFFD4</option>
                                                <option value="#0000FF" style="background-color: Blue;">#0000FF</option>
                                                <option value="#000080" style="background-color: Navy;color: #FFFFFF;">#000080</option>
                                                <option value="#800080" style="background-color: Purple;color: #FFFFFF;">#800080</option>
                                                <option value="#FF1493" style="background-color: DeepPink;">#FF1493</option>
                                                <option value="#EE82EE" style="background-color: Violet;">#EE82EE</option>
                                                <option value="#FFC0CB" style="background-color: Pink;">#FFC0CB</option>
                                                <option value="#006400" style="background-color: DarkGreen;color: #FFFFFF;">#006400</option>
                                                <option value="#008000" style="background-color: Green;color: #FFFFFF;">#008000</option>
                                                <option value="#9ACD32" style="background-color: YellowGreen;">#9ACD32</option>
                                                <option value="#FFFF00" style="background-color: Yellow;">#FFFF00</option>
                                                <option value="#FFA500" style="background-color: Orange;">#FFA500</option>
                                                <option value="#FF0000" style="background-color: Red;">#FF0000</option>
                                                <option value="#A52A2A" style="background-color: Brown;">#A52A2A</option>
                                                <option value="#DEB887" style="background-color: BurlyWood;">#DEB887</option>
                                                <option value="#F5F5DC" style="background-color: Beige;">#F5F5DC</option>
                                                </select>
                                                <div class="form-group m-2">
                                                                                                                                                                                                 
                                                      </div>
       
                                </div> -->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <button type="button">Save</button> -->
        </div>
      </div>

      <p-footer>
        <div class="ui-g">
                <div class="ui-g-12">
                        <button class="btn btn-primary pull-right" (click)="save(levelList)">
                                Save</button>
                </div>
        </div>
           </p-footer>
      


