.header{
    margin-bottom: 5px !important;
}
.label.label-default {
    background-color: #777 !important;
    color: #fff;
    padding: 3px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2px;
}
.status-Hint{
   background: #f2f7ff;
    padding: 10px;
    border-radius: 5px;
    margin-top: -15px;
    margin-bottom: 17px;
    & h3{
        font-size: 15px;
        font-weight: 600;
        display: block;
        width: 100%;
    }
     
}
.topHeader{
    padding: 12px;
    background: aliceblue;
    margin-bottom: 12px;
    border-radius: 5px;
    & p {
        font-size: 12px;
    }
}
body .ui-dialog .ui-dialog-content {
    border: none;
    display: block;
    height: 600px !important;
}
.main-popup{
    display: block;
    overflow: auto;
}
  img {
        width: 85px !important;
        height: 85px !important;
    }
     .noshowpage {
            display: none !important
        }
.summeryHeader{
    background: aliceblue;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 19px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0 , 0.2);
    img {
        width: 85px;
        height: 85px;
    }
    span{
       display: block;
       width: 100%;
       margin-bottom: 15px;
    }
}
// .product_list{
//     height: 650px;
//     overflow: auto;
// }
.reward-body{
  background: #e45604;
}
// .reward-body .no-print {
//                         display: none !important;
//                     }
//                     @media print {
//                     body * {
//                         visibility: hidden;
//                     }

//                     #printSection,
//                     #printSection * {
//                         visibility: visible;
//                     }

//                     #printSection {
//                         position: absolute;
//                         left: 0;
//                         top: 0;
//                     }

//                     table {
//                         border: solid #000 !important;
//                         border-width: 1px 0 0 1px !important;
//                     }


//                     th,
//                     td {
//                         border: solid #000 !important;
//                         border-width: 0 1px 1px 0 !important;
//                     }

//                     .no-print {
//                         display: none !important;
//                     }

//                     .border {
//                         border: 1px solid #000 !important;
//                     }

//                     btn-sm.btn-primary.no-print {
//                         display: none !important;
//                     }
//                 }
.popup-padding{
    padding: 25px;
}
.printInvoice{
   background: #c9f3f7;
    border-radius: 5px;
    padding: 15px 34px
}
.noshowpage{
    color: #ff5b1e;    
}
.printBanner{
background: #c9f3f7;
padding: 10px;
}
 .border {
                border: 1px solid #000 !important;
            }
.routeBox{
 & span{
     display: block;
 }
 & strong{
     font-weight: 700;
     display: block;
     text-align: center;
 }
 & b{
     font-weight: 700;
     display: block;
 }
 & small{
  margin-bottom: 9px;
    display: block;
    border-bottom: 1px dotted #a5a5a5;
    padding-bottom: 11px;
 }
}

  .noprint{
      display: inline-block;
      opacity: 100;
  } 
.hiddenDiv{
    display: none;
    opacity: 0px;
}
 .hideBoxTable{
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        margin-bottom: 0px !important;
        & img{
           text-align: right;
           display: inline-block;
           width: 150px !important;
           margin-right: -7px;
        }
    }    
.commonMargin{
    margin: 15px !important;
}
.totalCount{  
   font-size: 15px;
    color: #ff4c0a;
    font-weight: 600;
    margin: 35px 0px 10px;
}
.popupTable{
   margin: 35px 0px;
    img{
        width: 85px;
    height: 65px;
    }
button {
    color: #fff !important;
}
& thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 11px;
    background: #f7f8f9;
}
}


.btn-outline-primary:hover {
    background-color: #ff5b1e;
    color: #FFF;
}
.btn-outline-primary 
{
    border: 1px solid;
    border-color: #ff5b1e;
    background-color: transparent;
    color: #ff5b1e;
    box-shadow: none;
}
.input-color {
        position: relative;
        margin-bottom: 5px;
        display: grid;
    }

        .input-color input {
           padding-left: 30px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #ccc;
        }

        .input-color .color-box {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #ccc;
            position: absolute;
            left: 10px;
            top:7px;
        }

.input-color-modify {
    position: relative;
    margin-bottom: 5px;
    display: grid;
}
    
.input-color-modify input {
    padding-left: 16px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #ccc;
    width: 141px;
    }
 
.input-color-modify .color-box-modify {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    top:7px;
}

.assign_btn{
    background: #382aad;
    border: 1px solid;
    color: white;
    padding: 1.05rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.2rem;
}

.sort_finalize{
    background: #0f7ddb;
    border: 1px solid;
    color: white;
    padding: 1.05rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.2rem;
}

.summary{
    background: #10ba2d;
    border: 1px solid;
    color: white;
    padding: 1.55rem 0.7rem;
    font-size: 0.875rem;
    line-height: 2.0;
    border-radius: 1.2rem;
}

.details{
    background: #bfc929;
    border: 1px solid;
    color: white;
    padding: 1.55rem 0.7rem;
    font-size: 0.875rem;
    line-height: 2.0;
    border-radius: 1.2rem;
}

.print_btn{
    float: right;
    color: white;
    border-radius: 13px;
    border: 1px solid;
    line-height: 2;
    padding: 0.55rem 0.7rem;
    font-size: 0.875rem;
}

.summerySubHeader{
    background: #104370;
    color: white;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 23px;
    border-radius: 5px;
    margin-bottom: 9px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0 , 0.2);

    span{
       display: block;
       width: 100%;
       //margin-bottom: 15px;
    }
}
.borderTableChange{
    overflow-y: auto;
    height: 230px;
    //margin-bottom: 15px;
}

.product_list{
    overflow: auto;
    height: 600px;
}

.labelAssignmentNumber{
    background-color: #e94b3b;
    display: inline;
    padding: 6px 6px 6px 6px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    border-radius: 0.25em;
}