
        .content{
            width: 100%;
            display: flex;
            height: fit-content;
            justify-content: space-between;           
            // margin-top: 15px;                    
        }
        .cont-left{
            width: 50%;
            background-color: #fff;
            padding: 5px 10px;
            margin-right: 0px;
            margin-left: 0px;
            border-radius: 3px;
            height: fit-content;
        }
        .cont-left table{         
          width:200%;      
            // overflow-y: scroll !important;
            // overflow-x: scroll !important;
            margin-right: 0px;
        }
        .cont-left h3{
            padding: 12px 0px;
        }
       
       .cont-left table th{
          background-color: #000;
          color: #fff;
          padding:10px 0px;
          font-size: 12px;
          text-align: center
       }
       
       .cont-left table td{
        padding:10px 0px;
       }

        .cont-right{
            width: 50%;    
            margin-left:15px;
            border-radius: 3px;           
        }

        .cont-right table {                
            border-collapse: collapse;
        }
        
        .B-unit{           
          height: fit-content;                   
        }
        
        .B-unit table{
          width:100%;                    
         
        }     
        .B-unit table th{
          background-color: #000;
          color: #fff;
          padding:10px 0px;
          font-size: 12px;
          text-align: center
        }
        .B-unit table td{
          padding:10px 0px;
        }
        .brand h3{
            margin-top: 10px;
        }
        .brand{
          margin-top:15px;
          background-color: #fff;
        
        }
       
        .brand th{           
            padding: 5px;
            color: #fff;
            background-color: #000;
            text-align: center;
            font-size:13px;
           
        }
        .brand td{
           font-size:13px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
       
        .brand table{
            margin-top: 10px;           
        }

        span{
            font-size:25px;
           font-weight: 400;
            margin-right:10px;
        }
// -----------------------        
.search_icon{
    position: absolute;
    right: 20px;
    top: 12px;
    color: #ff5b1e;
}
.input_search{
    border: none;
    padding: 4px 15px;
    border-radius: 52px;
    box-shadow: 0px 1px 6px 0px #ccc;
    padding-right: 30px;
}

.pad{
    font-size:13px;
    font-weight: bold;
}

//---------toggle btn--------------//
.btnn {
    border: 3px solid #ff5b1e;
    display: inline-block;
    padding: 8px 35px;
    border-radius: 3px;
    position: relative;
    top:-11px;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
 .togl input[type=radio].toggl {
    display: none;
  }
  .togl input[type=radio].toggl + label {
    cursor: pointer;
    min-width: 60px;
  }
  .togl input[type=radio].toggl + label:hover {
    background: none;
    color: #1a1a1a;
  }
  .togl input[type=radio].toggl + label:after {
   
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
  }
  .togl input[type=radio].toggl.toggl-left + label {
    border-right: 0;
  }
  .togl input[type=radio].toggl.toggl-left + label:after {
    left: 100%;
  }
  .togl input[type=radio].toggl.toggl-right + label {
    margin-left: -5px;
  }
  .togl input[type=radio].toggl.toggl-right + label:after {
    left: -100%;
  }
  .togl input[type=radio].toggl:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
    background-color: #ff5b1e !important;
  }
  .togl input[type=radio].toggl:checked + label:after {
    left: 0;
  }
  //---------toggle btn--------------//
.sel{
    background-color: rgb(133, 211, 247) !important;
}
.fa-caret-down{
  color: red;
  font-size:20px;
}
.fa-caret-up{
  color: green;
  font-size:20px;
}

.ui-widget{
  border: solid 1px #fff !important;
}
.bor{
  background-color:#fff !important;
  color:#000 !important;
  border:solid 1px #ddd !important;
}

.ui-chips > ul .ui-inputtext {
  padding: 0em 0em !important;
  display: inline-block !important; 
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {

  .mtlft{
    margin-left:50px !important;
  }

}

@media screen and (max-width: 1000px) {
 
.header{
    height: 450px;
    flex-direction: column;
}
.header-content{
    width: 100%;
    overflow: scroll;
}
.content{
    flex-direction: column;
}
.mr-lft{
    margin-left: 5px !important;
    flex-wrap:wrap ;
    flex-direction: column !important;
    padding-left: 5px;
}
.cont-left{
    width: 100%;
}
.cont-left table {                
    width: 100%;                                                        
    border-collapse: collapse;
    border: solid 1px #f1f1f1 !important;
}               
.cont-right{
    width: 100%;
    overflow: scroll;
}
.B-unit{
    width: 100%;
    overflow: scroll;
}
}




.mtlft{
  margin-left:15px;
}


/*   fixed table B-unit css  

.B-unit table {
  position: relative;
  border-collapse: collapse;
  width: 200%; 
  
}

.B-unit td,
th {
  padding: 0.25em;
}

.B-unit thead th {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  background: #000;
  color: #FFF;
  z-index: 1;
}

.B-unit thead th:first-child {
  left: 0;
  z-index: 999;
}

.B-unit tbody td {
  position: -webkit-sticky; 
  position: sticky;
  left: 0px;  
  z-index: 9;
  padding: 10px 0px;
}
.B-unit tbody td:first-child {
  left: 0px;
  z-index: 999;
}

*/ 
