.buttonSection{
    margin: 20px 0px;
}
.buttonSection button{
    margin-right: 15px;
}
.invoiceSection .card{
    padding: 20px;
}

.page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

.cont {
    max-width: fit-content;
   
}
.ss{
    text-align: center;
}