<div #pnl>
    <div class="card tp common-padding" *ngIf="ActivityHistoryList && ActivityHistoryList.length > 0">
        <div class="row">
        </div>
    
    <div >
        <div class="wd" *ngFor="let status of ActivityHistoryList; let i = index;">
            <div class="lft-wd">
                <img *ngIf="i+1 < ActivityHistoryList.length" src="../../../../assets/img/photos/progress.png">
            </div>
            <div class="rgt-wd">
                <span class="bld">{{status.ActivityName}} </span>
                <span  class="bld">{{status.ActivityName==" "? null :":"}}</span>
                <span class="bld">{{status.Comments}}</span>
                <span *ngIf="status.CreatedBy.length > 0"><br>By {{status.CreatedBy}}</span>
                <br>{{status.CreatedDate | date : 'medium'}}
            </div>
        </div>
    </div>
    </div>
    <div class="no-Txt" *ngIf="(ActivityHistoryList && ActivityHistoryList.length == 0) || ActivityHistoryList ==null">* No Record Found</div>