agm-map {
    height: 600px;
    border-width: 0px;
    margin: 5px;
  }
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
  

  .sk{
    margin: 10px;
  //  margin: -223px;
    // border: solid 2px lightgray;
    border: solid 0px lightgray;
    margin-top: -95px !important;
  }

  .cll{
    padding-left: 8px;
    padding-top: 10px;
  }

  .bln{
    border: solid 2px lightgray;
    margin-right: -42px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
  }

  .mk{
    padding: 4px;
  }

  .m-3{
    margin: 1.3rem !important;
    margin-bottom: 5rem !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }