  
  .pl{
    margin-top: 10px;
    margin-right: -300px  !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: -7px !important;
  }

  .r1{
    margin-top: 0px;
    width: 50px !important;
    height: 30px !important;
  }