.lf-br{
    border-right: solid 2px #333;
}

.abb
{
        height: 35px;
        width: 270px;
        margin-left: 15px;
   
}
.abc
{
    font-weight: 500;
    color: #ff5b1e;
}

.abd
{
  width: 191px;
}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  border: none;
  overflow: hidden;
  // margin-top: -13%;
 
}