body{
    background-color:#f1f1f1;
    font-family: 'Poppins', sans-serif;
}		
.sel-opt select{
    width: 180px;
      height: 40px;
      border-radius: 5px;
      border: solid 1px #ddd;
      font-size: 14px;
      padding-left: 10px;
      margin-right: 15px;
      color: #333;
      cursor: pointer;
}
.inp input{
    width: 50px;
      height: 40px;
      border-radius: 5px;
      border: solid 1px #ddd;
      font-size: 14px;
      padding-left: 10px;
      margin-right: 15px;
      color: #333;
      cursor: pointer;
}
 a{
      color: #fff;
      text-decoration: none;
     }
      a:hover{
      color: #fff;
      text-decoration: none;
     }
.upd-btn{
    background-color:#CC9C75;border:solid 1px #CC9C75;border-radius: 5px;color:#fff;padding:5px 15px;margin-right: 5px;margin-left: 1px;cursor: pointer;
}

.det-btn{
    background-color:#007BFF;border:solid 1px #007BFF;border-radius: 5px;color:#fff;padding:5px 15px;cursor: pointer;
}
@media screen and (max-width:  1100px){
    .d-flex{
        flex-direction: column !important;
    }
    .sel-opt select, input{
        width: 100%;
        margin-bottom: 20px;
    }
    .det-btn{
        margin-top: 5px;
    }	
    .cen{
        text-align: center ;
    }		
}
@media screen and (min-width:  1100px) and (max-width:  1700px){
    .det-btn{
        margin-top: 5px;
    }
    .cen{
        text-align: center ;
    }
}

.contPad{
    padding-right: 0px !important; 
    padding-left: 0px !important;
}

input[type='number']{
    width: 65px;
} 
.wrapp
{
    word-break: inherit;
    text-overflow: initial;
    height: 80vh;
}
.code
{
    color:white;
    font-size:15px;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
:host ::ng-deep .ui-table-scrollable-header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
:host ::ng-deep
body .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0.571em 2em;
}

@media only screen and (max-width: 600px) and (min-width: 320px)  {

    .mmb{
        margin-bottom:10px;
    }
    h3{
        font-size:20px; 
        margin-top:10px;       
    }
    .search-head{
        margin-top:-15px;
    }

    ::ng-deep .autoWidthDialog{
        width: 10vw !important;
        max-height: 40vh !important; 
        min-height: 40vh !important; 
    }
    
    ::ng-deep .ui-dialog {
        position: fixed !important;
        padding-right: 40px !important;
        padding-left: 15px !important;
        width: 10% !important;
        left: 10px !important;
        max-height: 65% !important;
        top: 135px !important;
        overflow-x: scroll;
    }
    ::ng-deep .text-center{
        margin-top:25px !important;
    }
    ::ng-deep body .ui-dialog .ui-dialog-titlebar {
        border: 1px solid #c8c8c8;
        background-color: #f4f4f4;
        color: #333333;
        padding: 1em 3em !important; 
        font-weight: 700;
        border-bottom: 0 none;
    }
}
:host ::ng-deep  .ui-table .ui-table-thead > tr > th,  .ui-table .ui-table-tbody > tr > td {
    padding: 8px !important;
}
