@media screen and (max-width: 900px) {
    .ad-cuntry{
        margin-top:40px !important;
    }
}

.con-top{
    margin-top: 10px;
    margin-right:-10px;   
}
.mmtop{
    margin-top:-20px !important;
}