<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" appendTo="body"></p-confirmDialog>

<div class="my-2 d-flex justify-content-between align-items-center">
    <div class="header">
        <h3 class="m-2"> Tk from SkApp Report </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="startdate"><b>From Date: </b></label><br>
            <p-calendar [showIcon]="true" [(ngModel)]="data.StartDate" name="startDate" [readonlyInput]="true">
            </p-calendar>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="startdate"><b>To Date: </b></label><br>
            <p-calendar [showIcon]="true" [(ngModel)]="data.EndDate" name="EndDate" [readonlyInput]="true">
            </p-calendar>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label> &nbsp;</label><br>
            <button type="button" class="btn btn-raised btn-primary" (click)="GetTkList(data)">
                <i class="fa fa-check-square-o"></i> Search
            </button>&nbsp;&nbsp;
            <button type="button" class="btn btn-raised btn-primary" (click)="ngOnInit()">
                Reset
            </button>
        </div>
    </div>

</div>


<p-table #dt [value]="TkCustomerlist" dataKey="Id" [paginator]="true" [rows]="PageSize" [scrollable]="true"
    [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="load($event)" scrollHeight="65vh">

    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center">CustomerId</th>
            <th style="text-align: center"> SkCode </th>
            <th style="text-align: center"> Mobile </th>
            <th style="text-align: center">City</th>
            <th style="text-align: center">Date of Click</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
        <tr>
            <td style="text-align: center">{{rowData.CustomerId}}</td>
            <td style="text-align: center">{{rowData.SkCode}}</td>
            <td style="text-align: center">{{rowData.Mobile}}</td>
            <td style="text-align: center">{{rowData.City}}</td>
            <td style="text-align: center">{{rowData.CreatedDate | date}}</td>
        </tr>
    </ng-template>
</p-table>

<p-progressSpinner *ngIf="blocked"
    [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>