@media screen and (max-width: 900px) {
    .ad-zo{
        margin-top:40px !important;
    }
    
}

.mmtop{
    margin-top:-20px !important;
}

.zon-top{
    margin-top:10px;
    margin-right: -10px;
}