<!-- <p>add-material-po works!</p> -->

<!-- <button type="button" class="btn btn-raised btn-primary" (click)="back()">Back</button> -->

<!-- <div class="row">
    <div class="col-md-6">
        <label>Search Supplier</label>
        <input type="text" [(ngModel)]="name" />
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-raised btn-primary" (click)="Search()">Search</button>
    </div>
</div>
<div class="row">
    <label>Select Supplier</label>
    <select id="ware" name="ware" class="form-control" [(ngModel)]="data.SupplierId" placeholder="Select Supplier">
        <option *ngFor="let s of supplierList" [ngValue]="s.SupplierId">
            {{ s.Name }}
        </option>
    </select>
    </div> -->
    <!-- <p-toast [style]="{marginTop: '80px'}" appendTo="body"></p-toast> -->
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Add Packing Material PO </div>
        </div>
    </div>
    <br />
    <div class="mt-2 ">
    <form class="form" name="infoForm" #infoForm="ngForm" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name"> Search Supplier</label>
                            <input type="text" id="searchsupplier" class="form-control" name="searchsupplier"
                                [(ngModel)]="searchinput" />
                        </div>
                    </div>
             
                <div class="col-md-6">
                    <label>&nbsp;</label>
                    <div></div>
                    <button type="button" class="btn btn-raised btn-primary" (click)="search(searchinput)">Search</button>
                </div>
            </div>
            </div>
    
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Select Supplier<span style="color:red"> *</span></label>
                    <select id="supplier" class="form-control" name="supplier" [(ngModel)]="data.SupplierId" required="1"
                        #supplier="ngModel">
                        <option value="">--Select--</option>
                        <option *ngFor="let s of SupplierList" [ngValue]="s.SupplierId">
                            {{ s.Name }}
                        </option>
    
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="UOM">Unit Of Measurement:<span style="color:red;"></span></label><br />
                    <select class="form-control" id="site-name" name="unit" [(ngModel)]="data.UnitOfMeasurement" required="1"
                        #UOM="ngModel">
                        <option value="Kg">Kg</option>
                        <option value="Pc">Pc</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Material Name<span style="color:red"> *</span></label>
                    <select id="Material" class="form-control" name="Material" [(ngModel)]="data.BagId" required="1"
                        #Material="ngModel">
                        <option value="">--Select--</option>
                        <option *ngFor="let s of BagList" [ngValue]="s.BagId">
                            {{ s.BagName }}
                        </option>
    
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Quantity<span style="color:red"> *</span></label>
                    <input type="number" id="supplier" class="form-control" name="supplier" [(ngModel)]="data.Quantity"
                        required="1" #Material="ngModel" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">unit Price<span style="color:red"> *</span></label>
                    <input type="number" id="unitprice" class="form-control" name="unitprice" [(ngModel)]="data.UnitPrice"
                        required="1" #unitprice="ngModel" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="name">Total Price</label>
                    <input type="number" id="totalprice" class="form-control" name="totalprice"
                        [(ngModel)]="data.Quantity * data.UnitPrice" disabled />
                </div>
            </div>
            <div class="form-actions right col-sm-12 p-3">
                <button type="submit" class="btn btn-raised btn-primary mr-1" (click)="onSave()">
                    <!-- <button type="submit" class="btn btn-raised btn-primary mr-1" (click)="onSave()" ng-disabled="editFormDisplay($event)"> -->
                    <!-- <button type="submit" class="btn btn-raised btn-primary mr-1"  [disabled]="!people.PeopleFirstName ||!people.PeopleLastName||!people.Email|| !people.Desgination ||!people.Mobile ||!people.Cityid ||!people.Stateid ||!people.DOB ||!people.DataOfJoin ||!people.WarehouseId"
                    (click)="onSave()"> -->
                    Save
                </button>
                <button type="button" class="btn btn-raised btn-primary mr-1" (click)="back()">Back</button>
            </div>
        </div>
    </form>
    </div>