<div class="mt-1 ">
    <div class="header">
        <h3>Attendance Rules</h3>
    </div>        
</div> 
<div class="row">
    <div class="col-3">
        <label style="font-weight: 505;">Select Channel:</label>
        <!-- <p-dropdown [options]="StoreList" [(ngModel)]="StoreId" optionLabel="Name" placeholder="Select store"
         (onChange)="chageStore(StoreId)" >
        </p-dropdown> -->
        <p-dropdown id="id" name="Name" [options]="ChannelTypeList" [(ngModel)]="ChannelMasterId" optionValue="ChannelMasterId"
                 optionLabel="ChannelType" placeholder="Select Channel" (onChange)="chageStore(ChannelMasterId)">
               </p-dropdown>
    </div>
    <div class="col text-right mt-4">
        <button class="btn btn-success pi pi-plus" (click)="CreateNew()"> 
            Create New
        </button>
    </div>
</div>   
<div class="row mt-2">
    <div class="col-md-.5"></div>
    <ng-container *ngFor="let city of Cities;let i = index">
        <div class="col-md-2" *ngIf="city.CityId==0">
            <div class="mt-2 " style="height: 135px; border: 2px solid black; ">
                <div class="card-body">
                    <div class="d-flex justify-content-between  " >
                        <div>
                            <label *ngIf="city.CityId==0" style="font-size: 16px;"><b>{{city.CityName}}</b></label>
                        </div>
                        <div>
                            <i class="pi pi-ellipsis-v"  style="font-size: 24px;" (click)="menuu.toggle($event);onClickMenu(city.CityId,city)"></i>
                        </div>
                    </div>


                    <div class="d-flex justify-content-between  " style="margin-top: 27px;">
                        <div>
                            <label  *ngIf="city.CityId==0" style="font-size: 16px;"><b>{{city.CreatedDate | date:'mediumDate' }}</b></label>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="col-md-.5 mt-2 " ></div>
 <!-- ----------------------->
    <ng-container *ngFor="let city of Cities ;let i = index" >
        <div class="col-md-2 mt-2 " *ngIf="city.CityId>0" >
            <div  style="height: 135px; border: 2px solid black;">
                <div class="card-body">
                    <div class="d-flex justify-content-between  ">
                        <div >
                            <label style="font-size: 16px;"><b>{{city.CityName}}</b></label>
                        </div>
                        <div >
                            <i class="pi pi-ellipsis-v"  (click)="menu.toggle($event);onClickMenu(city.CityId,city)" style="margin-right: 20px;"></i>
                        </div>    
                    </div>
                    <div class="d-flex justify-content-between  " style="margin-top: 27px;">
                        <div>
                            <label style="font-size: 16px;">{{city.CreatedDate | date:'mediumDate'}}<b></b></label> 
                            
                        </div>
                        <div>
                            <p-inputSwitch id="cty" name="cty" [(ngModel)]="city.IsActive" (onChange)="cityStatusChange(city)" ></p-inputSwitch>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </ng-container>

</div>  
<p-menu #menu [popup]="true" [style]="{'width':'150px', 'margin-top':'-45px','margin-left':'5px' }" [model]="itemst" ></p-menu>

<p-menu #menuu [popup]="true" [style]="{'width':'100px', 'margin-top':'-45px','margin-left':'5px' }" [model]="itemstGlobal" ></p-menu>



<p-toast  [style]="{width: '20vw'}" position="top-right"></p-toast>