<ngb-carousel  #carousel>
  
  <!-- <ng-template ngbSlide>
    <div class="carousel-img-wrapper">
      <img [src]="LicenseImage" alt="License" onError="this.src='./assets/img/no-image.png';">
    </div>
    <div class="carousel-caption">
      <h5>License</h5>
    </div>
  </ng-template> -->
  <ng-template ngbSlide>
    <div class="carousel-img-wrapper">
      <img [src]="registrationImage" alt="registrationImage" onError="this.src='./assets/img/no-image.png';">
    </div>
    <div class="carousel-caption">
      <h5>
        <!-- Registration Image -->
        {{details.Type}}
      </h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-img-wrapper">
      <img [src]="GSTImage" alt="GST" onError="this.src='./assets/img/no-image.png';">
    </div>
    <div class="carousel-caption">
      <h5>GST</h5>
    </div>
  </ng-template>
 
  <ng-template ngbSlide>
    <div class="carousel-img-wrapper">
      <img [src]="shopImage" alt="shopImage" onError="this.src='./assets/img/no-image.png';">
    </div>
    <div class="carousel-caption">
      <h5>Shop Image</h5>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-img-wrapper">
      <img [src]="profilePicture" alt="profile" onError="this.src='./assets/img/no-image.png';">
    </div>
    <div class="carousel-caption">
      <h5>Customer Image</h5>
    </div>
  </ng-template>
  <!-- <ng-template ngbSlide *ngIf="LicenseImage">
    <div class="carousel-img-wrapper">
      <img [src]="LicenseImage" alt="UploadLicensePicture" onError="this.src='./assets/img/no-image.png';">
    </div>
    <div class="carousel-caption">
      <h5>
        {{details.Type}}
      </h5>
    </div>
  </ng-template> -->
</ngb-carousel>