
.pageStyle{
text-align: left;
font-size: 16px;
font-weight: 400;
}

.tbwidth{
font-size: 16px;
font-weight: 400;
width: 800px;
}
.tb1{
  font-size: 14px;
 font-weight: 600;
 width: 150px;
}

.answerStyle{
    width:250px;
    margin-bottom:12px;
   font-weight: bold;

}
.btn{
  color: #009DA0;
}
.btn1{
  color: rgb(248, 80, 58);
}
.btnStyle{
    margin-top: 8px; 
   // left: 30px;
    margin-left: 50px;
}

.input-color {
    position: relative;
     }
.input-color .color-box {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
    }
.input-color input{
  padding-left: 25px;
}
tr > td, tr > th{
  padding-top: 0.8em!important;
  padding-bottom: 0.8em!important;
  background-color: white;
  border: 0!important;
  border-bottom: 1px solid #E0E0E0!important; 
}



tr.selected > td{
  background-color: #B3E2E3!important;
  border-bottom: 1px solid #008184!important; 
}
tr > th{
  border-bottom: 2px solid #424242!important;
}

tr{
  background-color: white!important;
  font-size: 12px;
  font-weight: normal;
}



tr:hover{
  // transform: scale(1.01)!important;
  // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
   td{
       background-color: #F5F5F5!important;
   }
}

tr.selected:hover td{
  background-color: #B3E2E3!important;   
}