.btn-r{
    float: right;
}
.exp{
    margin-right: 1em;
}

.card-body {
    padding: 5px !important;
}

.card form {
    margin-top: 0px !important;
}

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: 5px 0.5em 5px 0.5em;
}

form .form-group {
    margin-bottom: 3px !important;
}

.card {
    margin: 5px 0px;
    
}



.inr-dv{
    border: solid 2px gray;
    border-radius: 5px;
    background: aliceblue;
    padding: 1em 1em 0em 1em;  
}
h3{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.tt-hv {
    .tt:hover{
        background: rgb(153, 236, 232);
    }
    cursor: pointer;
}

.dt-rwww{
    
    .tt{
        border: solid 2px gray;
        background: aliceblue;
        border-radius: 5px;
        margin-bottom: 1em;
        

        p{
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            color: orangered;
            padding-top: 0.3em;
        }
        div{
            padding-bottom: 0.3em;
            text-align: center;
            color: black;
        }
    }
}

.bgl{
    background: rgb(96, 245, 237) !important;
}

.lgnd{
    width: 100%;
    font-size: 9px;
    font-weight: bold;
    background: white;
    margin-top: .5em;
    padding: 10px;
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        padding-right: 3px;
        padding-left: 3px;

    }
}

.tbl-1{
    width: 100%;

    // background: white;
    padding: 10px;
    td{
        border: solid 1px gray;
    }
}

.mr-b-10{
    margin-bottom: 1em;
}


.bb{
    font-weight: bold;
    font-family: initial;
}

.cc{
    color: rgb(51, 50, 50);
    font-weight: 300;
}

.nte{
    font-weight: bold;
    color: rgb(212, 48, 48);
}