.br-wthit{
  color: antiquewhite;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}
.we{
  font-weight: 900;
  font-size: large;
}
:host ::ng-deep.ui-table-scrollable-view {
  width: auto;
  height: auto;
}
