
html{scroll-behavior:smooth;}
html, body{
	margin: 0px;
	padding: 0px;
    font-family: SegoeUI;
}
body{
	background: #f5f5f5;
}
img{
	max-width: 100%;
}
.container{
	max-width: 720px;
	position: relative;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header{
    background: #fff;
    padding: 30px 0px;
    text-shadow: 0 0 black;
    box-shadow:0px 3px 6px -6px #999;
    margin-bottom: 20px;
}
.navBtn{
	position: absolute;
    max-width: 37px;
    left: 40px;
    top: 35px;
    cursor: pointer;
}
.backBtn{
	font-size: 40px;
    top: 20px;
    min-width: 40px;
}
.backBtn i:after{
	content: '';
    width: 45px;
    height: 3px;
    display: inline-block;
    position: absolute;
    background: #000;
    top: 32px;
    left: 2px;
}
.pageTitle{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 100%;
	font-size: 33px;
	font-family: SegoeUI;
	font-weight: 700;
}
.owl-carousel.owl-drag .owl-item img{
	-webkit-transition:.3s ease;-moz-transition:.3s ease;-ms-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease;
	margin-top: 7px;
}
.owl-carousel .owl-item.center img{
    width: 110%;
    margin-left: -5%;
    margin-top: 0px;
    max-width: inherit;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff5b1e;
    width: 14px;
    height: 8.7px;
}
.owl-theme .owl-dots .owl-dot span {
	-webkit-transition:.2s ease;-moz-transition:.2s ease;-ms-transition:.2s ease;-o-transition:.2s ease;transition:.2s ease;
    width: 8.7px;
    height: 8.7px;
    margin: 5px;
    background: #8b8b8b;
    border-radius: 30px;
}
.owl-carousel .owl-stage-outer{
	min-height: 185px;
}
.owl-carousel.owl-drag .owl-item.center .item .sliderText{
	right: -5%;
}
.sliderText{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
    display: inline-block;
    background: rgba(104, 159, 57, .8);
    padding: 15px;
    width: 70%;
    text-align: right;
    font-weight: 400;
    color: #000;
}
.sliderText p{
    font-size: 17.3px;
}
.sliderText h6{
	font-size: 14px;
	font-weight: 700;
}
.accordion>.card:not(:first-of-type),
.accordion>.card:not(:last-of-type){
	border: none;
	background: none;
}
.accordion>.card>.card-header {
	background: none;
    margin: 10px 0px 0px;
    padding: 0px;
    border: none;
}
.accordion .btn-link{
	color: #ff5b1e;
    font-size: 26px;
    font-weight: 700;
    background: #ffff;
    width: 100%;
	text-align: left;
	padding: 15px;
	position: relative;
}
.accordion .btn-link:after{
	position: absolute;
	font-family: FontAwesome;
	right: 15px;
    top: 16px;
	content: "\f107";
}
.accordion .btn-link.collapsed:after{
	content: "\f105";
}
.accordion .btn-link.collapsed{
	color: #000;
}
.accordion .btn-link,
.accordion .btn-link:hover{
	text-decoration: none;
	color: #ff5b1e;
}
.accordion .collapsing,
.accordion .collapse{
	background: #fff;
}
section,
.donationAmoung{
	margin: 30px 0px;
}
.donationAmoung .card{
	padding: 70px 0px;
	text-align: center;
	border: none;
	margin: 10px 0px;
	border-radius: 8.7px;
}
.donationAmoung .card h4{
	font-family: 'impactreg';
	font-size: 50px;
	color: #ff5b1e;
	margin: 0px;
}
.donationAmoung .card h5{
	font-weight: 700;
	font-size: 20px;
}
footer{
	background: #ff5b1e;
	color: #fff;
	text-align: center;
	padding: 30px 0px;
}
footer h3{
	font-size: 26.7px;
	font-weight: 700;
}
footer a, footer a:hover{
	color: #fff;
	text-decoration:none;
}
footer h5{
	font-size: 16.7px;
	font-weight: 700;
}
.cd-top{
	display:inline-block;
	height:50px;
	width:50px;
	position:fixed;
	bottom:20px;
	right:10px;box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
	overflow:hidden;
	white-space:nowrap;visibility:hidden;opacity:0;
	-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;
	transition:opacity .3s 0s, visibility 0s .3s;
	background:#ff5b1e;border-radius:50%;
	color:#fff;text-align:center;
	font-size:36px;
	line-height:42px;
	text-decoration:none;z-index:9;
}
.brandSlider_section,
.letRitImgSlider_section{overflow:hidden;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover{
	-webkit-transition:opacity .3s 0s, visibility 0s 0s;
	-moz-transition:opacity .3s 0s, visibility 0s 0s;transition:opacity .3s 0s, visibility 0s 0s;text-decoration:none;
}
.cd-top.cd-is-visible{visibility:visible;opacity:.5;}
.cd-top.cd-is-visible:hover{opacity:1;color:#fff;}
.thumbImg{
	margin: 0px 0px 15px 0px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.galleryImg{
	margin-top: 10px;
}
.galleryImgSummery{
	height: 80px;
    position: relative;
    width: 100%;
    margin-top: -80px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(41,32,32,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(41,32,32,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(41,32,32,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(41,32,32,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(41,32,32,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(41,32,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#292020', GradientType=0 );
}
.galleryImgSummery p{
	font-size: 17.3px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 60%;
    height: 47px;
}
.galleryImgSummery button{
    float: right;
    margin: 15px 0px;
    color: #fff;
    background: none;
    border: none;
    position: relative;
    z-index: 9;
}
.galleryImgSummery button:focus{
	outline: none;
	box-shadow: none;
}
.galleryImgSummery button:hover{
	text-decoration: none;
	color:  #ff5b1e;
}
.galleryImgSummery button span{
	width: 30px;
    height: 30px;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 20px;
    line-height: 28px;
    text-indent: 1px;
}
.galleryImgSummery button:hover span{
	background: #ff5b1e;
	color: #fff;
}
.galleryConent{
	-webkit-transition:.3s ease;-moz-transition:.3s ease;-ms-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease;
	display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: -55px;
    overflow: hidden;
    height: 50px;
}
.galleryImgSummery.show{
	height: auto;
	/*background: rgba(0,0,0,0.5);*/
	-webkit-transition:.3s ease;-moz-transition:.3s ease;-ms-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease;
}
.galleryImgSummery.show .galleryConent{
	height: auto;
    margin: 0px;
}
.galleryImgSummery.show .galleryConent p{
	width: 100%;
	padding-top: 15px;
}
.galleryImgSummery.show button span{
    line-height: 25px;
    text-indent: 0px;
}
.galleryImgSummery.show .fa-angle-right:before{
    content: "\f106";
}
.flipPdf{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.flipPdf:after{
	content: '';
    width: 150px;
    height: 45px;
    display: inline-block;
    vertical-align: top;
    background: #000;
    position: absolute;
    bottom: 6px;
    left: 0px;
    z-index: 999;
    background-image: url(https://er15.xyz:4436/Logo.svg);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center center;
}
.flipPdf iframe{
	position: relative;
}
.flipPdf iframe:after{
	content: '';
	width: 300px;
	height: 65px;
	background: red;
	display: inline-block;
	position: absolute;
}
.kisanDanAcc.accordion .btn-link.collapsed{
	margin: 0px;
}
.kisanDanAcc.accordion .card{
	margin: 0px;
}
body .ui-carousel .ui-carousel-header{
	display: none;
}
body .ui-carousel .ui-carousel-viewport{
	margin-top: 15px;
}
body .ui-carousel .ui-carousel-viewport,
body .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item{
	border: none;
	background: none;
}
.kisanDanAcc.accordion .card p{
	padding: 15px;
    font-size: 12px;
    color: #999;
    line-height: 18px;
}
@media (max-width:600px){
	.sliderText{
		width: 75%;
	}
	.donationAmoung .card h4 {
	    font-size: 42px;
	}
	.sliderText p{
	    font-size: 14px;
	    margin: 0px 0px 5px;
	}
	.sliderText h6 {
		font-size: 12px;
	}
	.owl-carousel .owl-stage-outer {
	    min-height: 150px;
	}
	.accordion .btn-link {
	    font-size: 14px;
	    padding: 12px;
	}
	.donationAmoung .card h5{
		font-size: 16px;
	}
	footer h3{
		font-size: 20px;
		margin: 0px;
	}
	footer h5{
		font-size: 14px;
		margin: 0px;
	}
	section, .donationAmoung {
	    margin: 5px 0px;
	}
	footer {
	    padding: 7px 0px;
	    margin-bottom: 15px;
	}
	.pageTitle {
	    font-size: 22px;
	}
	.navBtn img{
		max-width: 30px;
	}
	header {
		padding: 15px 0px;
	}
	.navBtn {
	    top: 20px;
	}	
	.donationAmoung .card {
		padding: 40px 0px;
	}
}
@media (max-width:480px){	
	.sliderText {
		width: 100%;
	    position: relative;
	    transform: none;
	    font-size: 10px;
	    top: -1px;
	}
	.donationAmoung .card h4 {
		font-size: 20px;
	}
	.donationAmoung .card h5 {
		font-size: 12px;
	}
	.donationAmoung .card {
		padding: 20px 0px;
	}
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-details > .p-grid {
	border: 1px solid #b3c2ca;
	border-radius: 3px;
	margin: 0.3em;
	text-align: center;
	padding: 2em 0 2.25em 0;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data .car-title {
	font-weight: 700;
	font-size: 20px;
	margin-top: 24px;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data .car-subtitle {
	margin: 0.25em 0 2em 0;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data button {
	margin-left: 0.5em;
}
.carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .car-data button:first-child {
	margin-left: 0;
}
.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
	width: 16px !important;
	height: 16px !important;
	border-radius: 50%;
}
.carousel-demo .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-start .car-details > .p-grid {
	margin-left: 0.6em;
}
.carousel-demo .ui-carousel.ui-carousel-horizontal .ui-carousel-content .ui-carousel-item.ui-carousel-item-end .car-details > .p-grid {
	margin-right: 0.6em;
}
body .ui-carousel .ui-carousel-page-links {
    margin: 0.125em 21em.5em;
}
.x-clk:hover{
	background: #ff5b1e;
    color: white;

	h4{
		color: white;
	}
}
.table{
	color: #666;
	font-size:12px;
	text-align:center;
}
thead{
	background: #000;
	color: #fff;
}
.table thead th{
	vertical-align: middle;
}
tbody tr:nth-child(odd){
	background: #fff8f8;
}
tbody tr:nth-child(even){
	background: #fcebe5;
}
.test:hover{
	background:#ffc9b5;
}
tr > td, tr > th{
	background: none;
	font-size: 12px;
	padding:10px 5px;
	text-align: center;
}
h4{
	font-family: 'Poppins','sans-serif'!important;
    font-weight: 500;
	color: #ff5b1e;
	font-size:30px;
}

.container{
	width: 95%;
	max-width: 780px;
	margin: 0px auto;
}
@media (max-width:991px){

}  
@media (max-width:767px){
	.kisandanHeader {
		text-align: center;
		h3{
			text-align: center;
		}
	}
}


