.center
{
text-align: center
}
.right{
    text-align: right;
}
.audiowidth{
    width: 210px;
    height: 40px !important;
}
.mar-top{
    margin-top:-10px !important;
}
.header{
    margin-left: -2px;
}


// @media screen  and (max-width:1000px){
//     .d-flex{
//         flex-direction: column !important;
//     }
//     .lfr{
//         flex-direction: column !important;
//     }
//     .header h3{
//         margin-left:11px !important;
//     }
//     .ree input{
//         width: 100% !important;
//     }
// }
// @media screen and (max-width: 900px) {
//     form{
//         width: 100%;
//     }
//     .ree{
//         display: flex !important;
//         flex-direction: column !important;
//     }
//     .search{
//         width:100% !important;
//         margin-left:10px;
//     }
  
//     .lfr{
//         margin-left: 25px;
//     }
//     .frw{
//         width: 100% !important;
//         margin-left: 0px;
//         margin-top: -20px;
//     }

//     .frwm{
//         width: 100% !important;
//         margin-left: 0px;
//         margin-top: -20px;
//     }

//     .frbt{
//         margin-top:-20px;
//     }
//     .audiowidth{
//         width:90% !important;
//     }
// }

