@media (min-width: 992px){
    .email-app-list-mails {
        width:20%!important;
    }
    .email-application .email-app-mail-content{
        width:80%!important;
    }
}

.ScrollStyle
{
    max-height: 450px;
    overflow-y: scroll;
}


#tax-details{
    position: relative;
}



:host ::ng-deep .ui-dialog-titlebar{
    display: none;
} 

.bt{
    float: right;
}

.a12{
    display: inline !important;
}