.a1
{
    margin-bottom: -65px !important;
    // margin-bottom: -41px !important;
    // margin-left: -137px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.noHover{
  pointer-events: none;
}
:host ::ng-deep .body .ui-table .ui-table-tbody > tr:hover,
tr:hover{
  background-color:none !important;
}
:host ::ng-deep tr.selected:hover td{
  background-color: none!important;   
}
// tr.selected:hover td{
//   background-color: #666!important;   
// }
.a2
{
    margin-bottom: 30px !important;
}
.form-inline label{
    justify-content: flex-start;
}

// for table print
table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  .table#t01th {
    background-color: black;
    color: white;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    padding: 15px;
    border : 1px !important;
    border-color: black !important;

    
}
th{
  word-break: break-all;
}

.ui-g-2 {
  width: 16.6667%;
  margin-right: 40px;
}
// .ui-g-3 {
//   width: 25%;
//   margin-left: -201px;
// }

tr > td, tr > th {
  border: 1!important;
  border-bottom: 1px solid black;
}

.aa
{
  margin-right: 30px !important;
}

.r1
{
  margin-left: 585px !important;
}
.r2
{
  margin-left: 400px !important;
}

.generatedlist
{
    text-align: center;
    margin-right: 398px;
}
.generatedlists
{
  text-align: center;
  margin-right: 398px;
}
.searchField{
  position: relative;
}
.searchField input{
  border: none;
  box-shadow: 0px 1px 6px 0px #ccc;
  border-radius: 15px;
  padding: 5px;
  text-indent: 10px;
  margin-top: 15px;
}
.searchField i{
  position: absolute;
  top: 48px; // top: 45px;
  right: 0px; //right: 20px;
  color: #666;
  left: 252px;
}
.ovelFieldForm .form-control {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 1px 6px 0px #ccc;
  margin-top: 15px;
  background: #fff;
  // color: black;
  // font-weight: 600;
}
.ovelFieldForms .form-control {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 1px 6px 0px #ccc;
  margin-top: 15px;
  background: #fff;
  color: black;
  font-weight: 600;
}
.ovelFieldForm .btn{
  border-radius: 20px;
  margin-top: 15px;
  padding: 5px 20px;
}
.rightSideBar{
  margin-top: 36px;
}

// .hideCloseHeader{
//   position: absolute;
//   width: 100%;
//   top: 0px;
//   left: 0px;
//   text-align: center;
//   background: #eee;
//   height: 100%;
// }
.hideCloseHeader h2{
  position: relative;
}