strong{
        font-size: 13px;
    font-weight: 700;
    line-height: 0px;
}
span{
    display: block;
    background: #ebebeb;
    padding: 5px;
    border-radius: 5px;
    color: #767676;
    border: 1px solid #cbd5dd;
}
div{
    padding: 20px;
    // border: 0.1px solid #ccc;
}