.ex1-cpmtrx:hover{
  
    cursor: pointer;
    }

    .h11{
        color: blue;
        font-family: monospace;
        border-bottom: ridge;
      
        font-size: -webkit-xxx-large;
      
      
      }
      tr > td, tr > th{
        padding-top: 0.8em!important;
        padding-bottom: 0.8em!important;
        // background-color: #E0E0E0;
        border: 1 !important;
        height: 3%;
        // border-bottom: 1px solid #E0E0E0!important; 
        border-bottom: 1px solid black!important; 
    }

    table, th, td {
        border: 1px solid black !important;
        border-collapse: collapse;
        height: 3%;
      }
    
    
      .tde {
        padding: 3px;
        text-align: left;    
         font-weight: bold;
         color: black;
         height: 3%;
      }
      .tdc {
        padding: 50px;
        text-align: center;    
         font-weight: bold;
         color: black;
         //font-size: 20px;
      }

      .ex1 {
        background-color: lightblue;
        width: 100%;
        height: 100%;
        overflow: scroll;
      }


.span{
content: "\0394";
}

.make-gold {
  background-color:#008000 !important;
}


.green-hm{
  background-color:  #d6e5a0 !important;
  color: black;
} 
.p-green-hm{
  background-color:#a3caff !important;
  color: black;
}
.yellow-hm{
  background-color:#FEE090 !important;
  color: black;
}
.orange-hm{
  background-color:#D95F02 !important;
  color: black;
}
.red-hm{
  background-color:#E3191C !important;
  color: black;
}

.tdb {
  // padding: 150px;
  text-align: center;    
   font-weight: bold;
   color: black;
  //  padding-bottom: 2px !important;
  //  height: 3%;
}
body .ui-table .ui-table-tbody > tr > td,
body .ui-table .ui-table-tbody>tr>td{
  border: 1px solid #999 !important;
}