.rpt-body {
  background: lightgray;
  border: solid 1px lightgray;
}

.rpt-innerbody {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border: solid 1px lightcyan;
  padding: 30px;
}

.lr-head {
  text-align: center;
}

.lr-head h3 {
  font-family: fantasy;
}

.sd-head {
  font-weight: 500;
  color: gray;
}

.lr-brd {
  border-top: solid 1px lightgray;
  margin: 10px 0px 10px 0px;
}

.lr-tbl {
}

.tr-hd {
  background: gray;
  color: white;
  font-family: monospace;
}

.tr-ttl {
  font-weight: bold;
  color: gray;
}

.mr-l-10 {
  margin-left: 10px;
}

.tr2 {
  text-align: center;
}

.hdr {
  border-bottom: solid 1px gray;
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
}

.pl {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.bt-2 {
  position: absolute;
  color: white !important;
  z-index: 99999;
}

.bt-2 i {
  cursor: pointer;
}
#sp {
  .ac {
    width: 5%;
  }

  .su {
    background-color: #7e8e7a;
    color: white;
  }

  .fail {
    background: #d8a0a0;
    color: white;
  }

  .edit {
    background: #f5f7fa;
    color: gray;
  }
}

.rc {
  padding-left: 20px;
}
