.header h3{
    margin-top: 15px;
}
form .form-section{
    margin: 0px;
    border: 0px;
}
form.filterForm{
    padding: 0px 15px;
}
form .form-actions {
    border-top: none;
    margin-top: 10px;
}