.tblBtn{
    color: #fff;
    background: #ff5b1e;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
.blkBtn{
    background: #000;
}
.grayBtn{
    background: #ccc;
    color: #ff5b1e;
}
.tblBtn:hover{
    background: #ccc;
    color: #000;
}
