.head{
	background-color: #f1f1f1;
	border-radius: 3px;
	text-align: left;
}

.head-content h3{
	 font-weight:600;
	color: #ff5b1e;	

}
.mid-content{
	display: flex;
}

// .button {
//   background-color: #FF6363; /* coral */
//   border: none;
//   color: white;
//   padding: 15px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   cursor: pointer;
//   -webkit-transition-duration: 0.4s; /* Safari */
//   transition-duration: 0.4s;
//   border-radius:15px;
//   width: 100%;
//   font-family: 'Raleway', sans-serif;
// }

// .button2:hover {
//   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
// }

// button:disabled, button[disabled]{
//   background-color:#ff9292;
// }


.mr-l-10{
  margin-left: 15px;
}

.round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-top: 10px;
}

.round:hover input ~ .checkmark {
  background-color: #ccc;
}

.round input:checked ~ .checkmark {
  background-color: #0bb475;
  border-color: #0bb475;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.round input:checked ~ .checkmark:after {
  display: block;
}

.round .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.section_type{
  width: 100%;
  z-index: 1011;
  left: 418px;
  top: 166px;
  transform: none;
  opacity: 1;
}
.section_type label{
  // margin-top: 5px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  // margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
 // padding: 7px 5px;
  box-shadow: none;
}
.section_type select, .section_type input{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 5px;
  box-shadow: none;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}
.shadowBox{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-shadow: 0px 1px 6px 0px #ccc;
  padding: 30px;
  border-radius: 10px;
}




.pop-up-layout{
  position: absolute;
    top: 50px;
    background: wheat;
    z-index: 999;
    max-width: 251px;
    // margin: 16px;
    border: 1px solid gray;
    box-shadow: 3px 3px grey;
    border-radius: 10px;
}

.top-brdr{
  // border: solid 2px #4c33b8;
  padding-top: 91px;
  padding-left: 0px;
  padding-right: -1px;
  max-width: 287px !important ;
  overflow: auto;
  // padding: 2px;
  // max-width: 300px !important;
  margin-left:26px;
}

.btm-brdr{
  
//  border: solid 1px gray;
  // padding: 10px; 
  max-height: 450px;
  overflow:auto;
  margin-top:-20px;
  padding-top: 0px;
  padding-left: 24px;
}
.pic{
  background-image:url('../../../../assets/img/mobile-img.png'); 
  //  position:fixed;
  // height: 644px;
  // width: 387px;
  width: 64%;
  height: 600px;
  // background-image: url(img/mobile-img.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center center;
  // position: relative;
  background-attachment: fixed;
  margin-left: 125px;
  
}
.content{
  padding-top: 10px;
  padding-right: 19px;
  padding-left: 0px;
}

.pane{
  height: 300px;
}


:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #16697A;
  }
  40% {
      stroke: #489FB5;
  }
  66% {
      stroke: #82C0CC;
  }
  80%,
  90% {
      stroke: #FFA62B;
  }
}

.cle{
  color:#fff;
  background-color:#ff5b1e;
  margin-right: 15px;
}

@media screen and (min-width: 1290px) and (max-width: 1420px){
  .content{
    padding:-1px !important;
  }
  .pic{
    background-image:url('../../../../assets/img/mobile-img.png');    
    width: 100%;    
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;   
    background-attachment: fixed; 
    margin-left: -10px !important;  
  }
  .btm-brdr{    
    margin-top: -30px !important;
    padding-left: 10px;
    width: 100% !important;  
    max-height: 450px;
}
    
.main-height{
  height: 80vh !important;
}
.cle{
  margin-right: 5px;
}

.swal2-popup{
height: 400px !important;
}
.swal2-icon {
  width: 4em !important;
    height: 4em !important;
}
}