.th-nav{
    margin-top: 15px;
    text-align: center;

    a{
        min-width: 180px;
        margin-right: 15px !important;
    }
}

.vtnt{
    padding: 15px;
    text-align: center;
    width: 100%;
}