<div class="container" style="position: absolute;">
    <button type="button" class="close" aria-label="Close" (click)="closeDetails(false)">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="Orange">
        <br />
        <h2> {{Name}} </h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class=" form-group m-2">
                <label for="b">Upload File (PDF Only)*</label>
                <input class="btn btn-primary" id="file" type="file" (change)="upload($event.target.files)" />

            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group m-1">
                <button type="button" class="btn btn-raised btn-primary m-1" (click)="uploader()"
                    [disabled]="!IsExtension">
                    Upload
                </button>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-actions right col-sm-12 p-3">
                <button type="button" class="btn btn-raised btn-primary m-1" (click)="AddOrangeBookVersion()">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>