

.nt-mt{
    background:#f06e6e;
}

.c1{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.m-1{
    margin-top: 22px !important;
}

.btn-primary {
    //color: #009DA0 !important;
    color: white !important;
}
.btn-primary {
    color: #080707;
    background-color: #009DA0;
    border-color: #009DA0;
}


