.head{
    color: #ff5b1e;
}

// requestBtn
.p-button-info{
    // margin-bottom: -25px;
    // font-size: 21px;
    /* width: 102px; */
    // height: 49px;
    text-align: center;
    float: right;
    // padding: 5px;
}
.b-n{
    margin-bottom: -15px;
}

// requestacceptbtn
.p-button-info2{
    // font-size: 21px;
    /* width: 102px; */
    // height: 49px;
    text-align: center;
    float: right;
    // padding: 5px;
}

// verifybtn
.p-button-info1{
   
    // font-size: 28px;
    // width: 99px;
    // height: 40px;
   text-align: left;
   float: right;
}
// verifiedbtn
.p-button-help
{
    font-size: 26px;
    text-align: center;
    height: 37px;
    float: right;
}

// .abc
// {
//     font-size: 20px;
//     text-align: left;
//     height: 10px;
//     float: right;
// }
.ctr{
    text-align: center;    
}
.br{
    background: rgb(238, 238, 149);
    border: solid 1px black;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
}
.btn-br{
    border: solid 1px black;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
}