.header h3{
    font-family:'Poppins','sans-serif'!important;
    font-weight: 500;
}

.e1
{
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: -5rem;
}

.h4{
    color: blue;
    font-family: monospace;
    border-bottom: ridge;
    font-size: -webkit-xx-small;    
    }

@media  screen and (max-width: 900px) {
    
    .ex-btnbb{
        margin-left: -15px !important;
    }

    .mmrglft{
        margin-left: 20px;
    }
    
}