.card{
    box-shadow: none!important;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}
.btn {
    border: 0!important;
    background-color: #e74623;
    color: white;
    box-shadow: none;
}
.btn[_ngcontent-kjv-c4] {
    border: 0 !important;
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
}