.card{
margin-bottom: 20px;
margin-top: 40px;
}
.headd{
    margin-left: 40%;
    color: lightcoral;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}
:host ::ng-deep  .ui-inputtext {
    width: 163%;
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.coll{
     background-color: orangered;
    color: white;
}

