:host ::ng-deep .fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044" !important;
    font-size: 28px !important;
}

:host ::ng-deep .fa-trash:before {
    content: "\f1f8" !important;
    font-size: 25px !important;
}