.fa-mouse-pointer:hover {
	animation: mouse-pointer 1s cubic-bezier(.36,.07,.57,.99) infinite;
    cursor: pointer;
}

.pi-check {
    /* color: green; */
    background-color: 	#088F8F!important;
    border-radius: 110px !important;
    color: white;
}
.pi-times {
    /* color: green; */
    background-color: 	#f83333!important;
    border-radius: 110px !important;
    color: white;
}