.btn-success
{
    background-color: #0a9e67;
}
.required{
    color: red;
}
:host::ng-deep .ui-dialog-resizable .ui-dialog-content {
    overflow: hidden;
}

.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
.cc{
    margin-left: 8px;
}
:host ::ng-deep .fa-history:before {
    content: "\f1da";
    margin-left: 65%;
}
