.a1
{
    margin-bottom: -65px !important;
    // margin-bottom: -41px !important;
    // margin-left: -137px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.a2
{
    margin-bottom: 30px !important;
}
.form-inline label{
    justify-content: flex-start;
}

// for table print
table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  .table#t01th {
    background-color: black;
    color: white;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    padding: 15px;
    border : 1px !important;
    border-color: black !important;

    
}
th{
  word-break: break-all;
}

.ui-g-2 {
  width: 16.6667%;
  margin-right: 40px;
}
// .ui-g-3 {
//   width: 25%;
//   margin-left: -201px;
// }

tr > td, tr > th {
  border: 1!important;
  border-bottom: 1px solid black;
}

.aa
{
  margin-right: 30px !important;
}