.searchbox
{
  width: 250px;
}
.btn-1
{
  background-color: red;
  color: white;
}
.btn-2
{
  background-color: rgb(20, 183, 20);
  color: white;
}
.btn-3
{
  background-color: rgb(0, 179, 255);
  color: white;
}