<div class="ui-fluid">
  <div class="header"><br>
    <h3>Working Capital</h3>
  </div>
  <section class="ui-fluid shadow p-3 m-2 mt-4 bg-white rounded table" style="max-width: 99%;">
  <!--start main row-->  
<div class="row">
      <!--col 12 one-->
      <div class="col-md-12" style="display: flex;">
          <div class="form-group col-md-3">
            <label for="region">Region Name:</label>
            <p-multiSelect [options]="regionList" name="RegionName" [(ngModel)]="selectedRegion"
              [panelStyle]="{minWidth:'20em'}" optionLabel="RegionName" (onChange)="onSelectedRegionChange()">
            </p-multiSelect>
            <!-- <select id="region" name="region" class="form-control" [(ngModel)]="RegionId" placeholder="Select Region Name" required="1"(change)=onRegionChange(RegionId)
            #RegionName="ngModel" >
              <option *ngFor="let region of regionList" [ngValue]="region.RegionId">{{ region.RegionName }}</option>
            </select> -->
          </div>

          <div class=" col-md-3">
            <label for="name">Select Warehouse</label>
            <!-- <p-multiSelect [options]="warehouseList" name=" warehouse" [(ngModel)]="people.selectedWarehouse" [panelStyle]="{minWidth:'12em'}" optionLabel="WarehouseName" ></p-multiSelect>                 -->
            <p-multiSelect [options]="warehouseList" name="warehouse" [(ngModel)]="selectedWarehouse"
              [panelStyle]="{minWidth:'15em'}" optionLabel="WarehouseName" (onChange)="selectedWarehouses()">
            </p-multiSelect>
          </div>

          <div class="col-sm-3">
            <label for="validfrom">Month</label>
            <p-calendar name="month" placeholder="Month" [(ngModel)]="data.Month" [showIcon]="true" view="month"
              dateFormat="mm/yy"></p-calendar>
          </div>
          <!-- <div class="col-sm-2">
            <label for="validfrom">Start Date</label>
            <p-calendar  name="StartDate" placeholder="Start Date"  [(ngModel)]="data.StartDate" [showIcon]="true"  name="StartDate" [minDate]="mindays" [maxDate]="maxdays" (onSelect)="onDateSelect(data.StartDate)" ></p-calendar>

          </div>

          <div class="col-sm-2">
            <label for="validto">End Date</label>
            <p-calendar  name="EndDate" placeholder="End Date"  [(ngModel)]="data.EndDate" [showIcon]="true"  name="EndDate" [minDate]="mindays" [maxDate]="maxdays"></p-calendar>
          </div>
        -->
        <div class=" col-md-3">
            <label>&nbsp;</label><br>
            <button type="button" class="btn btn-raised btn-primary" (click)="onSearch()">Search</button> <span
              style="padding-right: 10px;"></span>
            <button *ngIf="!isInvalid" type="button" class="btn btn-primary" (click)="onExport()">Export</button><span
              style="padding-right: 10px;"></span>
            <button *ngIf="!isInvalid" type="button" class="btn btn-primary"
              (click)="onMonthExport()">ExportMonthdata</button>
         </div>
      </div>
      <!--col 12 one-->
      <!--col 12 two-->
      <div class="col-md-12">
          <div style="display: flex;padding:20px 0px;" class="fontsize" *ngIf="workingCaptialList && workingCaptialList.length > 0">
            <br />
            <!--col one-->
            <div class="col-md-4">
                <h6><b> Working Capital : </b>
                  <span *ngIf="NetWorkingCapital == 'Infinity' || NetWorkingCapital == '-Infinity' " style="color: red;">
                    <b> {{NetWorkingCapital}} </b></span>

                  <span *ngIf="NetWorkingCapital != 'Infinity' && NetWorkingCapital != '-Infinity' && NetWorkingCapital != 'NaN' " style="color: red;">
                    <b> {{NetWorkingCapital | number:'0.0-0' }} </b></span>
                    
                    <span *ngIf="NetWorkingCapital == 'NaN'" style="color: red;">
                      <b> NaN </b></span>
                
                  </h6>

                <h6><b>Average Inventroy Days : </b>

                  <span style="color: red;" *ngIf="AverageInventoryDays == 'Infinity' || AverageInventoryDays == '-Infinity' ">
                    <b>{{AverageInventoryDays }}</b></span>

                  <span style="color: red;" *ngIf="AverageInventoryDays != 'Infinity' && AverageInventoryDays != '-Infinity' && AverageInventoryDays != 'NaN' ">                
                  <b>{{AverageInventoryDays | number:'1.2-2' }}</b></span>

                  <span *ngIf="AverageInventoryDays == 'NaN'" style="color: red;">
                    <b> NaN </b></span>
                </h6>
            </div>
           <!--col one-->
            <!--col two-->
            <div class="col-md-4">
                <h6><b>Average RTD Days : </b>
                  <span style="color: red;" *ngIf="AverageRTDDays == 'Infinity' || AverageRTDDays == '-Infinity' ">
                    <b>{{AverageRTDDays }}</b>
                  </span>
                  <span style="color: red;" *ngIf="AverageRTDDays != 'Infinity' && AverageRTDDays != '-Infinity' && AverageRTDDays != 'NaN' ">
                    <b>{{AverageRTDDays | number:'1.2-2' }}</b>
                  </span>
                  <span *ngIf="AverageRTDDays == 'NaN'" style="color: red;">
                    <b> NaN </b></span>

                </h6>

                <h6>
                  <b>Average Cash Days : </b>
                  <span style="color: red;" *ngIf="AverageCashDays == 'Infinity' || AverageCashDays == '-Infinity' ">
                    <b> {{AverageCashDays}} </b></span>
                  <span style="color: red;" *ngIf="AverageCashDays != 'Infinity' && AverageCashDays != '-Infinity' && AverageCashDays != 'NaN'  ">
                    <b> {{AverageCashDays | number:'1.2-2'}}</b></span>
                    <span *ngIf="AverageCashDays == 'NaN'" style="color: red;">
                      <b> NaN </b></span>
                </h6>
              </div>
            <!--col two-->
            <!--col three-->
            <div class="col-md-4">
                <h6><b>Average Assets Days : </b>
                  <span style="color: red;" *ngIf="AverageAssetDays == 'Infinity' || AverageAssetDays == '-Infinity' "><b>
                      {{AverageAssetDays }}</b></span>
                  <span style="color: red;" *ngIf="AverageAssetDays != 'Infinity' && AverageAssetDays != '-Infinity' && AverageAssetDays != 'NaN' "><b>
                      {{AverageAssetDays | number:'1.2-2' }}</b></span>
                      <span *ngIf="AverageAssetDays == 'NaN'" style="color: red;">
                        <b> NaN </b></span>
                </h6>

                <h6><b>Average Suplier Credit Days : </b>

                  <span style="color: red;" *ngIf="AvgSuplierCreditDays == 'Infinity' || AvgSuplierCreditDays == '-Infinity' ">
                    <b>{{AvgSuplierCreditDays }}</b></span>
                  <span style="color: red;" *ngIf="AvgSuplierCreditDays != 'Infinity' && AvgSuplierCreditDays != '-Infinity' && AvgSuplierCreditDays != 'NaN'  ">
                    <b>{{AvgSuplierCreditDays | number:'1.2-2' }}</b></span>
                    <span *ngIf="AvgSuplierCreditDays == 'NaN'" style="color: red;">
                      <b> NaN </b></span>
                </h6>
              </div>
            <!--col three-->
            </div>
        </div>
</div>
      <!--col 12 two-->
 
    <!---main row End--->



      <!-- <div class=" col-md-2" >
        <label>&nbsp;</label>
        <div></div>
        <button type="button" class="btn btn-raised btn-primary" style="padding-left: 20px;"  (click)="onExport()" >Export</button>          
      </div> -->


    <!-- <div class="row" *ngIf="workingCaptialList && workingCaptialList.length > 0">
      <div class="col-md-4">
        <h6><b>Average Assets Days :-</b><span style="color: red;"><b> {{AverageAssetDays | number}}</b></span></h6>
      </div>
      
      <div class="col-md-4">
        <h6><b>Average Cash Days :-</b><span style="color: red;"><b> {{AverageCashDays | number}}</b></span></h6>
      </div>
      
      <div class="col-md-4">
        <h6><b>Average Inventroy Days :-</b><span style="color: red;"> <b>{{AverageInventoryDays | number}}</b></span></h6>
      </div>
    </div>
        -->
    <!-- <div class="position-relative" *ngIf="workingCaptialList && workingCaptialList.length > 0">
            <p-table #dt [columns]="cols"[value]="array"  dataKey="CreateDate" [scrollable]="true"
              scrollHeight="65vh" text-align: center>
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: left">
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="dt.exportCSV()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                </div>
            </ng-template>
              <ng-template pTemplate="header" >
                <tr>
                    <th>Column Name</th>
                    <th *ngFor="let col of workingCaptialList" >
                        {{col.CreateDate}}
                      </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body"  >
                <tr *ngFor="let i of colArray">
                  <td>
                    {{i}}
                  </td>
                  <td *ngFor="let c of workingCaptialList">
                    {{c.WorkingCapitalDCs[i] | number}}
                  </td>
                
                </tr>
              </ng-template>
            </p-table>
            
          </div> -->
    <div class="position-relative" *ngIf="isInvalid">
      NO Data Found in this Month
    </div>
    <div *ngIf="!(workingCaptialList && workingCaptialList.length > 0) && !isInvalid">
      <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
    </div>

    <div style="overflow-x: scroll;"class="tableSection" *ngIf="workingCaptialList && workingCaptialList.length > 0">

      <div>
        <button *ngFor="let i of pages" type="button" class=" m-1 btn btn-raised btn-primary float-right"
        (click)="onNext(i)">{{i}}</button>
        <!-- <label for="" class="float-right p-1">Pages: </label> -->
      </div>

      <table #table class="table table-stripe">
        <tr>
          <th> index </th>
          <th> Particulars </th>
          <th *ngFor="let i of workingCaptialList"> {{i.CreateDate}} </th>
        </tr>
        <ng-container *ngFor="let row of colArray; let i=index;">
          <tr class="ut-tr">
            <td> {{row.index}} </td>
            <td (click)="myClick(i.index)"> {{row.header}} </td>
            <td *ngFor="let c of workingCaptialList"
              [ngClass]='{"bld-rd":  (0> c.WorkingCapitalDCs[row.field] ) && (i+1)==  colArray.length , "bld-green":  (c.WorkingCapitalDCs[row.field] >  0) && (i+1)==  colArray.length}'>
              {{c.WorkingCapitalDCs[row.field] | number:'1.2-2'}} </td>
          </tr>
          <ng-template *ngIf="row.innerMenu && row.innerMenu.length > 0" let-innerrow ngFor [ngForOf]="row.innerMenu">
            <tr (click)="innerrow.showContent = !innerrow.showContent"
              class="{{(innerrow.innerMenu && innerrow.innerMenu.length > 0)? 'click-bt' : ''}}">
              <td> {{innerrow.index}} </td>
              <td (click)="myClick(i.index)"> {{innerrow.header}} </td>
              <td *ngFor="let c of workingCaptialList"> {{c.WorkingCapitalDCs[innerrow.field] | number:'0.0-0'}} </td>
            </tr>
            <ng-template *ngIf="innerrow.innerMenu && innerrow.innerMenu.length > 0 && innerrow.showContent"
              let-innerNestedrow ngFor [ngForOf]="innerrow.innerMenu">
              <tr class="in-tr">
                <td> {{innerNestedrow.index}} </td>
                <td (click)="myClick(i.index)"> {{innerNestedrow.header}} </td>
                <td *ngFor="let c of workingCaptialList"> {{innerrow.index=='1.9'?
                  getFirstMatchValue(c.WorkingCapitalDCs.OnlinePayments,innerNestedrow.field):c.WorkingCapitalDCs[innerNestedrow.field]
                  | number:'0.0-0'}}
                </td>
              </tr>
            </ng-template>
          </ng-template>
        </ng-container>
      </table>
    </div>
    <div hidden=!notShow>


      <br />
      <table #tabledata class="table table-stripe">
        <tr>
          <th>
            Column Name
          </th>
          <th *ngFor="let j of MonthData">
            {{j.CreateDate}}
          </th>
        </tr>
        <tr *ngFor="let k of colArray">
          <td>
            {{k.header}}
          </td>
          <td *ngFor="let l of MonthData">
            {{l.WorkingCapitalDCs[k.field] | number:'1.2-2' }}
          </td>

        </tr>
      </table>
    </div>
  </section>
</div>

<!-- <div class="card">
    <div class="card-header pb-2">
    </div>
    <div class="card-content">
        <div class="px-3">
            <form class="form form-inline" name="form" #workingCapitalForm="ngForm" autocomplete="off">

                <div class="form-body">
                    <h4 class="form-section"><i class="ft-user"></i> Working Capital Info</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="">
                              <label for="region" >Region Name:</label>
                              <select id="region" name="region" class="form-control"
                                [(ngModel)]="RegionId" placeholder="Select Region Name" required="1"(change)=onRegionChange(RegionId)
                                #RegionName="ngModel" >
                       
                              <div *ngIf="isInvalid && !RegionName.valid && RegionName.errors.required">
                                <code>Region  Name is required</code>
                              </div>                                                            
                                <option *ngFor="let region of regionList" [ngValue]="region.RegionId">
                                  {{ region.RegionName }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                          <div class="form-group">
                            <label for="name" >Select Warehouse</label>
                            <p-multiSelect    [options]="warehouseList" name="warehouse" [(ngModel)]="selectedWarehouse" [panelStyle]="{minWidth:'35em'}" optionLabel="WarehouseName"
                              (onPanelHide)="selectedWarehouses()"></p-multiSelect>                
                          </div>
                          </div>
                          <div class="col-md-4">
                          <div>
                            <button type="button" class="btn btn-raised btn-primary"  (click)="onSearch(workingCapitalForm)" >
                             
                              Search 
                            </button>
                            </div>
                            </div>
                            
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->