.tp{margin-top: -21px;}
.sk{
    margin: 0px 5px 0px 5px;
    border: solid 2px lightgray;
  }
.tooltip-clu{
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 9999;
  padding: 5px;
  border: solid 1px gray;
  background: antiquewhite;
  min-width: 200px;
  text-align: center;
}

table, td, th {
    border: 2px solid black !important;
    text-align: center;
    font-size: small;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 30px;
  }