img:hover{
    height: 500px;
}
// #file-input {
//    display: none;
// width: 90px;
// background-color: #f8f9fa;
//     color: #f8f9fa;
//     border-color: #f8f9fa;
    // overflow: hidden;
//   }


.chooseImg {
    background-color: #f8f9fa;
    color: #f8f9fa;
    border-color: #f8f9fa;
    width: 118px;
}

// a:hover {
//     background-color: yellow;
//   }