.rr{
    margin-top: 15px;
}

hr{
    margin-top: 0rem; 
    margin-bottom: 0rem;
}

.br-r{
    border-right: solid 1px gray;
    padding-right: 0px;
    padding-left: 0px;
}


.brd{
    margin-left: 15px;
    border-bottom: solid 1px darkgray;
    border-left: solid 1px darkgray;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: orangered;
    background: rgb(243, 226, 226);
    cursor: pointer;

    .brr{
        float: right;
        display: inline-block;

    }
}


.hf .fa-pencil{
    display: none;
}
.hf:hover{
    .fa-pencil{
        display: inline !important;
    }
    
}

.cc{
    float: right;
    margin-right: 30px;
    position: absolute;
    right: 15px;
    
}