.h11{
    color: #e76b23;
    font-family: monospace;
    border-bottom: ridge;
  
    font-size: -webkit-xxx-large;
  
  }

  .btn-a{
    width: 120px;
    padding: 10px;
    border: solid 1px cadetblue;
    border-radius: 6px;
    background: cadetblue;
    white-space: wheat;
    color: white;
    font-weight: 400;
    max-width: 120px;
    position: static;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

  .scr{
    height: 460px;
    width: 420px;
    overflow-y: auto;
    overflow-x: hidden;
//border: solid 1px rgb(190, 185, 185);
}