<div class="my-2 d-flex justify-content-between align-items-center">
    <div class="header">
        <h3 class="m-2">Streak Dashboard</h3>
    </div> 
</div>
<div class="container-fluid ui-fluid shadow p-3 bg-white rounded table table-hover">
    <div class="row">
        <div class="col-3">
            <label><b>Enter Skcode / CustomerId</b></label>
            <input type="text" class="form-control" [(ngModel)]="keyword">
        </div>
        <div class="col-3 "><br>
            <button class="btn btn-primary" style="    margin-top: 6px;" (click)="Search()">Search</button>
        </div>
    </div>
</div>