.h1btn {
    max-width: 100%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #343553;
    background: #fff;
    text-align: center;
    color: #343553;
    padding: 0.4em 1.7em;
    cursor: pointer;
    margin-top: 0.5em;
  }
  .selected-t {
    color: #186fe0;
    border: solid 1px #186fe0;;
  }
  :host ::ng-deep body .ui-table .ui-sortable-column .ui-sortable-column-icon {
    color: white !important;
  }

//   ::ng-deep .ui-calendar {
//     width: 100%;
//   }
  
//   ::ng-deep .ui-calendar .ui-inputtext {
//     width: calc(100% - 2.357em);
//   }
