<div class="my-2 d-flex justify-content-between align-items-center">
    <div class="header">
        <h3 class="m-2">Store Cluster Beat-Mapping</h3>
    </div>
    <div>
        <!-- <button type="button" (click)="TestPopUp()" class="btn btn-raised btn-primary float-right align-self-end"
            style="margin-bottom: 0;">
            <i class="fa fa-plus-circle"></i> Value Test Button </button> -->
    </div>
</div>
<div class="my-2 card shadow">
    <div class="row p-3">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>Store</label><br>
            <p-dropdown [options]="allStoreList" [(ngModel)]="selectedStore" optionLabel="Name"></p-dropdown>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>WareHouse</label><br>
            <p-dropdown [options]="allWarehousList" (onChange)="getClusterList()" [(ngModel)]="selectedWareHouse"
                optionLabel="WarehouseName"></p-dropdown>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label>Cluster</label><br>
            <!-- <p-dropdown [options]="allClusterList" [(ngModel)]="selectedCity2" optionLabel="ClusterName"></p-dropdown> -->
            <p-multiSelect [options]="allClusterList" [(ngModel)]="selectedCluster" optionLabel="ClusterName">
            </p-multiSelect>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <button style="margin-top: 2em; width: 100%;" (click)="searchMainList()"
                class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row p-2" *ngIf="isSwitchAvailable">
        <div class="col-lg-8 col-md-9 col-sm-12">
            <p-fileUpload name="myfile[]" customUpload="true" accept=".xls,.xlsx"
                (uploadHandler)="onUpload($event, uploadCustom)" #uploadCustom>
                <code>*</code>
            </p-fileUpload>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
            <button class="btn btn-primary" (click)="PostBeat()" *ngIf="isPostAvailable"
                style=" width: 100%;">Post</button>

        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
            <button class="btn btn-primary" style=" width: 100%;" (click)="downloadFile()">Excel Download</button>
        </div>
    </div>
    <div class="row m-3">
        <p-table [value]="mainList" [paginator]="true" [rows]="5" [scrollable]="false"
            [globalFilterFields]="['StoreName', 'ClusterName', 'WarehouseName', 'ExecutiveName']">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText placeholder="Global Filter"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Store Name</th>
                    <th>Executive Name</th>
                    <th>WareHouse Name</th>
                    <th>Cluster</th>
                    <th>No. of SKcode in Beat</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowData.StoreName}}</td>
                    <td>{{rowData.ExecutiveName}}</td>
                    <td>{{rowData.WarehouseName}}</td>
                    <td>{{rowData.ClusterName}}</td>
                    <td>{{rowData.NoOfBeat}}</td>
                    <td><button class="btn btn-primary" (click)="detailsPopUp(rowData)">Details</button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Details" [modal]="true" appendTo="body" positionTop="50vh" [(visible)]="popUp"
    [style]="{width: '60vw', left: '440px'}" [draggable]="false">


    <!-- <div class="card-content">
        <h4 class="card-title" id="basic-layout-colored-form-control" style="padding-bottom: 20px;">
            <div class="row">
                <div style="margin-left: 50px;">
                    Details:
                </div>
            </div>
        </h4>
    </div> -->
    <div class="row p-2">
        <div class="col-8">

        </div>
        <div class="col-4">
        </div>
    </div>

    <div class="row p-2 text-center" *ngIf="!ExeMappedCustomerList"><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></div>
    
    <div class="row p-2 text-center" *ngIf="ExeMappedCustomerList">
        <div class="col-12">
            <p-table [value]="ExeMappedCustomerList" [paginator]="true" [rows]="20" #dt
                [globalFilterFields]="['Skcode']" [style]="{overflow:'auto', height:'400px'}">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" size="50" placeholder="Global Filter"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th>SkCode</th>
                        <th>Day</th>
                        <!-- <th>SkipDays</th> -->
                        <!-- <th>SkipWeeks</th> -->
                        <th>EvenOrOddWeek</th>
                        <th>BeatNumber</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cust>
                    <tr>

                        <td>{{cust.Skcode}}</td>
                        <td>{{cust.Day}}</td>
                        <!-- <td>{{cust.SkipDays}}</td> -->
                        <!-- <td>{{cust.SkipWeeks}}</td> -->
                        <td>{{cust.EvenOrOddWeek}}</td>
                        <td>{{cust.BeatNumber}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="row p-2" style="margin-left: 100px; float: right;">
        <button class="btn btn-primary p-2 m-1" *ngIf="ExeMappedCustomerList" (click)="exportExcel()">Export to Excel</button> 
        
        <button type="button" (click)="close() " pButton icon="pi pi-info-circle" label="Close"></button>
    </div>

</p-dialog>

