
.triCheckBox{
  font-size: 17px;

}
:host ::ng-deep .ui-dialog .ui-dialog-content {
  border: none;
  overflow: hidden;
  // margin-top: -13%;
 
}
.emptymsg{
  color: red;
  text-align: center;
    font-weight: 600;
    text-decoration: underline;
}
.before-86{  
  color:Green ;
  font-weight: 700;
}

.after-86{
  color: orange;
  font-weight: 700;
}
.after-99{
  color: Red;

  font-weight: 700;
}
.red{
  color: Red;

  font-weight: 700;
}
.green{
  color: green;

  font-weight: 700;
}
#toast-container
{
  position: fixed;
  bottom: 0;
  z-index: 999;
  overflow: visible !important;
}
