.card{
    box-shadow: none!important;
}

.form-inline label{
    justify-content: flex-start;
}

.custom-control-label::before{
    height:1.5rem;
    width:1.5rem;
}

.custom-control-label::after{
    height:1.5rem;
    width:1.5rem;
}

.bg-grey50{
    background-color: #FAFAFA!important;
}