.btn-success{
    background-color: green;
}
.btn-info {
    color: white;
    background-color: #2ec1cc;
    border-color: #29adb7;
    border-radius: 15px;
    margin-top: 15px;
}

.panel-success {
    border-color: #e6a655;
}

    .panel-success > .panel-heading {
        color: white;
        background-color: cadetblue;
        border-color: cadetblue;
        width: 99%;
    }
    .lables
    {
        font-weight: 900;
    }
    .custom-calendar .ui-inputtext {
        width: 100%; /* Set the desired width */
    }
    #scroll-container {
        border: 3px solid black;
        border-radius: 5px;
        overflow: hidden;
        width: 99%;
        margin-bottom: 1%;
        background-color: cadetblue;
        border-color: cadetblue;
         color: white;
      }
      
      #scroll-text {
        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        
        -moz-animation: my-animation 10s linear infinite;
        -webkit-animation: my-animation 10s linear infinite;
        animation: my-animation 10s linear infinite;
      }
      
      /* for Firefox */
      @-moz-keyframes my-animation {
        from { -moz-transform: translateX(100%); }
        to { -moz-transform: translateX(-30%); }
      }
      
      /* for Chrome */
      @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(-30%); }
      }
      
      @keyframes my-animation {
        from {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
        }
        to {
          -moz-transform: translateX(-30%);
          -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
        }
    }
    
  