.btn-Success
{
    color: #ffffff;
    background-color: #34A835;
    border: 1px solid #34A835;
}
:host ::ng-deep .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    margin: 0;
    float: none;
    color: crimson !important;
    font-size: larger;
    text-align: center;
}