agm-map {
  height: 300px;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.right-hover {
  position: absolute;
  right: 0;
  right: 47%;
  background: rebeccapurple;
  opacity: 0.7;
  margin: 0px 0px;
  padding: 20px;
  color: white;
  font-weight: bold;
}
