@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body a{
    color: #ff5b1e;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #ccc; 
    border-radius: 10px;
  }   
  ::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
}
.email-app-mail-content-detail .nav {
    width: 100%;
}
.app-sidebar[data-background-color="man-of-steel"], .off-canvas-sidebar[data-background-color="man-of-steel"]{
    background: #000;
    background-image: none !important;
}
.app-sidebar .navigation li>a:before, .off-canvas-sidebar .navigation li>a:before{
    border-right: 5px solid #ff5b1e;
}
.ui-widget-header .fa-search{
    position: absolute;
    right: 20px;
    top: 12px;
    color: #ff5b1e;
}
.ui-widget-header input{
    border: none;
    padding: 4px 15px;
    border-radius: 15px;
    box-shadow: 0px 1px 6px 0px #ccc;
    padding-right: 30px;
}
body .ui-table .ui-table-caption.ui-widget-header{
    border: none;
    background: none;
    margin-bottom: 20px;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active,
body .ui-table .ui-sortable-column.ui-state-highlight{
    background:#ff5b1e !important;
}
.badge-warning{
    color: #fff;
    background:#ff5b1e ;
}
.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
body .ui-table td,
body .ui-table th{
   font-size: 14px;
}
body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-tbody > tr > td{
    padding: 15px ;
}
body .ui-table .ui-table-thead > tr > th{
    border: none !important;
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
    font-size: 12px;
}


.btn-primary.btn-raised, .btn-primary.btn-fab{
    background-color: #ff5b1e !important;
    border-color: #ff5b1e !important;
    opacity: 1;
}
.app-sidebar .navigation li > a:before, .off-canvas-sidebar .navigation li > a:before {
    border-right: solid 5px #ff5b1e;
}
.nav-item .nav-link.active{
    opacity: 1;
    border-bottom:3px solid #ff5b1e;
    color:#ff5b1e;
}

.nav-item .nav-link.active:hover{
    opacity: 1;
    border-bottom:3px solid #f74505;
    color:#f74505;
}
.bg-danger {
    background-color: #ff5b1e !important;
}
a.bg-danger:hover, a.bg-danger:focus, button.bg-danger:hover, button.bg-danger:focus{
    background-color: rgb(136, 104, 104) !important;    
}
.email-app-mail-content{
    background: #fff;
    position: fixed;
    left: 10%;
    top: 10%;   
    max-height: 90%;
    width: 90%;
    max-width: 75%;
    border-radius: 15px;
    box-shadow: 0px 1px 6px 0px #999;
    margin-left: 110px;
    z-index: 9;
    /* height: auto !important; */
    min-height: 70%;
    overflow-y: auto;
}
.email-app-mail-content .close{
    padding: 15px;
}
.searchbar{
    height: 60px;
    background-color: #353b48;
    border-radius: 35px;
    padding: 10px;
 }
 .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
 }
 .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 300px;
    caret-color:red;
    transition: width 0.4s linear;
 }
 .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
 }
 .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
 }
 .min-height-80{
    min-height: 80vh;
 }
 section{
    font-size: 12px!important;
    font-weight: normal!important;
 }    
 .modal-body input{
    border:none;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.modal-header{
    border-bottom:0;
 }
 .country-details{
    width:100%;
    z-index: 5;
 }
 tr > td, tr > th{
    /* padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: white; */
    border: 0!important;
    border-bottom: 1px solid #E0E0E0; 
 }
 tr.selected > td, tr.selected > th,
 tr.selected > td {
    background-color: #eee !important;
    border-bottom: 1px solid #ff5b1e !important;
 }
 tr > th{
    border-bottom: 2px solid #424242!important;
 }
  body .ui-table .ui-table-tbody > tr:nth-child(even){
    background-color: #fffbf9;
 }
 body .ui-table .ui-table-tbody > tr:hover,
  tr:hover{
    /* background-color: #eee !important; */
    background-color: none !important;
}
 tr.selected:hover td{
    background-color: none !important;   
    /* background-color: #ffeae2!important;    */
 }
 .edit{
    display: none;
 }
 .edit:hover{
    box-shadow: none!important;
    transform: scale(1)!important;
 }
.buttons{
    display: relative;
    float: right;
}
 button:focus{
    outline: none!important;
 }
.btn{
    background-color: transparent;  
}
.btn.btn-sm{
    font-size: 12px!important;
}
.btn-rounded{
    border-radius: 50px;
}
#DivToShow{
    width: 30%;
}
.bg-grey300{
    background-color: #E0E0E0!important;
}
.header h3{
    font-family:'Poppins','sans-serif'!important;
    font-weight: 500;
    color: #ff5b1e;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #ffeae2;
    box-shadow: 0 0 3px 1px #ffeae2;
}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before{
    border-color: #ff5b1e;
    background-color: #ff5b1e;
}
.email-app-mail-content-detail .nav-tabs .nav-link.active{
    background-color: #ff5b1e;
    color: #fff;
}
.btn-info.btn-raised, .btn-info.btn-fab{
    max-width: 100%;
}
.email-app-content{
    margin-left:0!important;
}
.email-app-mail-content-detail{
    display: flex;
    flex-direction: column;
}
.email-app-mail-content-detail .info-header{
    height: auto;
}
.email-app-mail-content-detail .info-div{
    overflow-y:auto; 
    overflow-x:hidden;
    height: calc(100% - auto);
}
.trigram::after{
    content: '\2630';
}
.bg-lightgrey{
    background-color: #E0E0E0;
}
body .ui-paginator {
    background: none;
    border: none;
    padding: 0;
    margin: 35px 0px;
}
.info-value, .info-label{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    word-break: break-all;
}
.info-label{
    margin: 20px 5% 0px 0px !important;
    text-align: right;
}
.info-value{
    margin: 20px 0% 0px 5%!important;
}
.badge-primary,
body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #ff5b1e;
}
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider{
    background-color: #ff5b1e;
    opacity: .7;
}
.header-navbar .btn {
    margin: 0.5rem;
}
body .primary {
    color: #ff5b1e!important;
}
.btn-danger.btn-raised, .btn-danger.btn-fab,
body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button{
    background-color: #ff5b1e;
    border-color: #ff5b1e !important;
}
body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active,
body .ui-datepicker table td.ui-datepicker-today > a.ui-state-active, body .ui-datepicker table td.ui-datepicker-today > span.ui-state-active{
    background: #ff5b1e !important;
    color: #fff !important;
}
.bg-success {
    background-color: #a6dd6e!important;
}
.itmDetail .nav.nav-pills .nav-link{
    color: #333;
}
.itmDetail .nav.nav-pills .nav-link.active{
    background: none;
    color: #ff5b1e;
}
.ps__thumb-y {
    background-color: #ff5b1e;
    border-radius: 25px;
    width: 7px;
    right: 0px;
    opacity: 1;
}
.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background: none;
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y{
    background-color: #ff5b1e;    
}
body p-multiSelect  .ui-multiselect{
    width: 100%;
}
.btnBlk{
    background: #000;
}
body .ui-dialog .ui-dialog-content{
    border: none;
}
.ui-table-wrapper.ng-star-inserted{
    width: 100%;
    display: inline-block;
    overflow: auto;
}
.refreshBtn{
    color: #ff5b1e;
    padding: 0px;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.refreshBtn:focus{
    outline: none;
    box-shadow:none;
}

 /* accordion */

body .editedAccordion .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon{
    float: right;
    margin-left: 15px;
    font-size: 26px;
    line-height: 48px;
}
body .editedAccordion .ui-accordion .ui-accordion-header a,
.editedAccordion .ui-accordion .ui-accordion-header a{
    padding: 0;
    border: none;
    background: dimgrey;
    color: #fff;
}
.editedAccordion .ui-widget .index{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    border-right: 1px solid #333;
    padding: 15px;
}
.editedAccordion .ui-widget .title{
    padding: 15px;
    line-height: 47px;
    font-size: 16px;
    font-weight: 500;
}
.deleteAccordion{
    float: right;
    margin-right: 15px;
    color: #fff;
    z-index: 999;
    font-size: 22px;
    margin-left: 15px;
    border-left: 1px solid #555;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 13px;
    position: relative;
}
.ng-star-inserted.ui-dialog{
    position: fixed;
    min-width: 400px;
    background: #fff;
}
.calendarSection .ng-star-inserted{
    position: static;
}
body .borderTable .ui-table .ui-table-thead > tr > th, 
body .borderTable .ui-table .ui-table-tbody > tr > td{
    border:1px solid #000 !important;
}
body .ui-dialog .ui-dialog-content .borderTable{
    overflow-y: auto;
    height: 480px;
    margin-bottom: 15px;
}
/*sub Popup */
body .ui-dialog .ui-dialog-titlebar #ui-dialog-1-label .ui-dialog-titlebar-icon{
    background-color: red;
}
.dialogHeading h2{
    text-align: center;
    width: 90%;
    position: absolute;
    line-height: 18px;
    top: 0px;
    left: 5%;
}

.hideCloseHeader{
    position: absolute;
    top: -8px;
    left: 0px;
    width: 100%;
    padding: 0px 15px;
    background: #eee;
}

body .dateBtn  .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button{
    position: absolute;
}
body .dateBtn .ui-calendar.ui-calendar-w-btn .ui-inputtext{
    min-width: 90%;
}
body .dateBtn .ui-calendar{
    width: 100%;
}
body .ui-table .ui-table-tbody > tr > td a{
    word-break: break-all;
}
.fixHeaderTbl tbody,
.fixHeaderTbl thead{
    display: inline-block;
    width: 100%;
}
.fixHeaderTbl tr{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-bottom: 1px solid #eee;
}
.fixHeaderTbl tbody{
    max-height: 500px;
    overflow-y: auto;
}
.fixHeaderTbl td,
.fixHeaderTbl th{
    display: inline-block;
    width: 12%;
}
.fixHeaderTbl td:first-child,
.fixHeaderTbl th:first-child{
    width: 50px;
    max-width: 5%;
}
.fixHeaderTbl td.lgWidth{
    width: 75%;
    min-width: 75%;
    text-align: right;
    display: inline-block;
    max-width: unset;
}
.fixHeaderTbl td:nth-child(4),
.fixHeaderTbl th:nth-child(4){
    width: 23%;
}
body .smallInput .ui-calendar.ui-calendar-w-btn .ui-inputtext{
    width:75%;
}
body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tbody > tr > td {
    word-break: break-word;
}
#supplier-details .email-app-mail-content .close{
    padding: 0px;
}
#t-1-st .ui-blockui{
    display: block !important;
    z-index: 9999 !important;
    position: absolute !important;
    height: 100% !important;
    min-height: 100% !important;
  }
  .header{
      margin-bottom: 30px;
  }
  body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover,
  body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #ff5b1e;
    border: 1px solid #ff5b1e;
}


@media (max-width:1400px){
    body .ui-table .ui-table-thead > tr > th, body .ui-table .ui-table-tbody > tr > td {
        padding: 7px;
        word-break: break-word;
    }
    .sidebar-content .form-control{
        width: 90%;
    }
    /* body .ui-inputtext{
        max-width: 80%;
    } */
}

@media (max-width:1280px){
    .ui-table-scrollable-wrapper{
        width: 100%;
        overflow: auto;
    }    
    .ui-table-scrollable-view{
        width: 1200px;
        height: 60vh;
    }
    .container-fluid{
        overflow: inherit !important;
    }
    form label {
        font-size: 0.7rem;
    }
    body .smallInput .ui-calendar.ui-calendar-w-btn .ui-inputtext {
        width: 70%;
    }
    body .ui-inputtext {
        max-width: 65%;
    }
}

/*app home accordian --Start*/

body .editedAccordionChange .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon{
    float: right;
    margin-left: 15px;
    font-size: 26px;
    line-height: 48px;
}
body .editedAccordionChange .ui-accordion .ui-accordion-header a,
.editedAccordionChange .ui-accordion .ui-accordion-header a{
    padding: 0;
    border: none;
    background: #f3f1f1;
    color: #080700;
}
.editedAccordionChange .ui-widget .index{
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    padding: 15px;
}
.editedAccordionChange .ui-widget .title{
    padding: 15px;
    line-height: 47px;
    font-size: 16px;
    font-weight: 500;
}
 .editedAccordionChange .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #000000 !important;
    /* border: 1px solid #007ad9; */
    color: #ffffff !important;
}


.deleteAccordionChange{
    float: right;
    margin-right: 15px;
    color: #fff;
    z-index: 999;
    font-size: 22px;
    margin-left: 15px;

    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 13px;
    position: relative;
}

/*app home accordian --End*/