@media (max-width:991px){
    .email-app-mail-content{
        margin: 0px;
    }
    .navbar-container{
        position: absolute;
        right: 50px;
        width: 105px;
        border-radius: 5px;
    }
    #navbarSupportedContent.collapse:not(.show){
        -webkit-transition:.3s ease;-moz-transition:.3s ease;-ms-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease;
        display: inline-block;
        position: absolute;
        background: #ddd;
        right: -12px;
        padding: 0px;
        top: -22px;
        border-radius: 5px;
        width: 100px;
        overflow: hidden;
        opacity: 0;
        height: 1x;
    }
    #navbarSupportedContent.collapse.show{
        width: 100px;
        padding: 0px 20px 0px 0px;
        opacity: 1;
        -webkit-transition:.3s ease;-moz-transition:.3s ease;-ms-transition:.3s ease;-o-transition:.3s ease;transition:.3s ease;
        display: inline-block;
        position: absolute;
        background: #ddd;
        right: -12px;
        top: -22px;
        border-radius: 5px;
        overflow: hidden;
        height: auto;
    }
    #people-master .btn{
        margin-top: 5px;
    }
    .ui-widget-header input {
        max-width: 100%;
    }
}