/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* @import url("assets/css/bootstrap.min.css"); */
/* @import url("../src/assets/css/prism.min.css");
@import url("../src/assets/css/sweetalert2.min.css");
@import url("../src/assets/css/bootstrap-timepicker.min.css");
@import url("../src/assets/css/wizard.css");
@import url("../src/assets/css/leaflet.css");
@import url("../src/assets/css/jquery-jvectormap-2.0.3.css");
@import url("../src/assets/css/ng2-toastr.min.css");
@import url("../src/assets/css/nouislider.min.css");
@import url("../src/assets/css/data-table/index.css");
@import url("../src/assets/css/data-table/icons.css");
@import url("../src/assets/css/demo.css"); */
@import url("../src/assets/css/print.css");
.ldr-hd .ui-autocomplete-loader {
  display: none !important;
}

.ui-calendar-button {
  border: solid 2px gray !important;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #ff5b1e !important;
  background-color: #ff5b1e !important;
  color: #ffffff;
}
.mp-op .agm-map-container-inner {
  border: solid 1px gray;
}
html {
  /* overflow: hidden; */
}
.gr-ir-tb-wd td,
.gr-ir-tb-wd th {
  min-width: 100px;
  width: 150px;
}
.gr-ir-tb-wd .ui-table-scrollable-header {
  overflow: auto !important;
  padding-bottom: 5px;
}
.ui-steps .ui-steps-item {
  width: 25%;
}
.ui-steps.steps-custom {
  margin-bottom: 30px;
}
.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #ffffff;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}
.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}
.btn .btn-primary {
  color: #ffffff !important;
}

.ng-star-inserted.ui-dialog{
  overflow-y: auto !important;
}

.btn-primary {
  color: #ffffff !important;
}

#ir-out .ui-calendar .ui-datepicker {
  min-width: auto !important;
}
.nu-12 .ui-blockui {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 999 !important;
}

.tab-set {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.tab-content {
  padding: 15px 15px 25px 15px;
  text-align: center;
}

.nav-tabs {
  border-bottom: solid 2px #eee;
  margin-bottom: 10px;
}
.nav-tabs > li.disabled:hover {
  background: transparent;
}
.nav-tabs > li.disabled:hover > a {
  margin-top: 1px;
}
.nav-tabs > li > a {
  border: none;
  color: #000;
  background: transparent;
  font-weight: 600;
  opacity: 0.5;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.nav-tabs > li > a:hover {
  border: none;
  color: #fc5d44;
  background: transparent;
  opacity: 1;
}
.nav-tabs > li > a::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
  background: #fc5d44 none repeat scroll 0% 0%;
  color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
  opacity: 1;
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.ui-widget-header input {
  max-width: 100%;
}

/* ************date picker*************** */
body .customeForm .ui-datepicker:not(.ui-datepicker-inline) {
  height: 262px;
  top: -265px !important;
  overflow-y: auto;
}
.card form {
  margin-top: 30px;
}
.chatContent {
  position: absolute;
  top: 102px;
  left: 0px;
  right: 0px;
  bottom: 62px;
  overflow-y: auto;
}
.inputChatbottom {
  position: absolute;
  bottom: 0px;
  background: #ddd;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
}
.chat-app-input .form-group {
  margin: 0px;
}

.sk_pagination ul {
  padding: 0px;
  text-align: center;
}
.btnCol .btn {
  background: none;
  color: #fb5a1e;
  line-height: 12px;
  font-size: 26px;
}
body .tickitDialog .ui-dialog .ui-dialog-content {
}
.dialogContent {
  overflow: auto;
}

body .ui-dropdown {
  width: 100%;
}

.btn-primary {
  color: #ffffff !important;
  background-color: orangered !important;
  border: solid 1px orangered !important;
}
.ui-steps {
  width: auto;
  margin: auto !important;
}

/* .btn .btn-sucesss{
  color: #FFFFFF !important;
}

.btn-sucesss{
color: #FFFFFF !important;
} */
#content img{
  width: 85px !important;
  height: 85px !important;
}
.btn-success{
  color: #ffffff !important;
}
.btn-sucesss {
  color: #ffffff !important;
  background-color: #0cc27e !important;
  border: solid 1px #0cc27e !important;
  opacity: 1;
}
.btn-infos {
  color: #ffffff !important;
  background-color: #1cbcd8 !important;
  border: solid 1px #1cbcd8 !important;
}

.tlp-ccc .ui-tooltip-text {
  width: 230px;
  background-color: wheat;
}

.tlp-ccc .tbll{
  width: 100%;
}

.tlp-ccc .tbll td {
  border: solid 1px lightgray !important;
  padding: 0.3em;
}
.btn-danger{
  color: #fff !important;
}
.recordnot_fount{
 background: #ffcab6;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: 600;
}
/* .skactive{
  background: #0cc27e !important;
  border-color: #0cc27e !important;
} */
.reward-body{
  background: #0cc27e;
}
@media print {
                    body * {
                        visibility: hidden;
                    }

                    #printSection,
                    #printSection * {
                        visibility: visible;
                    }

                    #printSection {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    table {
                        border: solid #000 !important;
                        border-width: 1px 0 0 1px !important;
                    }
                    th,
                    td {
                        border: solid #000 !important;
                        border-width: 0 1px 1px 0 !important;
                    }
img{
   display: none !important;
}
                    .no-print {
                        display: none !important;
                    }

                    .border {
                        border: 1px solid #000 !important;
                    }

                    btn-sm.btn-primary.no-print {
                        display: none !important;
                    }
                }



                .lbt-a{
                  width: 100%;
                }


               
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
