.btn-success
{
    background-color: #0a9e67;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
    padding: 7px;
    word-break: inherit;
}

:host ::ng-deep .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0.571em 2em !important;
}
 
:host ::ng-deep .ui-dialog-resizable .ui-dialog-content {
   overflow: hidden !important;
}
:host ::ng-deep .my-2 {
    margin-bottom: -3.25rem !important;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
    padding: 4px !important;
    word-break: break-word;
    
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0 !important;
}
:host ::ng-deep .ui-calendar {
    position: relative !important;
    display: flex !important;
}
:host ::ng-deep .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    width: 100% !important;
}
.frozen-col{ 
    font-weight: bold; 
}
:host ::ng-deep .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    // border-color: black;
    border-color: rgb(7, 3, 0) !important;
}
.box{  
    background-color:  rgb(200, 243, 242); 
     position: absolute; 
    height: 20px;
    width: 40px; 
    top: 2%; 
   
  } 
  .box1{  
    background-color: bisque;; 
     position: absolute; 
    height: 20px;
    width: 40px; 
    top: 2%; 
    
  } 