:host ::ng-deep body .ui-table td, body .ui-table th {
    font-size: 14px;
    width: 20% !important;
}

.editbtn{
    background-color: #2b59e2;
    color: white;
    border: none;
}

:host::ng-deep .ui-table .ui-table-thead > tr > th {
    border: none !important;
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
    font-size: 12px;
    // width: 155px !important;
    // text-align: center;
}
:host::ng-deep .ui-table-scrollable-header, .ui-table-scrollable-footer {
    overflow: initial !important;
    border: 0 none;
}
a:hover {
    color: red!important
  }