.tr1
{
    font-weight: bold;
    
}
.marg
{
    margin-left: 320px;
}
.required
{
    color: red;
}  

@media only screen and (max-width: 600px) and (min-width: 320px)  {
    h3{
        margin-left: 0 !important;
        padding-top: 10px !important;
        font-size: 20px;
    }
    .mob{
        margin-top:-35px !important;
    }
    .btn-raised{
        margin-right: 10px !important;
    }
}