.mapcard{
    height: 305px;
    width:100%;
    border: 1px solid #a6a6a6;
}
agm-map {
    height: 300px;
  }
  .searchbutton{
      float: right;
      margin-top: 15%;
      width: 100%;
  }
  .cardMap{
      width: 90%;
  }
  .table{
    width: 100%;
    margin-left: 13px;
    text-align: center;
  }
  .table tr {
    border: 1px solid gray;
  }
  .table thead{
    text-align: center;
    background-color: black;
    color: white;
  }

  html, body, #map_canvas { margin: 0; padding: 0; height: 100% }

  .addressDiv{
    height: 30%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    position: relative;
    padding: 10px;
    text-align: left;
  }
  
 :host ::ng-deep  tr > th {
    border-bottom: 0px solid #424242 !important;
}

  .vertical-header {
    position: relative;
    padding: 0% !important;
    text-align: center !important;
    font-size: 1rem !important;
    text-align: left;
    color: black;
    font-family: "Rubik", sans-serif !important;
    font-weight: 600 !important;
    //  #6c7293
  }
  .vertical1
  {
    position: relative;
    text-align: start !important;
    padding: 0% !important;
    font-size: 1rem !important;
    text-align: left;
    color: black !important;
    font-family: "Rubik", sans-serif !important;
    font-weight: 600 !important;
  }

  .bl{
    font-family: "Rubik", sans-serif !important;
    font-weight: 700!important;
  }