 /*CSS form Emulator*/
 .emulatorDiv {
    // background-image: url('../../../../assets/img/Googlen.png');
    position: relative;
    height: 648px;
    width: 387px;
    margin-left: 235px;
    margin-top: 49px;
}

.emulatorImage {
    margin: 1px 1px -48px 165px;
    width: 682px;
    height: 655px;
}

.emulator-Container {
    background-color: aliceblue;
    width: 272px;
    margin-left: 72px;
    margin-top: 35px;
    padding: 0;
    height: 558px;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0px 1px 10px -1px white, 7px 0px 3px -8px white;
}
.sliderEmulatorDiv {
    margin-left: -41px;
    margin-bottom: 16px;
    margin-top: 5px;
}

.sliderEmulator5 {
    width: 260px;
    height: 130px;
}

.sliderEmulator4 {
    margin-left: 10px;
    width: 240px;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sliderEmulator3 {
    margin-left: 20px;
    width: 220px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sliderEmulator2 {
    margin-left: 30px;
    width: 200px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sliderEmulator1 {
    margin-left: 40px;
    width: 180px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sliderEmulator0 {
    margin-left: 40px;
    width: 0px;
    height: 0px;
    margin-top: 65px;
    margin-bottom: 65px;
}
.slider-dots {
    background-color: black;
    border: none;
    height: 7px;
    border-radius: 7px;
    opacity: 0.1;
    padding-left: 1px;
}

.slider-dot-selected {
    background-color: black;
    border: none;
    height: 7px;
    border-radius: 7px;
    padding-left: 1px;
    cursor: pointer;
}

.prev, .nextButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.nextButton {
    right: -115px;
    border-radius: 3px 0 0 3px;
}
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .nextButton:hover {
        background-color: rgba(0,0,0,0.8);
    }