.h11{
  color: #e76b23;
  font-family: monospace;
  border-bottom: ridge;

  font-size: -webkit-xxx-large;
}
.myTree{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
}
.treeBlock {
  display: inline-block;
  width: 22%;
  margin: 1%;
  position: relative;
  vertical-align: top;
}
.treeBoxContent{
  display: inline-block;
  padding: 15px;
  background: #000;
  border-radius: 15px;
  min-width: 100px;
  margin-bottom: 50px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  position: relative;
  min-height: 70px;
}
.treeBlocks { 
  display: inline-block;
  position: relative;
  width: 380%;
}
.treeBlockChild{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 13%;
  margin: 1.5%;
}
.treeBoxContentchild{
  display: inline-block;
  vertical-align: top;
  background: #ff5b1e;
  padding: 15px 5px;
  border-radius: 15px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  min-height: 70px;
  font-size: 12px;
}
.treeLine {
  display: none;
}
.treeLine:first-child{
  display: inline-block;
}
.treeLine span{
  position: absolute;
  width: 2px;
  height: 30px;
  background: #ccc;
  bottom:-30px;
}
.deleteBtn,
.addBtn{
  position: absolute;
  color: #fff;
  top: 0px;
  right: 10px;
  font-size: 30px;
  padding: 0px;
  line-height: 34px;
  cursor: pointer;
}
.deleteBtn{
  top: unset;
  bottom: 0px;
}
.nameData{
  display: inline-block;
  cursor: pointer;
}
.treeBoxContentchild::before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 35px;
  background: #ccc;
  top: -35px;
  left: 50%;
}
.treeBoxContentchild::after{
  content: '';
  display: inline-block;
  position: absolute;
  width: 125%;
  height: 2px;
  background: #ccc;
  top: -35px;
  left: 0%;

}
.treeBlockChild:first-child .treeBoxContentchild::after{
  left:50%;
}
.treeBlockChild:last-child .treeBoxContentchild::after{
  left: unset;
  right: 50%;
}