.ui-table table {
    border-collapse: collapse;
    width: 200% !important;
    table-layout: fixed;
}
tr{
    th,td{
        min-width: 100px;
    }
}
table{
    width: 100%;
    overflow: auto;
}
tr > th{
    border-bottom: 2px solid #ada7a7!important;
    border-top: 2px solid #ada7a7!important;
    border-left: 2px solid  #ada7a7!important;
    border-right: 2px solid #ada7a7!important;
}
tr > td{
    border-bottom: 2px solid #ada7a7!important;
    border-top: 2px solid #ada7a7!important;
    border-left: 2px solid  #ada7a7!important;
    border-right: 2px solid #ada7a7!important;
}