.headingSect{
    background: #ff5b1e;
    color: #ffff;
    padding: 15px 0px;
    text-align: center;
}
.headingSect h2{
    font-weight: 600;
}
.wareHouseOpt{
    padding: 30px;
}
.wareHouseOpt .optBox{
    margin: 15px 0px;
    display: inline-block;
    width: 100%;
}
.wareHouseOpt .btn{
    display: inline-block;
    margin: 30px 30px 0px 0px;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active{
    border-color: #ff5b1e !important;
    background-color: #ff5b1e !important;
}