<div class="row">
    <div class="col-xl-12 col-lg-12">
        <h4 style="text-align: center;font-weight: 600; margin-top: 10px;">Create Trip</h4>
    </div>
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-12">
                            <label for="clusterno">Cluster No.</label>
                            <select id="clusterno" name="clusterno" class="form-control" >
                              <option value="" disabled>--Select Cluster No.--</option>
                            </select>
                         </div>
                         <div class="col-xl-3 col-lg-12">
                            <label for="tempcl">Temp Cluster</label>
                            <select id="tempcl" name="tempcl" class="form-control" >
                              <option value="" disabled>--Select Temp Cluster--</option>
                            </select>
                         </div>
                         <div class="col-xl-3 col-lg-12">
                            <label for="regno">Vehicle Registration No.</label>
                            <select id="regno" name="regno" class="form-control" >
                              <option value="" disabled>--Select Vehicle Registration No.--</option>
                            </select>
                         </div>
                         <div class="col-xl-3 col-lg-12">
                            <label></label>
                            <agm-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="false" [zoomControl]="false"
                            [fullscreenControlOptions]="options" [style.height.px]="myInnerHeight">
                          </agm-map>
                         </div>
                         <div class="col-xl-3 col-lg-12 sp">
                            <label for="vehicletype">Vehicle Type</label>
                            <select id="vehicletype" name="vehicletype" class="form-control" >
                              <option value="" disabled>--Select Vehicle Type--</option>
                            </select>
                         </div>
                         <div class="col-xl-3 col-lg-12 sp">
                            <label for="fleettype">Fleet Type</label>
                            <select id="fleettype" name="fleettype" class="form-control" >
                              <option value="" disabled>--Select Fleet Type--</option>
                            </select>
                         </div>
                         <div class="col-xl-3 col-lg-12 sp">
                           <label></label><br>
                           <button type="button" class="btn btn-sucesss sl" name="updateorderBtn" (click)="onUpdate()">
                               Check Orders
                           </button>
                        </div>
                         <div class="col-xl-3 col-lg-12" style="text-align: center;">
                            <label></label>
                            <button type="button" class="btn btn-infos" name="updateorderBtn" >
                                Open Map
                            </button>
                         </div>
                         <div class="col-xl-3 col-lg-12 spp">
                            <label for="noofor">No. Of Orders</label>
                            <input type="number" id="noofor" name="noofor" placeholder="No.Of Orders" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 spp">
                            <label for="capacity">Capacity (Kgs)</label>
                            <input type="number" id="capacity" name="capacity" placeholder="Capacity (Kgs)" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 spp">
                            <label for="ttlload">Total Load (Kgs)</label>
                            <input type="number" id="ttlload" name="ttlload" placeholder="Total Load (Kgs)" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 spp">
                            <label for="nooftp">No. Of Touch Point</label>
                            <input type="number" id="nooftp" name="nooftp" placeholder="No.Of Touch Point" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 bt">
                            <label for="ttlamt">Total Amount</label>
                            <input type="number" id="ttlamt" name="ttlamt" placeholder="Total Amount" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 bt">
                            <label for="ltreport">Late Reporting</label>
                            <input type="number" id="ltreport" name="ltreport" placeholder="Late Reporting" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 bt">
                            <label for="pnltcharge">Penalty Charge</label>
                            <input type="number" id="pnltcharge" name="pnltcharge" placeholder="Penalty Charge" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 bt">
                            <label for="startTime">Start Time</label>
                            <input type="number" id="pnltcharge" name="pnltcharge" placeholder="Start Time" class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 bt">
                            <label for="tripno">Trip No.</label>
                            <input type="number" id="tripno" name="tripno" placeholder="Trip No." class="form-control">
                         </div>
                         <div class="col-xl-3 col-lg-12 bt">
                            <label for="startkm">Starting km</label>
                            <input type="number" id="startkm" name="startkm" placeholder="Starting km" class="form-control">
                         </div>
                         <!-- <div class="col-xl-3 col-lg-12 bt">
                            <label></label><br>
                            <button type="button" class="btn btn-sucesss sl" name="updateorderBtn" (click)="onUpdate()">
                                Check Orders
                            </button>
                         </div> -->
                         <div class="col-xl-3 col-lg-12 bt">
                            <label ></label><br>
                            <a href="javascript:void(0);"><i class=" fa fa-file-pdf-o" (click)="open()"  style="font-size:45px;border-bottom: 1px solid skyblue;"></i></a>
                         </div>
                         <div class="col-xl-12 col-lg-12 bt" style="text-align: right;">
                            <label></label><br>
                            <button type="button" class="btn btn-primary sl" name="starttrip" >
                                Start Trip <i class="fa fa-arrow-right" ></i>
                            </button>
                         </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [baseZIndex]="10000"
[modal]="true" appendTo="body" positionTop="100"
class="testme" [style]="{width: '95%',height: '180%', overflow: 'auto'}">
   <p-header>
      <div class="hideCloseHeader">
          <div class="row">
              <div class="col-md-6">
                  <h4>Shipment Manifest</h4>
              </div>
              <div class="col-md-6 text-right ovelFieldForm">
                  <button style="margin-right: 10px;" class="btn btn-raised btn-raised btn-primary"
                      printSectionId="print-section" ngxPrint >Print</button>
                  <button class="btn btn-raised btn-raised btn-primary" (click)="display = false">Close</button>
              </div>
          </div>
          <div class="hideClose"></div>
      </div>
  </p-header>
  <!-- <div  class="borderTable" style="padding:10px 15px; position: relative;z-index: 9;"> -->
   <div class="sp-mft" id="print-section">
   <h4 class="txt-header"><b>Shipping Manifest</b></h4>

   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt">Trip No</span>
      </div>
      <div class="col-6">
         <span class="txt">Dated</span>
      </div>
   </div>
   
   <br>
   <div class="row">
      <div class="col-4">
         <span class="txt">Trip Type</span>
      </div>
      <div class="col-4">
         <span class="txt">Ountbound/Inbound</span>
      </div>
      <div class="col-4">
         <span class="txt">HubId</span>
      </div>
     
   </div>
   
   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt"> No of Assignment</span>
      </div>
      <div class="col-6">
         <span class="txt"> Total Load in (KG)</span>
      </div>
     
   </div>

   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt"> Vehicle No.</span>
      </div>
      <div class="col-6">
         <span class="txt">  Vehicle Type</span>
      </div>
     
   </div>

   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt">  Vehicle InTime</span>
      </div>
      <div class="col-6">
         <span class="txt">  Vehicle KM reading</span>
      </div>
     
   </div>
   
   <br>
   <div class="row">
      <div class="col-12">
         <span class="txt"> No. Of touch Point</span>
      </div>
   </div>
   
   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt"> Driver Name</span>
      </div>
      <div class="col-6">
         <span class="txt"> Agent Name</span>
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt"> Driver Cell No.</span>
      </div>
      <div class="col-6">
         <span class="txt"> Total Estimated Round Trip KM</span>
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-6">
         <span class="txt">  Delivery Boy Nmae</span>
      </div>
      <div class="col-6">
         <span class="txt">  Delivery Boy Number</span>
      </div>
   </div>

   <br>
   <div >
      <table >
          <thead>
            <tr>
              <th>Sr No.</th> 
              <th>Assignment No.</th> 
                <th>Assignment Value</th>   
                <th>Assignment Weight</th>  
                <th> EWB Applicabl </th>    
            </tr>
          </thead>
          <tbody>
            <tr>
               <td>John</td>
               <td>Doe</td>
               <td>80</td>
                 <td>hkju</td>
                 <td>njhyiu</td>
               
                 
                  
            </tr>
          </tbody>
        </table>
  
    </div>

    <br>
    <h5 style="text-align: center;font-weight: 600;text-decoration: underline;">EWB Details</h5>

      <table>
      <thead>
         <tr>
           <th>Order Id</th> 
           <th>Order Date</th> 
             <th>Order Value</th>   
             <th>EWB No.</th>  
             <th> EWB Date </th>    
         </tr>
       </thead>
       <tbody>
         <tr>
           
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
              <td>hkju</td>
              <td>njhyiu</td>
               
         </tr>
       </tbody>
     
     
       
     
    </table>

    <br>
    <div class="row">
      <div class="col-12">
         <span class="txt">  Vehicle Out Time</span>
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-12">
         <span class="txt"> Driver Declaration:
         माल पूर्ण रूप से प्राप्त हुआ | सभी इनवाइस कॉपी भी प्राप्त हुई है | </span>
      </div>
   </div>


   <div class="row">
      <div class="col-10">
       
      </div>
      <div class="col-2">
         <span class="txt"> Driver Sign</span>
      </div>
   </div>

   <br>
   <div class="row">
      <div class="col-3">
         <span class="txt">  Security Sign</span>
      </div>
      <div class="col-3">
         <span class="txt">  Driver Sign</span>
      </div>
      <div class="col-3">
         <span class="txt"> Delivery Sign</span>
      </div>

      <div class="col-3">
         <span class="txt"> Cashier Sign</span>
      </div>
   </div>
</div>
   </p-dialog>

   