.wd {
  padding-left: 40px;
  padding-right: 40px;
}
.wd-info {
  padding-left: 39px;
  padding-right: 35px;
}

.tow {
  border-bottom: solid 1px orangered;
  margin-bottom: 1em;
}

.inpt {
  width: 100%;
  border: solid 1px lightgray;
  padding: 0.4em;
  border-radius: 5px;
  background: rgb(231, 230, 230);
}

.addr {
  width: 30%;
  max-width: 30%;
}

#tb {
  tr > td {
    border-bottom: solid 1px !important;
  }
}

.box {
  display: inline-block;
  width: 23%;
  border: solid 1px #e9754e;
  border-radius: 4px;
  margin-bottom: 1em;
  .num-bx {
    height: 10vh;
    padding: 0.5em 1em;

    .txt {
      color: black;
      font-size: 0.8rem;
      float: right;
    }

    .num {
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1.8rem; //3rem;
    }
    .bt {
      font-size: 0.8rem;
      float: right;
      border: solid 1px lightblue;
      border-radius: 21px;
      margin-top: -1.8rem; //-2rem;
      background: lightblue;
      color: blue;
    }
  }
}

.bx {
  margin-right: 2%;
}
.bx1 {
  margin-right: 2%;
  margin-left: 1%;
}
.box1 {
  display: inline-block;
  width: 23%;
  border-radius: 4px;
  margin-bottom: 1em;
  background-color: blue;
  .txt {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.5rem; // 2.5rem;
  }
}

.btx {
  margin-bottom: 10px;
  margin-right: -5px;
  margin-left: -5px;

  .c25 {
    border: solid 1px rgb(233, 231, 227);
    border-radius: 1px;
    background: rgb(245, 244, 242);
    text-align: center;
    padding: 1.5em 0em 1.5em 0em;
    margin: 0em -10px;
    min-height: 15vh;
    vertical-align: middle;
    display: grid;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 0em !important;
    }
    .p1 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .p2 {
      font-size: 0.9rem;
      font-weight: 100;
      opacity: 0.8;
    }
  }

  .c26 {
    background-color: #f6baba !important;
    color: #fd6363 !important;
  }
}

.cnt {
  height: 80vh;
  overflow-y: auto;
  position: relative;
}

.info-box {
  position: fixed;
  z-index: 1008;
  background: rgb(224, 3, 3);
  opacity: 0.9;
  right: 0;
  padding: 1em;
  border: solid 3px rgb(134, 9, 134);
  border-radius: 9px;
  top: 40vh;
  color: white;
}

.cnt-1 {
  height: 100vh;
  overflow-y: auto;
}

.man {
  background-color: rgba(233, 165, 165, 0.781) !important;
  
}

.nt-man {
  background-color: rgb(119, 240, 193) !important;
}


.hdrr {
  color: orangered;
  font-weight: bold;
  font-size: 2em;
  padding: .5em !important;
}

.lft-1{
  margin-right: 1em;
}
.vm
{
  float: right;
  margin-top: 31px;
}


.mrr-2{
  margin-top: 2rem;
}

.ss{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media print {
  .no-print {
      display: none !important;
  }

  .border {
      border: 1px solid #000 !important;
  }

  th, td {
      border: solid #000 !important;
      border-width: 0 1px 1px 0 !important;
      border-spacing: 0;
      padding: 0;
      text-align: center;
  }
}
.gr{
  background: green !important;
  color: white;
}
.yl{
  background: rgb(228, 169, 6) !important;
  color: black !important;
}
// .radio{
//   padding: 25px 0px 10px 155px;
//   font-size: x-large;
// }
h6{
  text-align: center;
}
.txt-cl{
  color: white !important;
}
input.larger {
  width: 25px;
  height: 25px;
}