.reqError{
    color: #ff0000; /*Red Color*/
    font-weight: bold;
    font-size:18px;
}

.form-control{
    max-width: 80%;
}
#btn1{
     margin-left: 85%;
}
hr {
     margin-top: 0rem !important; 
    margin-bottom: 1.5rem;
    border: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pad{
    padding-top: 10px;
}
h6, .h6 {
    font-size: 1rem;
    font-weight: 500;
}
.setScroll {
    height: 480px;
    overflow: scroll;
}