


.hrd{
    font-size: 1.2rem;
    color: #343553;
    font-weight: bold;
    margin-bottom: .3em;
}

.bddt{
    font-size: .9rem;
    color: #343553;
    font-weight: 500;
    margin-bottom: .6em;
}