.editbtn{
    background-color: #2b59e2;
    color: white;
    border: none;
}

.delbtn{
    background-color: #c92813;
    color: white;
    border: none;
}

.editbtn{
    background-color: #2b59e2;
    color: white;
    border: none;
}

.container{
    height:210px !important; 
}
h5{
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
    color: #0452a5;
  }