<div class="card tp common-padding">
    <div *ngIf="selfieDetailsDcs != null && selfieDetailsDcs.FrontFileUrl">  
        <!-- <div class="text-right">
            <button class="btn btn-primary" style="margin-left: .5em; margin-right: .5em;" (click)="Onhistory()" >history</button>
        </div>  -->
        <div class="row" >
            <div class="col-md-3 col-sm-3 col-12">
                <div class="ml cp"></div>
            </div>
            <div class="col-md-9 col-sm-9 col-12 text-right">
            <div class="ml cl">
                <!-- <button type="button" class="btn btn-raised btn-danger mr-1" (click)="onClickPostArthmate()">Post Arthmate</button> -->
            </div>
        </div>
        </div>     
        <!-- <div class="row" *ngIf="!isVerified">
            <div class="col-md-3 col-sm-3 col-12">
                <div class="ml cp">Selfie</div>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
                <div class="ml cl">
                    <div>
                        <div class="p-img" *ngIf="selfieDetailsDcs && selfieDetailsDcs.FrontFileUrl">
                            <app-image-upload type="Product" [frontImagePath]="selfieDetailsDcs.FrontFileUrl"
                                [isShowMyInputLogo]="true" [SequenceName]="'Selfie'"
                                [uploadImagePage]="selfieDetailsDcs.FrontFileUrl" [isRequired]="true" [showUploadedImage]="false"
                                (detectchange)="onUploadSelfieimage($event)">
                                <div class="uploadImgShow" uploadLogo>
                                  <img src="{{baseURL}}{{selfieDetailsDcs.FrontFileUrl}}" class="button-img">
                                </div>
                            </app-image-upload>
                        </div>
                        <div class="p-img-nt" *ngIf="!selfieDetailsDcs || (selfieDetailsDcs && !selfieDetailsDcs.FrontFileUrl)">
                            <app-image-upload type="Product" id="imageValid" [isShowMyInputLogo]="true"
                                [isRequired]="true" [showUploadedImage]="false" [SequenceName]="'Selfie'"
                                [uploadImagePage]="'selfieDetailsDcs'" (detectchange)="onUploadSelfieimage($event)">
                                <div uploadLogo>
                                  <img src="assets/img/gallery.svg" class="button-logo">
                                    <div style="color: #E9754E;">Click Selfie</div>
                                    <div>Supports JPG,JPEG,PNG</div>
                                </div>
                            </app-image-upload>           
                        </div>
                    </div>
            </div>
        </div>     
        </div> -->
        <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
                <div class="ml cp">Selfie</div>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
                <div class="ml cl">
                    <div>
                        <div class="p-img" *ngIf="selfieDetailsDcs && selfieDetailsDcs.FrontFileUrl">
                                <div class="uploadImgShow" uploadLogo>
                                  <img src="{{baseURL}}{{selfieDetailsDcs.FrontFileUrl}}" class="button-img"  (click)="openImg(selfieDetailsDcs.FrontFileUrl)">
                                </div>
                        </div>
                    </div>
            </div>
        </div>   
        <div class="col-md-3 col-sm-3 col-12">
            <div class="ml cp"></div>
        </div>
        <div class="col-md-9 col-sm-9 col-12">
            <div class="ml cl">
                <div>
                    <div class="p-img" *ngIf="selfieDetailsDcs && selfieDetailsDcs.FrontFileUrl && !isVerified && !isRejected">
                            <div class="uploadImgShow" uploadLogo>
                                <app-image-upload type="Product" id="imageValid" [isShowMyInputLogo]="true"
                                [isRequired]="true" [showUploadedImage]="false" [SequenceName]="'Selfie'"
                                [uploadImagePage]="'selfieDetailsDcs'" (detectchange)="onUploadSelfieimage($event)">
                                <div uploadLogo>
                                    <button class="btn btn-primary">Upload Selfie Image</button>
                                    <div>Supports JPG,JPEG,PNG</div>
                                </div>
                            </app-image-upload>   
                            </div>
                    </div>
                </div>
        </div>
    </div>   
       
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
                <div class="ml cp">Status</div>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
                <div class="ml cl">
                    <span *ngIf="isVerified" style="color:green;">
                        Verified
                    </span>
                    <span *ngIf="isRejected" style="color:red;">
                        Rejected
                    </span>
                </div>
            </div>
        </div>  
        <!-- *ngIf="!isVerified && !isRejected && rowData?.SequenceNo == 7" -->
        <!-- && !isVerified && !isRejected -->
        <!-- {{loanPosted}} {{selfieDetailsDcs?.IsApprove}} -->
        <div class="row" *ngIf="!loanPosted">
            <div class="col-md-3 col-sm-3 col-12">
                <div class="ml cp"></div>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
            <div class="ml cl" style="float: right;">
                <i class="fa fa-times-circle" style="font-size:30px;color:red;float: right;margin-left: .5em;" (click)="onRejectDoc()"></i>
                <i class="fa fa-check-circle" style="font-size:30px;color:green;float: right;" (click)="onApproved()"></i>
                <button class="btn btn-primary" style="margin-left: .5em; margin-right: .5em;" *ngIf="isUpload" (click)="onUpdate()">Update</button>
            </div>
        </div>
        </div>  
        <div class="row" *ngIf="loanPosted">
            <div class="col-md-3 col-sm-3 col-12">
                <div class="ml cp"></div>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
            <div class="ml cl">
                <i class="fa fa-times-circle" *ngIf="isRejected" style="font-size:30px;color:red;float: right;margin-left: .5em;"></i>
                <i class="fa fa-check-circle" *ngIf="isVerified" style="font-size:30px;color:green;float: right;"></i>
            </div>
        </div>
        </div>        
    </div>
    <div class="no-Txt" *ngIf="selfieDetailsDcs == null || selfieDetailsDcs != null && !selfieDetailsDcs.FrontFileUrl">* No Record Found</div>
</div>

<p-dialog [(visible)]="isopenPopup" [resizable]="false" [modal]="true" appendTo="body" positionTop="100"
    [style]="{width: 'auto', overflow: 'auto'}">
    <p-header>Selfie Image</p-header>
    <div class="ui-fluid">
      <img src="{{Img}}" class="view-img"/>
    </div>
</p-dialog>

<p-dialog [(visible)]="isRejectDoc" [resizable]="false" [modal]="true" appendTo="body" positionTop="100"
    [style]="{width: 'auto', overflow: 'auto'}">
    <p-header>Reason For Reject</p-header>
    <div class="ui-fluid">
      <input type="text" id="_selfiecomment" name="_selfiecomment" class="form-control" [(ngModel)]="Comment" placeholder="Enter Reason For Reject">
    </div>
    <p-footer>
        <button class="btn btn-primary" style="margin-left: .5em; margin-right: .5em;" (click)="onReject()">Reject</button>
    </p-footer>
</p-dialog>


<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
  [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
  fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
